In [1]:
import pandas as pd
import numpy as np
import pathfinder as pf

In [2]:
filename = "censo_1872_ce-002_p3.csv"
path = pf.find_file(filename)
df = pd.read_csv(path)

In [3]:
df = df[:len(df) - 1]
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Totais,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,NaN,NaN,NaN,Meses,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,das Raças,NaN,NaN,NaN,das Condições,NaN,dos Sexos,NaN
1,Sexos,Condições,Raças,“1”,“2”,“3”,“4”,“5”,“6”,“7”,...,Maiores de 100,Não determinadas,Brancos,Pardos,Pretos,Caboclos,Livres,Escravos,Homens,Mulheres
2,Homens,Livres,Brancos,0,0,0,0,0,0,0,...,0,0,18,0,0,0,41,0,41,0
3,NaN,NaN,Pardos,0,0,0,0,0,0,0,...,0,0,0,6,0,0,NaN,0,NaN,0
4,NaN,NaN,Pretos,0,0,0,0,0,0,0,...,0,0,0,0,16,0,NaN,0,NaN,0
5,NaN,NaN,Caboclos,0,0,0,0,0,0,0,...,0,0,0,0,0,1,NaN,0,NaN,0
6,NaN,Escravos,Pardos,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0
7,NaN,NaN,Pretos,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,0
8,Mulheres,Livres,Brancas,0,0,0,0,0,0,0,...,0,0,34,0,0,0,76,0,0,76
9,NaN,NaN,Pardas,0,0,0,0,0,0,0,...,0,0,0,12,0,0,NaN,0,0,NaN
10,NaN,NaN,Pretas,0,0,0,0,0,0,0,...,0,0,0,0,28,0,NaN,0,0,NaN
11,NaN,NaN,Caboclas,0,0,0,0,0,0,0,...,0,0,0,0,0,2,NaN,0,0,NaN
12,NaN,Escravas,Pardas,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
13,NaN,NaN,Pretas,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,0,NaN
14,NaN,Soma geral,NaN,0,0,0,0,0,0,0,...,0,0,52,18,44,3,117,0,41,76

In [4]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Totais', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40'],
      dtype='object')

# População menor que 1 ano

In [5]:
meses = df[['Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']]
meses.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,Meses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sexos,Condições,Raças,“1”,“2”,“3”,“4”,“5”,“6”,“7”,“8”,“9”,“10”,“11”
2,Homens,Livres,Brancos,0,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,Pardos,0,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,Pretos,0,0,0,0,0,0,0,0,0,0,0

In [6]:
new_header = meses.iloc[1]
meses.columns = new_header
meses = meses[2:]
meses.head()

1   Sexos Condições     Raças “1” “2” “3” “4” “5” “6” “7” “8” “9” “10” “11”
2  Homens    Livres   Brancos   0   0   0   0   0   0   0   0   0    0    0
3     NaN       NaN    Pardos   0   0   0   0   0   0   0   0   0    0    0
4     NaN       NaN    Pretos   0   0   0   0   0   0   0   0   0    0    0
5     NaN       NaN  Caboclos   0   0   0   0   0   0   0   0   0    0    0
6     NaN  Escravos    Pardos   0   0   0   0   0   0   0   0   0    0    0

In [7]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Meses', '1'),
    ('Meses', '2'),
    ('Meses', '3'),
    ('Meses', '4'),
    ('Meses', '5'),
    ('Meses', '6'),
    ('Meses', '7'),
    ('Meses', '8'),
    ('Meses', '9'),
    ('Meses', '10'),
    ('Meses', '11')
])

meses.columns = columns_multiindex

meses

                                   Meses
       Sexos   Condições     Raças     1  2  3  4  5  6  7  8  9 10 11
2     Homens      Livres   Brancos     0  0  0  0  0  0  0  0  0  0  0
3        NaN         NaN    Pardos     0  0  0  0  0  0  0  0  0  0  0
4        NaN         NaN    Pretos     0  0  0  0  0  0  0  0  0  0  0
5        NaN         NaN  Caboclos     0  0  0  0  0  0  0  0  0  0  0
6        NaN    Escravos    Pardos     0  0  0  0  0  0  0  0  0  0  0
7        NaN         NaN    Pretos     0  0  0  0  0  0  0  0  0  0  0
8   Mulheres      Livres   Brancas     0  0  0  0  0  0  0  0  0  0  1
9        NaN         NaN    Pardas     0  0  0  0  0  0  0  0  0  0  0
10       NaN         NaN    Pretas     0  0  0  0  0  0  0  0  0  0  0
11       NaN         NaN  Caboclas     0  0  0  0  0  0  0  0  0  0  0
12       NaN    Escravas    Pardas     0  0  0  0  0  0  0  0  0  0  0
13       NaN         NaN    Pretas     0  0  0  0  0  0  0  0  0  0  0
14       NaN  Soma geral       NaN     0  0  0  0  0  0  0  0  0  0  1

In [8]:
meses[('', 'Sexos')] = meses[('', 'Sexos')].ffill()

meses[('', 'Condições')] = meses[('', 'Condições')].ffill()

meses.loc[14, ('', 'Raças')] = 'Total'
meses

                                   Meses
       Sexos   Condições     Raças     1  2  3  4  5  6  7  8  9 10 11
2     Homens      Livres   Brancos     0  0  0  0  0  0  0  0  0  0  0
3     Homens      Livres    Pardos     0  0  0  0  0  0  0  0  0  0  0
4     Homens      Livres    Pretos     0  0  0  0  0  0  0  0  0  0  0
5     Homens      Livres  Caboclos     0  0  0  0  0  0  0  0  0  0  0
6     Homens    Escravos    Pardos     0  0  0  0  0  0  0  0  0  0  0
7     Homens    Escravos    Pretos     0  0  0  0  0  0  0  0  0  0  0
8   Mulheres      Livres   Brancas     0  0  0  0  0  0  0  0  0  0  1
9   Mulheres      Livres    Pardas     0  0  0  0  0  0  0  0  0  0  0
10  Mulheres      Livres    Pretas     0  0  0  0  0  0  0  0  0  0  0
11  Mulheres      Livres  Caboclas     0  0  0  0  0  0  0  0  0  0  0
12  Mulheres    Escravas    Pardas     0  0  0  0  0  0  0  0  0  0  0
13  Mulheres    Escravas    Pretas     0  0  0  0  0  0  0  0  0  0  0
14  Mulheres  Soma geral     Total     0  0  0  0  0  0  0  0  0  0  1

In [9]:
# colunas_bebes = [('Meses', '1'), ('Meses', '2'), ('Meses', '3'), ('Meses', '4'), ('Meses', '5'), ('Meses', '6'), ('Meses', '7'), ('Meses', '8'), ('Meses', '9'), ('Meses', '10'), ('Meses', '11')]
# df_no_transpose[colunas_bebes] = df_no_transpose[colunas_bebes].apply(pd.to_numeric)

# homens_livres = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Livres') & (df_no_transpose[('', 'Sexos')] == 'Homens')]
# homens_escravos = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Escravos') & (df_no_transpose[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_bebes].sum() + homens_escravos[colunas_bebes].sum()

# soma_homens

In [10]:
# mulheres_livres = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Livres') & (df_no_transpose[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Escravas') & (df_no_transpose[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_bebes].sum() + mulheres_escravas[colunas_bebes].sum()

# soma_mulheres

In [11]:
# total = soma_homens + soma_mulheres
# total

In [12]:
colunas_bebes = [('Meses', '1'), ('Meses', '2'), ('Meses', '3'), ('Meses', '4'), ('Meses', '5'), ('Meses', '6'), ('Meses', '7'), ('Meses', '8'), ('Meses', '9'), ('Meses', '10'), ('Meses', '11')]
meses[colunas_bebes] = meses[colunas_bebes].apply(pd.to_numeric)

soma_homens_livres_bebes_brancos = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Brancos')]
soma_homens_livres_bebes_pardos = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Pardos')]
soma_homens_livres_bebes_pretos = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Pretos')]
soma_homens_livres_bebes_caboclos = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_bebes_pardos = meses.loc[(meses[('', 'Condições')] == 'Escravos') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_bebes_pretos = meses.loc[(meses[('', 'Condições')] == 'Escravos') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Pretos')]
soma_homens_livres_bebes = soma_homens_livres_bebes_brancos[colunas_bebes].sum() + soma_homens_livres_bebes_pardos[colunas_bebes].sum() + soma_homens_livres_bebes_pretos[colunas_bebes].sum() + soma_homens_livres_bebes_caboclos[colunas_bebes].sum()
soma_homens_escravos_bebes = soma_homens_escravos_bebes_pardos[colunas_bebes].sum() + soma_homens_escravos_bebes_pretos[colunas_bebes].sum()

soma_homens_livres_bebes_brancos = soma_homens_livres_bebes_brancos[colunas_bebes].sum()
soma_homens_livres_bebes_pardos = soma_homens_livres_bebes_pardos[colunas_bebes].sum()
soma_homens_livres_bebes_pretos = soma_homens_livres_bebes_pretos[colunas_bebes].sum()
soma_homens_livres_bebes_caboclos = soma_homens_livres_bebes_caboclos[colunas_bebes].sum()
soma_homens_escravos_bebes_pardos = soma_homens_escravos_bebes_pardos[colunas_bebes].sum()
soma_homens_escravos_bebes_pretos = soma_homens_escravos_bebes_pretos[colunas_bebes].sum()

soma_homens_bebes = soma_homens_livres_bebes + soma_homens_escravos_bebes
print(soma_homens_bebes)
print("Total de bebês homens livres brancos: " + str(soma_homens_livres_bebes_brancos[colunas_bebes].sum()))
print("Total de bebês homens livres pardos: " + str(soma_homens_livres_bebes_pardos[colunas_bebes].sum()))
print("Total de bebês homens livres pretos: " + str(soma_homens_livres_bebes_pretos[colunas_bebes].sum()))
print("Total de bebês homens livres caboclos: " + str(soma_homens_livres_bebes_caboclos[colunas_bebes].sum()))
print("Total de bebês homens escravos pardos: " + str(soma_homens_escravos_bebes_pardos[colunas_bebes].sum()))
print("Total de bebês homens escravos pretos: " + str(soma_homens_escravos_bebes_pretos[colunas_bebes].sum()))
print("Total de homens bebês livres: " + str(soma_homens_livres_bebes[colunas_bebes].sum()))
print("Total de homens bebês escravos: " + str(soma_homens_escravos_bebes[colunas_bebes].sum()))
print("Total de homens bebês: " + str(soma_homens_bebes[colunas_bebes].sum()))

Meses  1     0
       2     0
       3     0
       4     0
       5     0
       6     0
       7     0
       8     0
       9     0
       10    0
       11    0
dtype: int64
Total de bebês homens livres brancos: 0
Total de bebês homens livres pardos: 0
Total de bebês homens livres pretos: 0
Total de bebês homens livres caboclos: 0
Total de bebês homens escravos pardos: 0
Total de bebês homens escravos pretos: 0
Total de homens bebês livres: 0
Total de homens bebês escravos: 0
Total de homens bebês: 0

In [13]:
soma_mulheres_livres_bebes_brancas = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_bebes_pardas = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_bebes_pretas = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_bebes_caboclas = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_bebes_pardas = meses.loc[(meses[('', 'Condições')] == 'Escravas') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_bebes_pretas = meses.loc[(meses[('', 'Condições')] == 'Escravas') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_bebes = soma_mulheres_livres_bebes_brancas[colunas_bebes].sum() + soma_mulheres_livres_bebes_pardas[colunas_bebes].sum() + soma_mulheres_livres_bebes_pretas[colunas_bebes].sum() + soma_mulheres_livres_bebes_caboclas[colunas_bebes].sum()
soma_mulheres_escravas_bebes = soma_mulheres_escravas_bebes_pardas[colunas_bebes].sum() + soma_mulheres_escravas_bebes_pretas[colunas_bebes].sum()

soma_mulheres_livres_bebes_brancas = soma_mulheres_livres_bebes_brancas[colunas_bebes].sum()
soma_mulheres_livres_bebes_pardas = soma_mulheres_livres_bebes_pardas[colunas_bebes].sum()
soma_mulheres_livres_bebes_pretas = soma_mulheres_livres_bebes_pretas[colunas_bebes].sum()
soma_mulheres_livres_bebes_caboclas = soma_mulheres_livres_bebes_caboclas[colunas_bebes].sum()
soma_mulheres_escravas_bebes_pardas = soma_mulheres_escravas_bebes_pardas[colunas_bebes].sum()
soma_mulheres_escravas_bebes_pretas = soma_mulheres_escravas_bebes_pretas[colunas_bebes].sum()

soma_mulheres_bebes = soma_mulheres_livres_bebes + soma_mulheres_escravas_bebes
print(soma_mulheres_bebes)
print("Total de bebês mulheres livres brancas: " + str(soma_mulheres_livres_bebes_brancas[colunas_bebes].sum()))
print("Total de bebês mulheres livres pardas: " + str(soma_mulheres_livres_bebes_pardas[colunas_bebes].sum()))
print("Total de bebês mulheres livres pretas: " + str(soma_mulheres_livres_bebes_pretas[colunas_bebes].sum()))
print("Total de bebês mulheres livres caboclas: " + str(soma_mulheres_livres_bebes_caboclas[colunas_bebes].sum()))
print("Total de bebês mulheres escravas pardas: " + str(soma_mulheres_escravas_bebes_pardas[colunas_bebes].sum()))
print("Total de bebês mulheres escravas pretas: " + str(soma_mulheres_escravas_bebes_pretas[colunas_bebes].sum()))
print("Total de mulheres bebês livres: " + str(soma_mulheres_livres_bebes[colunas_bebes].sum()))
print("Total de mulheres bebês escravas: " + str(soma_mulheres_escravas_bebes[colunas_bebes].sum()))
print("Total de mulheres bebês: " + str(soma_mulheres_bebes[colunas_bebes].sum()))

Meses  1     0
       2     0
       3     0
       4     0
       5     0
       6     0
       7     0
       8     0
       9     0
       10    0
       11    1
dtype: int64
Total de bebês mulheres livres brancas: 1
Total de bebês mulheres livres pardas: 0
Total de bebês mulheres livres pretas: 0
Total de bebês mulheres livres caboclas: 0
Total de bebês mulheres escravas pardas: 0
Total de bebês mulheres escravas pretas: 0
Total de mulheres bebês livres: 1
Total de mulheres bebês escravas: 0
Total de mulheres bebês: 1

In [14]:
soma_total_bebes = meses.loc[(meses[('', 'Condições')] == 'Soma geral') & (meses[('', 'Raças')] == 'Total')]
soma_total_bebes = soma_total_bebes[colunas_bebes].sum()
soma_total_bebes = int(soma_total_bebes.sum())

soma_homens_bebes = int(soma_homens_bebes.sum())
soma_mulheres_bebes = int(soma_mulheres_bebes.sum())

print("Soma de homens e mulheres bebês: " + str(soma_homens_bebes + soma_mulheres_bebes))
print("Total de homens e mulheres bebês: " + str(soma_total_bebes))

if soma_total_bebes == soma_homens_bebes + soma_mulheres_bebes:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_bebes))
    print("Total da soma efetuada: " + str(soma_homens_bebes + soma_mulheres_bebes))

Soma de homens e mulheres bebês: 1
Total de homens e mulheres bebês: 1
OK

# População entre 1 e 5 anos

In [15]:
anos = df[['Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18']]
anos.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,Anos completos,NaN,NaN,NaN,NaN
1,Sexos,Condições,Raças,“1”,“2”,“3”,“4”,“5”
2,Homens,Livres,Brancos,0,0,0,0,0
3,NaN,NaN,Pardos,0,0,0,0,0
4,NaN,NaN,Pretos,0,0,0,0,0

In [16]:
new_header = anos.iloc[1]
anos.columns = new_header
anos = anos[2:]
anos.head()

1   Sexos Condições     Raças “1” “2” “3” “4” “5”
2  Homens    Livres   Brancos   0   0   0   0   0
3     NaN       NaN    Pardos   0   0   0   0   0
4     NaN       NaN    Pretos   0   0   0   0   0
5     NaN       NaN  Caboclos   0   0   0   0   0
6     NaN  Escravos    Pardos   0   0   0   0   0

In [17]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Anos completos', '1'),
    ('Anos completos', '2'),
    ('Anos completos', '3'),
    ('Anos completos', '4'),
    ('Anos completos', '5')
])

anos.columns = columns_multiindex

anos

                                   Anos completos
       Sexos   Condições     Raças              1  2  3  4  5
2     Homens      Livres   Brancos              0  0  0  0  0
3        NaN         NaN    Pardos              0  0  0  0  0
4        NaN         NaN    Pretos              0  0  0  0  0
5        NaN         NaN  Caboclos              0  0  0  0  0
6        NaN    Escravos    Pardos              0  0  0  0  0
7        NaN         NaN    Pretos              0  0  0  0  0
8   Mulheres      Livres   Brancas              0  2  0  0  1
9        NaN         NaN    Pardas              0  0  0  0  0
10       NaN         NaN    Pretas              1  0  1  0  1
11       NaN         NaN  Caboclas              0  0  0  0  0
12       NaN    Escravas    Pardas              0  0  0  0  0
13       NaN         NaN    Pretas              0  0  0  0  0
14       NaN  Soma geral       NaN              1  2  1  0  2

In [18]:
anos[('', 'Sexos')] = anos[('', 'Sexos')].ffill()

anos[('', 'Condições')] = anos[('', 'Condições')].ffill()

anos.loc[14, ('', 'Raças')] = 'Total'
anos

                                   Anos completos
       Sexos   Condições     Raças              1  2  3  4  5
2     Homens      Livres   Brancos              0  0  0  0  0
3     Homens      Livres    Pardos              0  0  0  0  0
4     Homens      Livres    Pretos              0  0  0  0  0
5     Homens      Livres  Caboclos              0  0  0  0  0
6     Homens    Escravos    Pardos              0  0  0  0  0
7     Homens    Escravos    Pretos              0  0  0  0  0
8   Mulheres      Livres   Brancas              0  2  0  0  1
9   Mulheres      Livres    Pardas              0  0  0  0  0
10  Mulheres      Livres    Pretas              1  0  1  0  1
11  Mulheres      Livres  Caboclas              0  0  0  0  0
12  Mulheres    Escravas    Pardas              0  0  0  0  0
13  Mulheres    Escravas    Pretas              0  0  0  0  0
14  Mulheres  Soma geral     Total              1  2  1  0  2

In [19]:
# colunas_anos = [('Anos completos', '1'), ('Anos completos', '2'), ('Anos completos', '3'), ('Anos completos', '4'), ('Anos completos', '5')]
# df_no_transpose[colunas_anos] = df_no_transpose[colunas_anos].apply(pd.to_numeric)

# homens_livres = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Livres') & (df_no_transpose[('', 'Sexos')] == 'Homens')]
# homens_escravos = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Escravos') & (df_no_transpose[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_anos].sum() + homens_escravos[colunas_anos].sum()

# soma_homens

In [20]:
# mulheres_livres = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Livres') & (df_no_transpose[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Escravas') & (df_no_transpose[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_anos].sum() + mulheres_escravas[colunas_anos].sum()

# soma_mulheres

In [21]:
# total = soma_homens + soma_mulheres
# total

In [22]:
colunas_anos = [('Anos completos', '1'), ('Anos completos', '2'), ('Anos completos', '3'), ('Anos completos', '4'), ('Anos completos', '5')]
anos[colunas_anos] = anos[colunas_anos].apply(pd.to_numeric)

soma_homens_livres_anos_brancos = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Brancos')]
soma_homens_livres_anos_pardos = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Pardos')]
soma_homens_livres_anos_pretos = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Pretos')]
soma_homens_livres_anos_caboclos = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_anos_pardos = anos.loc[(anos[('', 'Condições')] == 'Escravos') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_anos_pretos = anos.loc[(anos[('', 'Condições')] == 'Escravos') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Pretos')]
soma_homens_livres_anos = soma_homens_livres_anos_brancos[colunas_anos].sum() + soma_homens_livres_anos_pardos[colunas_anos].sum() + soma_homens_livres_anos_pretos[colunas_anos].sum() + soma_homens_livres_anos_caboclos[colunas_anos].sum()
soma_homens_escravos_anos = soma_homens_escravos_anos_pardos[colunas_anos].sum() + soma_homens_escravos_anos_pretos[colunas_anos].sum()

soma_homens_livres_anos_brancos = soma_homens_livres_anos_brancos[colunas_anos].sum()
soma_homens_livres_anos_pardos = soma_homens_livres_anos_pardos[colunas_anos].sum()
soma_homens_livres_anos_pretos = soma_homens_livres_anos_pretos[colunas_anos].sum()
soma_homens_livres_anos_caboclos = soma_homens_livres_anos_caboclos[colunas_anos].sum()
soma_homens_escravos_anos_pardos = soma_homens_escravos_anos_pardos[colunas_anos].sum()
soma_homens_escravos_anos_pretos = soma_homens_escravos_anos_pretos[colunas_anos].sum()

soma_homens_anos = soma_homens_livres_anos + soma_homens_escravos_anos
print(soma_homens_anos)
print("Total de crianças homens livres brancos: " + str(soma_homens_livres_anos_brancos[colunas_anos].sum()))
print("Total de crianças homens livres pardos: " + str(soma_homens_livres_anos_pardos[colunas_anos].sum()))
print("Total de crianças homens livres pretos: " + str(soma_homens_livres_anos_pretos[colunas_anos].sum()))
print("Total de crianças homens livres caboclos: " + str(soma_homens_livres_anos_caboclos[colunas_anos].sum()))
print("Total de crianças homens escravos pardos: " + str(soma_homens_escravos_anos_pardos[colunas_anos].sum()))
print("Total de crianças homens escravos pretos: " + str(soma_homens_escravos_anos_pretos[colunas_anos].sum()))
print("Total de homens crianças livres: " + str(soma_homens_livres_anos[colunas_anos].sum()))
print("Total de homens crianças escravos: " + str(soma_homens_escravos_anos[colunas_anos].sum()))
print("Total de homens crianças: " + str(soma_homens_anos[colunas_anos].sum()))

Anos completos  1    0
                2    0
                3    0
                4    0
                5    0
dtype: int64
Total de crianças homens livres brancos: 0
Total de crianças homens livres pardos: 0
Total de crianças homens livres pretos: 0
Total de crianças homens livres caboclos: 0
Total de crianças homens escravos pardos: 0
Total de crianças homens escravos pretos: 0
Total de homens crianças livres: 0
Total de homens crianças escravos: 0
Total de homens crianças: 0

In [23]:
soma_mulheres_livres_anos_brancas = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_anos_pardas = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_anos_pretas = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_anos_caboclas = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_anos_pardas = anos.loc[(anos[('', 'Condições')] == 'Escravas') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_anos_pretas = anos.loc[(anos[('', 'Condições')] == 'Escravas') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_anos = soma_mulheres_livres_anos_brancas[colunas_anos].sum() + soma_mulheres_livres_anos_pardas[colunas_anos].sum() + soma_mulheres_livres_anos_pretas[colunas_anos].sum() + soma_mulheres_livres_anos_caboclas[colunas_anos].sum()
soma_mulheres_escravas_anos = soma_mulheres_escravas_anos_pardas[colunas_anos].sum() + soma_mulheres_escravas_anos_pretas[colunas_anos].sum()

soma_mulheres_livres_anos_brancas = soma_mulheres_livres_anos_brancas[colunas_anos].sum()
soma_mulheres_livres_anos_pardas = soma_mulheres_livres_anos_pardas[colunas_anos].sum()
soma_mulheres_livres_anos_pretas = soma_mulheres_livres_anos_pretas[colunas_anos].sum()
soma_mulheres_livres_anos_caboclas = soma_mulheres_livres_anos_caboclas[colunas_anos].sum()
soma_mulheres_escravas_anos_pardas = soma_mulheres_escravas_anos_pardas[colunas_anos].sum()
soma_mulheres_escravas_anos_pretas = soma_mulheres_escravas_anos_pretas[colunas_anos].sum()

soma_mulheres_anos = soma_mulheres_livres_anos + soma_mulheres_escravas_anos
print(soma_mulheres_anos)
print("Total de crianças mulheres livres brancas: " + str(soma_mulheres_livres_anos_brancas[colunas_anos].sum()))
print("Total de crianças mulheres livres pardas: " + str(soma_mulheres_livres_anos_pardas[colunas_anos].sum()))
print("Total de crianças mulheres livres pretas: " + str(soma_mulheres_livres_anos_pretas[colunas_anos].sum()))
print("Total de crianças mulheres livres caboclas: " + str(soma_mulheres_livres_anos_caboclas[colunas_anos].sum()))
print("Total de crianças mulheres escravas pardas: " + str(soma_mulheres_escravas_anos_pardas[colunas_anos].sum()))
print("Total de crianças mulheres escravas pretas: " + str(soma_mulheres_escravas_anos_pretas[colunas_anos].sum()))
print("Total de mulheres crianças livres: " + str(soma_mulheres_livres_anos[colunas_anos].sum()))
print("Total de mulheres crianças escravas: " + str(soma_mulheres_escravas_anos[colunas_anos].sum()))
print("Total de mulheres crianças: " + str(soma_mulheres_anos[colunas_anos].sum()))

Anos completos  1    1
                2    2
                3    1
                4    0
                5    2
dtype: int64
Total de crianças mulheres livres brancas: 3
Total de crianças mulheres livres pardas: 0
Total de crianças mulheres livres pretas: 3
Total de crianças mulheres livres caboclas: 0
Total de crianças mulheres escravas pardas: 0
Total de crianças mulheres escravas pretas: 0
Total de mulheres crianças livres: 6
Total de mulheres crianças escravas: 0
Total de mulheres crianças: 6

In [24]:
soma_total_anos = anos.loc[(anos[('', 'Condições')] == 'Soma geral') & (anos[('', 'Raças')] == 'Total')]
soma_total_anos = soma_total_anos[colunas_anos].sum()
soma_total_anos = int(soma_total_anos.sum())

soma_homens_anos = int(soma_homens_anos.sum())
soma_mulheres_anos = int(soma_mulheres_anos.sum())

print("Soma de homens e mulheres crianças: " + str(soma_homens_anos + soma_mulheres_anos))
print("Total de homens e mulheres crianças: " + str(soma_total_anos))

if soma_total_anos == soma_homens_anos + soma_mulheres_anos:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_anos))
    print("Total da soma efetuada: " + str(soma_homens_anos + soma_mulheres_anos))

Soma de homens e mulheres crianças: 6
Total de homens e mulheres crianças: 6
OK

# População entre 6 e 30 anos

In [25]:
quinquenios = df[['Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23']]
quinquenios.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,Quinquênios,NaN,NaN,NaN,NaN
1,Sexos,Condições,Raças,6 a 10,11 a 15,16 a 20,21 a 25,26 a 30
2,Homens,Livres,Brancos,1,3,4,3,4
3,NaN,NaN,Pardos,0,1,2,0,2
4,NaN,NaN,Pretos,0,2,2,5,2

In [26]:
new_header = quinquenios.iloc[1]
quinquenios.columns = new_header
quinquenios = quinquenios[2:]
quinquenios.head()

1   Sexos Condições     Raças 6 a 10 11 a 15 16 a 20 21 a 25 26 a 30
2  Homens    Livres   Brancos      1       3       4       3       4
3     NaN       NaN    Pardos      0       1       2       0       2
4     NaN       NaN    Pretos      0       2       2       5       2
5     NaN       NaN  Caboclos      0       0       0       1       0
6     NaN  Escravos    Pardos      0       0       0       0       0

In [27]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Quinquênios', '6 a 10'),
    ('Quinquênios', '11 a 15'),
    ('Quinquênios', '16 a 20'),
    ('Quinquênios', '21 a 25'),
    ('Quinquênios', '26 a 30')
])

quinquenios.columns = columns_multiindex

quinquenios

                                   Quinquênios
       Sexos   Condições     Raças      6 a 10 11 a 15 16 a 20 21 a 25 26 a 30
2     Homens      Livres   Brancos           1       3       4       3       4
3        NaN         NaN    Pardos           0       1       2       0       2
4        NaN         NaN    Pretos           0       2       2       5       2
5        NaN         NaN  Caboclos           0       0       0       1       0
6        NaN    Escravos    Pardos           0       0       0       0       0
7        NaN         NaN    Pretos           0       0       0       0       0
8   Mulheres      Livres   Brancas          12       8       3       5       1
9        NaN         NaN    Pardas           0       2       4       1       1
10       NaN         NaN    Pretas           0       2       6       8       3
11       NaN         NaN  Caboclas           0       0       0       1       0
12       NaN    Escravas    Pardas           0       0       0       0       0
13       NaN         NaN    Pretas           0       0       0       0       0
14       NaN  Soma geral       NaN          13      18      21      24      13

In [28]:
quinquenios[('', 'Sexos')] = quinquenios[('', 'Sexos')].ffill()

quinquenios[('', 'Condições')] = quinquenios[('', 'Condições')].ffill()

quinquenios.loc[14, ('', 'Raças')] = 'Total'
quinquenios

                                   Quinquênios
       Sexos   Condições     Raças      6 a 10 11 a 15 16 a 20 21 a 25 26 a 30
2     Homens      Livres   Brancos           1       3       4       3       4
3     Homens      Livres    Pardos           0       1       2       0       2
4     Homens      Livres    Pretos           0       2       2       5       2
5     Homens      Livres  Caboclos           0       0       0       1       0
6     Homens    Escravos    Pardos           0       0       0       0       0
7     Homens    Escravos    Pretos           0       0       0       0       0
8   Mulheres      Livres   Brancas          12       8       3       5       1
9   Mulheres      Livres    Pardas           0       2       4       1       1
10  Mulheres      Livres    Pretas           0       2       6       8       3
11  Mulheres      Livres  Caboclas           0       0       0       1       0
12  Mulheres    Escravas    Pardas           0       0       0       0       0
13  Mulheres    Escravas    Pretas           0       0       0       0       0
14  Mulheres  Soma geral     Total          13      18      21      24      13

In [29]:
# colunas_quinquenios = [('Quinquênios', '6 a 10'), ('Quinquênios', '11 a 15'), ('Quinquênios', '16 a 20'), ('Quinquênios', '21 a 25'), ('Quinquênios', '26 a 30')]
# df_no_transpose[colunas_quinquenios] = df_no_transpose[colunas_quinquenios].apply(pd.to_numeric)

# homens_livres = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Livres') & (df_no_transpose[('', 'Sexos')] == 'Homens')]
# homens_escravos = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Escravos') & (df_no_transpose[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_quinquenios].sum() + homens_escravos[colunas_quinquenios].sum()

# soma_homens

In [30]:
# mulheres_livres = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Livres') & (df_no_transpose[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Escravas') & (df_no_transpose[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_quinquenios].sum() + mulheres_escravas[colunas_quinquenios].sum()

# soma_mulheres

In [31]:
# total = soma_homens + soma_mulheres
# total

In [32]:
colunas_quinquenios = [('Quinquênios', '6 a 10'), ('Quinquênios', '11 a 15'), ('Quinquênios', '16 a 20'), ('Quinquênios', '21 a 25'), ('Quinquênios', '26 a 30')]
quinquenios[colunas_quinquenios] = quinquenios[colunas_quinquenios].apply(pd.to_numeric)

soma_homens_livres_quinquenios_brancos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Brancos')]
soma_homens_livres_quinquenios_pardos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Pardos')]
soma_homens_livres_quinquenios_pretos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Pretos')]
soma_homens_livres_quinquenios_caboclos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_quinquenios_pardos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravos') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_quinquenios_pretos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravos') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Pretos')]
soma_homens_livres_quinquenios = soma_homens_livres_quinquenios_brancos[colunas_quinquenios].sum() + soma_homens_livres_quinquenios_pardos[colunas_quinquenios].sum() + soma_homens_livres_quinquenios_pretos[colunas_quinquenios].sum() + soma_homens_livres_quinquenios_caboclos[colunas_quinquenios].sum()
soma_homens_escravos_quinquenios = soma_homens_escravos_quinquenios_pardos[colunas_quinquenios].sum() + soma_homens_escravos_quinquenios_pretos[colunas_quinquenios].sum()

soma_homens_livres_quinquenios_brancos = soma_homens_livres_quinquenios_brancos[colunas_quinquenios].sum()
soma_homens_livres_quinquenios_pardos = soma_homens_livres_quinquenios_pardos[colunas_quinquenios].sum()
soma_homens_livres_quinquenios_pretos = soma_homens_livres_quinquenios_pretos[colunas_quinquenios].sum()
soma_homens_livres_quinquenios_caboclos = soma_homens_livres_quinquenios_caboclos[colunas_quinquenios].sum()
soma_homens_escravos_quinquenios_pardos = soma_homens_escravos_quinquenios_pardos[colunas_quinquenios].sum()
soma_homens_escravos_quinquenios_pretos = soma_homens_escravos_quinquenios_pretos[colunas_quinquenios].sum()

soma_homens_quinquenios = soma_homens_livres_quinquenios + soma_homens_escravos_quinquenios
print(soma_homens_quinquenios)
print("Total de quinquênios homens livres brancos: " + str(soma_homens_livres_quinquenios_brancos[colunas_quinquenios].sum()))
print("Total de quinquênios homens livres pardos: " + str(soma_homens_livres_quinquenios_pardos[colunas_quinquenios].sum()))
print("Total de quinquênios homens livres pretos: " + str(soma_homens_livres_quinquenios_pretos[colunas_quinquenios].sum()))
print("Total de quinquênios homens livres caboclos: " + str(soma_homens_livres_quinquenios_caboclos[colunas_quinquenios].sum()))
print("Total de quinquênios homens escravos pardos: " + str(soma_homens_escravos_quinquenios_pardos[colunas_quinquenios].sum()))
print("Total de quinquênios homens escravos pretos: " + str(soma_homens_escravos_quinquenios_pretos[colunas_quinquenios].sum()))
print("Total de homens quinquênios livres: " + str(soma_homens_livres_quinquenios[colunas_quinquenios].sum()))
print("Total de homens quinquênios escravos: " + str(soma_homens_escravos_quinquenios[colunas_quinquenios].sum()))
print("Total de homens quinquênios: " + str(soma_homens_quinquenios[colunas_quinquenios].sum()))

Quinquênios  6 a 10     1
             11 a 15    6
             16 a 20    8
             21 a 25    9
             26 a 30    8
dtype: int64
Total de quinquênios homens livres brancos: 15
Total de quinquênios homens livres pardos: 5
Total de quinquênios homens livres pretos: 11
Total de quinquênios homens livres caboclos: 1
Total de quinquênios homens escravos pardos: 0
Total de quinquênios homens escravos pretos: 0
Total de homens quinquênios livres: 32
Total de homens quinquênios escravos: 0
Total de homens quinquênios: 32

In [33]:
soma_mulheres_livres_quinquenios_brancas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_quinquenios_pardas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_quinquenios_pretas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_quinquenios_caboclas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_quinquenios_pardas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravas') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_quinquenios_pretas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravas') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_quinquenios = soma_mulheres_livres_quinquenios_brancas[colunas_quinquenios].sum() + soma_mulheres_livres_quinquenios_pardas[colunas_quinquenios].sum() + soma_mulheres_livres_quinquenios_pretas[colunas_quinquenios].sum() + soma_mulheres_livres_quinquenios_caboclas[colunas_quinquenios].sum()
soma_mulheres_escravas_quinquenios = soma_mulheres_escravas_quinquenios_pardas[colunas_quinquenios].sum() + soma_mulheres_escravas_quinquenios_pretas[colunas_quinquenios].sum()

soma_mulheres_livres_quinquenios_brancas = soma_mulheres_livres_quinquenios_brancas[colunas_quinquenios].sum()
soma_mulheres_livres_quinquenios_pardas = soma_mulheres_livres_quinquenios_pardas[colunas_quinquenios].sum()
soma_mulheres_livres_quinquenios_pretas = soma_mulheres_livres_quinquenios_pretas[colunas_quinquenios].sum()
soma_mulheres_livres_quinquenios_caboclas = soma_mulheres_livres_quinquenios_caboclas[colunas_quinquenios].sum()
soma_mulheres_escravas_quinquenios_pardas = soma_mulheres_escravas_quinquenios_pardas[colunas_quinquenios].sum()
soma_mulheres_escravas_quinquenios_pretas = soma_mulheres_escravas_quinquenios_pretas[colunas_quinquenios].sum()

soma_mulheres_quinquenios = soma_mulheres_livres_quinquenios + soma_mulheres_escravas_quinquenios
print(soma_mulheres_quinquenios)
print("Total de quinquênios mulheres livres brancas: " + str(soma_mulheres_livres_quinquenios_brancas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres livres pardas: " + str(soma_mulheres_livres_quinquenios_pardas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres livres pretas: " + str(soma_mulheres_livres_quinquenios_pretas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres livres caboclas: " + str(soma_mulheres_livres_quinquenios_caboclas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres escravas pardas: " + str(soma_mulheres_escravas_quinquenios_pardas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres escravas pretas: " + str(soma_mulheres_escravas_quinquenios_pretas[colunas_quinquenios].sum()))
print("Total de mulheres quinquênios livres: " + str(soma_mulheres_livres_quinquenios[colunas_quinquenios].sum()))
print("Total de mulheres quinquênios escravas: " + str(soma_mulheres_escravas_quinquenios[colunas_quinquenios].sum()))
print("Total de mulheres quinquênios: " + str(soma_mulheres_quinquenios[colunas_quinquenios].sum()))

Quinquênios  6 a 10     12
             11 a 15    12
             16 a 20    13
             21 a 25    15
             26 a 30     5
dtype: int64
Total de quinquênios mulheres livres brancas: 29
Total de quinquênios mulheres livres pardas: 8
Total de quinquênios mulheres livres pretas: 19
Total de quinquênios mulheres livres caboclas: 1
Total de quinquênios mulheres escravas pardas: 0
Total de quinquênios mulheres escravas pretas: 0
Total de mulheres quinquênios livres: 57
Total de mulheres quinquênios escravas: 0
Total de mulheres quinquênios: 57

In [34]:
soma_total_quinquenios = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Soma geral') & (quinquenios[('', 'Raças')] == 'Total')]
soma_total_quinquenios = soma_total_quinquenios[colunas_quinquenios].sum()
soma_total_quinquenios = int(soma_total_quinquenios.sum())

soma_homens_quinquenios = int(soma_homens_quinquenios.sum())
soma_mulheres_quinquenios = int(soma_mulheres_quinquenios.sum())

print("Soma de homens e mulheres quinquênios: " + str(soma_homens_quinquenios + soma_mulheres_quinquenios))
print("Total de homens e mulheres quinquênios: " + str(soma_total_quinquenios))

if soma_total_quinquenios == soma_homens_quinquenios + soma_mulheres_quinquenios:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_quinquenios))
    print("Total da soma efetuada: " + str(soma_homens_quinquenios + soma_mulheres_quinquenios))

Soma de homens e mulheres quinquênios: 89
Total de homens e mulheres quinquênios: 89
OK

# População entre 31 e 100 anos

In [35]:
decenios = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30']]
decenios.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,Decênios,NaN,NaN,NaN,NaN,NaN,NaN
1,Sexos,Condições,Raças,31 a 40,41 a 50,51 a 60,61 a 70,71 a 80,81 a 90,91 a 100
2,Homens,Livres,Brancos,2,1,0,0,0,0,0
3,NaN,NaN,Pardos,1,0,0,0,0,0,0
4,NaN,NaN,Pretos,3,1,1,0,0,0,0

In [36]:
decenios_header = decenios.iloc[1]
decenios.columns = decenios_header
decenios = decenios[2:]
decenios.head()

1,Sexos,Condições,Raças,31 a 40,41 a 50,51 a 60,61 a 70,71 a 80,81 a 90,91 a 100
2,Homens,Livres,Brancos,2,1,0,0,0,0,0
3,NaN,NaN,Pardos,1,0,0,0,0,0,0
4,NaN,NaN,Pretos,3,1,1,0,0,0,0
5,NaN,NaN,Caboclos,0,0,0,0,0,0,0
6,NaN,Escravos,Pardos,0,0,0,0,0,0,0

In [37]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Decênios', '31 a 40'),
    ('Decênios', '41 a 50'),
    ('Decênios', '51 a 60'),
    ('Decênios', '61 a 70'),
    ('Decênios', '71 a 80'),
    ('Decênios', '81 a 90'),
    ('Decênios', '91 a 100')
])

decenios.columns = columns_multiindex

decenios

                                   Decênios                                  \
       Sexos   Condições     Raças  31 a 40 41 a 50 51 a 60 61 a 70 71 a 80
2     Homens      Livres   Brancos        2       1       0       0       0
3        NaN         NaN    Pardos        1       0       0       0       0
4        NaN         NaN    Pretos        3       1       1       0       0
5        NaN         NaN  Caboclos        0       0       0       0       0
6        NaN    Escravos    Pardos        0       0       0       0       0
7        NaN         NaN    Pretos        0       0       0       0       0
8   Mulheres      Livres   Brancas        0       1       0       0       0
9        NaN         NaN    Pardas        3       1       0       0       0
10       NaN         NaN    Pretas        3       2       1       0       0
11       NaN         NaN  Caboclas        1       0       0       0       0
12       NaN    Escravas    Pardas        0       0       0       0       0
13       NaN         NaN    Pretas        0       0       0       0       0
14       NaN  Soma geral       NaN       13       6       2       0       0


   81 a 90 91 a 100
2        0        0
3        0        0
4        0        0
5        0        0
6        0        0
7        0        0
8        0        0
9        0        0
10       0        0
11       0        0
12       0        0
13       0        0
14       0        0

In [38]:
decenios[('', 'Sexos')] = decenios[('', 'Sexos')].ffill()

decenios[('', 'Condições')] = decenios[('', 'Condições')].ffill()

decenios.loc[14, ('', 'Raças')] = 'Total'
decenios

                                   Decênios                                  \
       Sexos   Condições     Raças  31 a 40 41 a 50 51 a 60 61 a 70 71 a 80
2     Homens      Livres   Brancos        2       1       0       0       0
3     Homens      Livres    Pardos        1       0       0       0       0
4     Homens      Livres    Pretos        3       1       1       0       0
5     Homens      Livres  Caboclos        0       0       0       0       0
6     Homens    Escravos    Pardos        0       0       0       0       0
7     Homens    Escravos    Pretos        0       0       0       0       0
8   Mulheres      Livres   Brancas        0       1       0       0       0
9   Mulheres      Livres    Pardas        3       1       0       0       0
10  Mulheres      Livres    Pretas        3       2       1       0       0
11  Mulheres      Livres  Caboclas        1       0       0       0       0
12  Mulheres    Escravas    Pardas        0       0       0       0       0
13  Mulheres    Escravas    Pretas        0       0       0       0       0
14  Mulheres  Soma geral     Total       13       6       2       0       0


   81 a 90 91 a 100
2        0        0
3        0        0
4        0        0
5        0        0
6        0        0
7        0        0
8        0        0
9        0        0
10       0        0
11       0        0
12       0        0
13       0        0
14       0        0

In [39]:
# colunas_decenios = [('Decênios', '31 a 40'),
#     ('Decênios', '41 a 50'),
#     ('Decênios', '51 a 60'),
#     ('Decênios', '61 a 70'),
#     ('Decênios', '71 a 80'),
#     ('Decênios', '81 a 90'),
#     ('Decênios', '91 a 100')]
# df_no_transpose[colunas_decenios] = df_no_transpose[colunas_decenios].apply(pd.to_numeric)

# homens_livres = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Livres') & (df_no_transpose[('', 'Sexos')] == 'Homens')]
# homens_escravos = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Escravos') & (df_no_transpose[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_decenios].sum() + homens_escravos[colunas_decenios].sum()

# soma_homens

In [40]:
# mulheres_livres = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Livres') & (df_no_transpose[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = df_no_transpose.loc[(df_no_transpose[('', 'Condições')] == 'Escravas') & (df_no_transpose[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_decenios].sum() + mulheres_escravas[colunas_decenios].sum()

# soma_mulheres

In [41]:
# total = soma_homens + soma_mulheres
# total

In [42]:
colunas_decenios = [('Decênios', '31 a 40'),
    ('Decênios', '41 a 50'),
    ('Decênios', '51 a 60'),
    ('Decênios', '61 a 70'),
    ('Decênios', '71 a 80'),
    ('Decênios', '81 a 90'),
    ('Decênios', '91 a 100')]
decenios[colunas_decenios] = decenios[colunas_decenios].apply(pd.to_numeric)

soma_homens_livres_decenios_brancos = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Brancos')]
soma_homens_livres_decenios_pardos = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Pardos')]
soma_homens_livres_decenios_pretos = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Pretos')]
soma_homens_livres_decenios_caboclos = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_decenios_pardos = decenios.loc[(decenios[('', 'Condições')] == 'Escravos') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_decenios_pretos = decenios.loc[(decenios[('', 'Condições')] == 'Escravos') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Pretos')]
soma_homens_livres_decenios = soma_homens_livres_decenios_brancos[colunas_decenios].sum() + soma_homens_livres_decenios_pardos[colunas_decenios].sum() + soma_homens_livres_decenios_pretos[colunas_decenios].sum() + soma_homens_livres_decenios_caboclos[colunas_decenios].sum()
soma_homens_escravos_decenios = soma_homens_escravos_decenios_pardos[colunas_decenios].sum() + soma_homens_escravos_decenios_pretos[colunas_decenios].sum()

soma_homens_livres_decenios_brancos = soma_homens_livres_decenios_brancos[colunas_decenios].sum()
soma_homens_livres_decenios_pardos = soma_homens_livres_decenios_pardos[colunas_decenios].sum()
soma_homens_livres_decenios_pretos = soma_homens_livres_decenios_pretos[colunas_decenios].sum()
soma_homens_livres_decenios_caboclos = soma_homens_livres_decenios_caboclos[colunas_decenios].sum()
soma_homens_escravos_decenios_pardos = soma_homens_escravos_decenios_pardos[colunas_decenios].sum()
soma_homens_escravos_decenios_pretos = soma_homens_escravos_decenios_pretos[colunas_decenios].sum()

soma_homens_decenios = soma_homens_livres_decenios + soma_homens_escravos_decenios
print(soma_homens_decenios)
print("Total de decênios homens livres brancos: " + str(soma_homens_livres_decenios_brancos[colunas_decenios].sum()))
print("Total de decênios homens livres pardos: " + str(soma_homens_livres_decenios_pardos[colunas_decenios].sum()))
print("Total de decênios homens livres pretos: " + str(soma_homens_livres_decenios_pretos[colunas_decenios].sum()))
print("Total de decênios homens livres caboclos: " + str(soma_homens_livres_decenios_caboclos[colunas_decenios].sum()))
print("Total de decênios homens escravos pardos: " + str(soma_homens_escravos_decenios_pardos[colunas_decenios].sum()))
print("Total de decênios homens escravos pretos: " + str(soma_homens_escravos_decenios_pretos[colunas_decenios].sum()))
print("Total de homens decênios livres: " + str(soma_homens_livres_decenios[colunas_decenios].sum()))
print("Total de homens decênios escravos: " + str(soma_homens_escravos_decenios[colunas_decenios].sum()))
print("Total de homens decênios: " + str(soma_homens_decenios[colunas_decenios].sum()))

Decênios  31 a 40     6
          41 a 50     2
          51 a 60     1
          61 a 70     0
          71 a 80     0
          81 a 90     0
          91 a 100    0
dtype: int64
Total de decênios homens livres brancos: 3
Total de decênios homens livres pardos: 1
Total de decênios homens livres pretos: 5
Total de decênios homens livres caboclos: 0
Total de decênios homens escravos pardos: 0
Total de decênios homens escravos pretos: 0
Total de homens decênios livres: 9
Total de homens decênios escravos: 0
Total de homens decênios: 9

In [43]:
soma_mulheres_livres_decenios_brancas = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_decenios_pardas = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_decenios_pretas = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_decenios_caboclas = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_decenios_pardas = decenios.loc[(decenios[('', 'Condições')] == 'Escravas') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_decenios_pretas = decenios.loc[(decenios[('', 'Condições')] == 'Escravas') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_decenios = soma_mulheres_livres_decenios_brancas[colunas_decenios].sum() + soma_mulheres_livres_decenios_pardas[colunas_decenios].sum() + soma_mulheres_livres_decenios_pretas[colunas_decenios].sum() + soma_mulheres_livres_decenios_caboclas[colunas_decenios].sum()
soma_mulheres_escravas_decenios = soma_mulheres_escravas_decenios_pardas[colunas_decenios].sum() + soma_mulheres_escravas_decenios_pretas[colunas_decenios].sum()

soma_mulheres_livres_decenios_brancas = soma_mulheres_livres_decenios_brancas[colunas_decenios].sum()
soma_mulheres_livres_decenios_pardas = soma_mulheres_livres_decenios_pardas[colunas_decenios].sum()
soma_mulheres_livres_decenios_pretas = soma_mulheres_livres_decenios_pretas[colunas_decenios].sum()
soma_mulheres_livres_decenios_caboclas = soma_mulheres_livres_decenios_caboclas[colunas_decenios].sum()
soma_mulheres_escravas_decenios_pardas = soma_mulheres_escravas_decenios_pardas[colunas_decenios].sum()
soma_mulheres_escravas_decenios_pretas = soma_mulheres_escravas_decenios_pretas[colunas_decenios].sum()

soma_mulheres_decenios = soma_mulheres_livres_decenios + soma_mulheres_escravas_decenios
print(soma_mulheres_decenios)
print("Total de decênios mulheres livres brancas: " + str(soma_mulheres_livres_decenios_brancas[colunas_decenios].sum()))
print("Total de decênios mulheres livres pardas: " + str(soma_mulheres_livres_decenios_pardas[colunas_decenios].sum()))
print("Total de decênios mulheres livres pretas: " + str(soma_mulheres_livres_decenios_pretas[colunas_decenios].sum()))
print("Total de decênios mulheres livres caboclas: " + str(soma_mulheres_livres_decenios_caboclas[colunas_decenios].sum()))
print("Total de decênios mulheres escravas pardas: " + str(soma_mulheres_escravas_decenios_pardas[colunas_decenios].sum()))
print("Total de decênios mulheres escravas pretas: " + str(soma_mulheres_escravas_decenios_pretas[colunas_decenios].sum()))
print("Total de mulheres decênios livres: " + str(soma_mulheres_livres_decenios[colunas_decenios].sum()))
print("Total de mulheres decênios escravas: " + str(soma_mulheres_escravas_decenios[colunas_decenios].sum()))
print("Total de mulheres decênios: " + str(soma_mulheres_decenios[colunas_decenios].sum()))

Decênios  31 a 40     7
          41 a 50     4
          51 a 60     1
          61 a 70     0
          71 a 80     0
          81 a 90     0
          91 a 100    0
dtype: int64
Total de decênios mulheres livres brancas: 1
Total de decênios mulheres livres pardas: 4
Total de decênios mulheres livres pretas: 6
Total de decênios mulheres livres caboclas: 1
Total de decênios mulheres escravas pardas: 0
Total de decênios mulheres escravas pretas: 0
Total de mulheres decênios livres: 12
Total de mulheres decênios escravas: 0
Total de mulheres decênios: 12

In [44]:
soma_total_decenios = decenios.loc[(decenios[('', 'Condições')] == 'Soma geral') & (decenios[('', 'Raças')] == 'Total')]
soma_total_decenios = soma_total_decenios[colunas_decenios].sum()
soma_total_decenios = int(soma_total_decenios.sum())

soma_homens_decenios = int(soma_homens_decenios.sum())
soma_mulheres_decenios = int(soma_mulheres_decenios.sum())

print("Soma de homens e mulheres decênios: " + str(soma_homens_decenios + soma_mulheres_decenios))
print("Total de homens e mulheres decênios: " + str(soma_total_decenios))

if soma_total_decenios == soma_homens_decenios + soma_mulheres_decenios:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_decenios))
    print("Total da soma efetuada: " + str(soma_homens_decenios + soma_mulheres_decenios))

Soma de homens e mulheres decênios: 21
Total de homens e mulheres decênios: 21
OK

# População maior que 100 anos

In [45]:
maiores = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 31']]
maiores.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2     Unnamed: 31
0        NaN        NaN        NaN             NaN
1      Sexos  Condições      Raças  Maiores de 100
2     Homens     Livres    Brancos               0
3        NaN        NaN     Pardos               0
4        NaN        NaN     Pretos               0

In [46]:
maiores_header = maiores.iloc[1]
maiores.columns = maiores_header
maiores = maiores[2:]
maiores.head()

1   Sexos Condições     Raças Maiores de 100
2  Homens    Livres   Brancos              0
3     NaN       NaN    Pardos              0
4     NaN       NaN    Pretos              0
5     NaN       NaN  Caboclos              0
6     NaN  Escravos    Pardos              0

In [47]:
maiores['Sexos'] = maiores['Sexos'].ffill()

maiores['Condições'] = maiores['Condições'].ffill()

maiores.loc[14, 'Raças'] = 'Total'
maiores

1      Sexos   Condições     Raças Maiores de 100
2     Homens      Livres   Brancos              0
3     Homens      Livres    Pardos              0
4     Homens      Livres    Pretos              0
5     Homens      Livres  Caboclos              0
6     Homens    Escravos    Pardos              0
7     Homens    Escravos    Pretos              0
8   Mulheres      Livres   Brancas              0
9   Mulheres      Livres    Pardas              0
10  Mulheres      Livres    Pretas              0
11  Mulheres      Livres  Caboclas              0
12  Mulheres    Escravas    Pardas              0
13  Mulheres    Escravas    Pretas              0
14  Mulheres  Soma geral     Total              0

In [48]:
# colunas_maiores = ['Maiores de 100']
# df_no_transpose[colunas_maiores] = df_no_transpose[colunas_maiores].apply(pd.to_numeric)

# homens_livres = df_no_transpose.loc[(df_no_transpose['Condições'] == 'Livres') & (df_no_transpose['Sexos'] == 'Homens')]
# homens_escravos = df_no_transpose.loc[(df_no_transpose['Condições'] == 'Escravos') & (df_no_transpose['Sexos'] == 'Homens')]

# soma_homens = homens_livres[colunas_maiores].sum() + homens_escravos[colunas_maiores].sum()

# soma_homens

In [49]:
# mulheres_livres = df_no_transpose.loc[(df_no_transpose['Condições'] == 'Livres') & (df_no_transpose['Sexos'] == 'Mulheres')]
# mulheres_escravas = df_no_transpose.loc[(df_no_transpose['Condições'] == 'Escravas') & (df_no_transpose['Sexos'] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_maiores].sum() + mulheres_escravas[colunas_maiores].sum()

# soma_mulheres

In [50]:
# total = soma_homens + soma_mulheres
# total

In [51]:
colunas_maiores = ['Maiores de 100']
maiores[colunas_maiores] = maiores[colunas_maiores].apply(pd.to_numeric)

soma_homens_livres_maiores_brancos = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Brancos')]
soma_homens_livres_maiores_pardos = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Pardos')]
soma_homens_livres_maiores_pretos = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Pretos')]
soma_homens_livres_maiores_caboclos = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Caboclos')]
soma_homens_escravos_maiores_pardos = maiores.loc[(maiores['Condições'] == 'Escravos') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Pardos')]
soma_homens_escravos_maiores_pretos = maiores.loc[(maiores['Condições'] == 'Escravos') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Pretos')]
soma_homens_livres_maiores = soma_homens_livres_maiores_brancos[colunas_maiores].sum() + soma_homens_livres_maiores_pardos[colunas_maiores].sum() + soma_homens_livres_maiores_pretos[colunas_maiores].sum() + soma_homens_livres_maiores_caboclos[colunas_maiores].sum()
soma_homens_escravos_maiores = soma_homens_escravos_maiores_pardos[colunas_maiores].sum() + soma_homens_escravos_maiores_pretos[colunas_maiores].sum()

soma_homens_livres_maiores_brancos = soma_homens_livres_maiores_brancos[colunas_maiores].sum()
soma_homens_livres_maiores_pardos = soma_homens_livres_maiores_pardos[colunas_maiores].sum()
soma_homens_livres_maiores_pretos = soma_homens_livres_maiores_pretos[colunas_maiores].sum()
soma_homens_livres_maiores_caboclos = soma_homens_livres_maiores_caboclos[colunas_maiores].sum()
soma_homens_escravos_maiores_pardos = soma_homens_escravos_maiores_pardos[colunas_maiores].sum()
soma_homens_escravos_maiores_pretos = soma_homens_escravos_maiores_pretos[colunas_maiores].sum()

soma_homens_maiores = soma_homens_livres_maiores + soma_homens_escravos_maiores
print(soma_homens_maiores)
print("Total de maiores de 100 anos homens livres brancos: " + str(soma_homens_livres_maiores_brancos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens livres pardos: " + str(soma_homens_livres_maiores_pardos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens livres pretos: " + str(soma_homens_livres_maiores_pretos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens livres caboclos: " + str(soma_homens_livres_maiores_caboclos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens escravos pardos: " + str(soma_homens_escravos_maiores_pardos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens escravos pretos: " + str(soma_homens_escravos_maiores_pretos[colunas_maiores].sum()))
print("Total de homens maiores de 100 anos livres: " + str(soma_homens_livres_maiores[colunas_maiores].sum()))
print("Total de homens maiores de 100 anos escravos: " + str(soma_homens_escravos_maiores[colunas_maiores].sum()))
print("Total de homens maiores de 100 anos: " + str(soma_homens_maiores[colunas_maiores].sum()))

1
Maiores de 100    0
dtype: int64
Total de maiores de 100 anos homens livres brancos: 0
Total de maiores de 100 anos homens livres pardos: 0
Total de maiores de 100 anos homens livres pretos: 0
Total de maiores de 100 anos homens livres caboclos: 0
Total de maiores de 100 anos homens escravos pardos: 0
Total de maiores de 100 anos homens escravos pretos: 0
Total de homens maiores de 100 anos livres: 0
Total de homens maiores de 100 anos escravos: 0
Total de homens maiores de 100 anos: 0

In [52]:
soma_mulheres_livres_maiores_brancas = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Brancas')]
soma_mulheres_livres_maiores_pardas = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Pardas')]
soma_mulheres_livres_maiores_pretas = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Pretas')]
soma_mulheres_livres_maiores_caboclas = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Caboclas')]
soma_mulheres_escravas_maiores_pardas = maiores.loc[(maiores['Condições'] == 'Escravas') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Pardas')]
soma_mulheres_escravas_maiores_pretas = maiores.loc[(maiores['Condições'] == 'Escravas') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Pretas')]
soma_mulheres_livres_maiores = soma_mulheres_livres_maiores_brancas[colunas_maiores].sum() + soma_mulheres_livres_maiores_pardas[colunas_maiores].sum() + soma_mulheres_livres_maiores_pretas[colunas_maiores].sum() + soma_mulheres_livres_maiores_caboclas[colunas_maiores].sum()
soma_mulheres_escravas_maiores = soma_mulheres_escravas_maiores_pardas[colunas_maiores].sum() + soma_mulheres_escravas_maiores_pretas[colunas_maiores].sum()

soma_mulheres_livres_maiores_brancas = soma_mulheres_livres_maiores_brancas[colunas_maiores].sum()
soma_mulheres_livres_maiores_pardas = soma_mulheres_livres_maiores_pardas[colunas_maiores].sum()
soma_mulheres_livres_maiores_pretas = soma_mulheres_livres_maiores_pretas[colunas_maiores].sum()
soma_mulheres_livres_maiores_caboclas = soma_mulheres_livres_maiores_caboclas[colunas_maiores].sum()
soma_mulheres_escravas_maiores_pardas = soma_mulheres_escravas_maiores_pardas[colunas_maiores].sum()
soma_mulheres_escravas_maiores_pretas = soma_mulheres_escravas_maiores_pretas[colunas_maiores].sum()

soma_mulheres_maiores = soma_mulheres_livres_maiores + soma_mulheres_escravas_maiores
print(soma_mulheres_maiores)
print("Total de maiores de 100 anos mulheres livres brancas: " + str(soma_mulheres_livres_maiores_brancas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres livres pardas: " + str(soma_mulheres_livres_maiores_pardas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres livres pretas: " + str(soma_mulheres_livres_maiores_pretas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres livres caboclas: " + str(soma_mulheres_livres_maiores_caboclas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres escravas pardas: " + str(soma_mulheres_escravas_maiores_pardas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres escravas pretas: " + str(soma_mulheres_escravas_maiores_pretas[colunas_maiores].sum()))
print("Total de mulheres maiores de 100 anos livres: " + str(soma_mulheres_livres_maiores[colunas_maiores].sum()))
print("Total de mulheres maiores de 100 anos escravas: " + str(soma_mulheres_escravas_maiores[colunas_maiores].sum()))
print("Total de mulheres maiores de 100 anos: " + str(soma_mulheres_maiores[colunas_maiores].sum()))

1
Maiores de 100    0
dtype: int64
Total de maiores de 100 anos mulheres livres brancas: 0
Total de maiores de 100 anos mulheres livres pardas: 0
Total de maiores de 100 anos mulheres livres pretas: 0
Total de maiores de 100 anos mulheres livres caboclas: 0
Total de maiores de 100 anos mulheres escravas pardas: 0
Total de maiores de 100 anos mulheres escravas pretas: 0
Total de mulheres maiores de 100 anos livres: 0
Total de mulheres maiores de 100 anos escravas: 0
Total de mulheres maiores de 100 anos: 0

In [53]:
soma_total_maiores = maiores.loc[(maiores['Condições'] == 'Soma geral') & (maiores['Raças'] == 'Total')]
soma_total_maiores = soma_total_maiores[colunas_maiores].sum()
soma_total_maiores = int(soma_total_maiores.sum())

soma_homens_maiores = int(soma_homens_maiores.sum())
soma_mulheres_maiores = int(soma_mulheres_maiores.sum())

print("Soma de homens e mulheres maiores de 100 anos: " + str(soma_homens_maiores + soma_mulheres_maiores))
print("Total de homens e mulheres maiores de 100 anos: " + str(soma_total_maiores))

if soma_total_maiores == soma_homens_maiores + soma_mulheres_maiores:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_maiores))
    print("Total da soma efetuada: " + str(soma_homens_maiores + soma_mulheres_maiores))

Soma de homens e mulheres maiores de 100 anos: 0
Total de homens e mulheres maiores de 100 anos: 0
OK

# População com idade indeterminada

In [54]:
indeterminados = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 32']]
indeterminados.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2       Unnamed: 32
0        NaN        NaN        NaN               NaN
1      Sexos  Condições      Raças  Não determinadas
2     Homens     Livres    Brancos                 0
3        NaN        NaN     Pardos                 0
4        NaN        NaN     Pretos                 0

In [55]:
indeterminados_header = indeterminados.iloc[1]
indeterminados.columns = indeterminados_header
indeterminados = indeterminados[2:]
indeterminados.head()

1   Sexos Condições     Raças Não determinadas
2  Homens    Livres   Brancos                0
3     NaN       NaN    Pardos                0
4     NaN       NaN    Pretos                0
5     NaN       NaN  Caboclos                0
6     NaN  Escravos    Pardos                0

In [56]:
indeterminados['Sexos'] = indeterminados['Sexos'].ffill()

indeterminados['Condições'] = indeterminados['Condições'].ffill()

indeterminados.loc[14, 'Raças'] = 'Total'
indeterminados

1      Sexos   Condições     Raças Não determinadas
2     Homens      Livres   Brancos                0
3     Homens      Livres    Pardos                0
4     Homens      Livres    Pretos                0
5     Homens      Livres  Caboclos                0
6     Homens    Escravos    Pardos                0
7     Homens    Escravos    Pretos                0
8   Mulheres      Livres   Brancas                0
9   Mulheres      Livres    Pardas                0
10  Mulheres      Livres    Pretas                0
11  Mulheres      Livres  Caboclas                0
12  Mulheres    Escravas    Pardas                0
13  Mulheres    Escravas    Pretas                0
14  Mulheres  Soma geral     Total                0

In [57]:
# colunas_indeterminados = ['Não determinadas']
# df_no_transpose[colunas_indeterminados] = df_no_transpose[colunas_indeterminados].apply(pd.to_numeric)

# homens_livres = df_no_transpose.loc[(df_no_transpose['Condições'] == 'Livres') & (df_no_transpose['Sexos'] == 'Homens')]
# homens_escravos = df_no_transpose.loc[(df_no_transpose['Condições'] == 'Escravos') & (df_no_transpose['Sexos'] == 'Homens')]

# soma_homens = homens_livres[colunas_indeterminados].sum() + homens_escravos[colunas_indeterminados].sum()

# soma_homens

In [58]:
# mulheres_livres = df_no_transpose.loc[(df_no_transpose['Condições'] == 'Livres') & (df_no_transpose['Sexos'] == 'Mulheres')]
# mulheres_escravas = df_no_transpose.loc[(df_no_transpose['Condições'] == 'Escravas') & (df_no_transpose['Sexos'] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_indeterminados].sum() + mulheres_escravas[colunas_indeterminados].sum()

# soma_mulheres

In [59]:
# total = soma_homens + soma_mulheres
# total

In [60]:
colunas_indeterminados = ['Não determinadas']
indeterminados[colunas_indeterminados] = indeterminados[colunas_indeterminados].apply(pd.to_numeric)

soma_homens_livres_indeterminados_brancos = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Brancos')]
soma_homens_livres_indeterminados_pardos = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Pardos')]
soma_homens_livres_indeterminados_pretos = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Pretos')]
soma_homens_livres_indeterminados_caboclos = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Caboclos')]
soma_homens_escravos_indeterminados_pardos = indeterminados.loc[(indeterminados['Condições'] == 'Escravos') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Pardos')]
soma_homens_escravos_indeterminados_pretos = indeterminados.loc[(indeterminados['Condições'] == 'Escravos') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Pretos')]
soma_homens_livres_indeterminados = soma_homens_livres_indeterminados_brancos[colunas_indeterminados].sum() + soma_homens_livres_indeterminados_pardos[colunas_indeterminados].sum() + soma_homens_livres_indeterminados_pretos[colunas_indeterminados].sum() + soma_homens_livres_indeterminados_caboclos[colunas_indeterminados].sum()
soma_homens_escravos_indeterminados = soma_homens_escravos_indeterminados_pardos[colunas_indeterminados].sum() + soma_homens_escravos_indeterminados_pretos[colunas_indeterminados].sum()

soma_homens_livres_indeterminados_brancos = soma_homens_livres_indeterminados_brancos[colunas_indeterminados].sum()
soma_homens_livres_indeterminados_pardos = soma_homens_livres_indeterminados_pardos[colunas_indeterminados].sum()
soma_homens_livres_indeterminados_pretos = soma_homens_livres_indeterminados_pretos[colunas_indeterminados].sum()
soma_homens_livres_indeterminados_caboclos = soma_homens_livres_indeterminados_caboclos[colunas_indeterminados].sum()
soma_homens_escravos_indeterminados_pardos = soma_homens_escravos_indeterminados_pardos[colunas_indeterminados].sum()
soma_homens_escravos_indeterminados_pretos = soma_homens_escravos_indeterminados_pretos[colunas_indeterminados].sum()

soma_homens_indeterminados = soma_homens_livres_indeterminados + soma_homens_escravos_indeterminados
print(soma_homens_indeterminados)
print("Total de indeterminados homens livres brancos: " + str(soma_homens_livres_indeterminados_brancos[colunas_indeterminados].sum()))
print("Total de indeterminados homens livres pardos: " + str(soma_homens_livres_indeterminados_pardos[colunas_indeterminados].sum()))
print("Total de indeterminados homens livres pretos: " + str(soma_homens_livres_indeterminados_pretos[colunas_indeterminados].sum()))
print("Total de indeterminados homens livres caboclos: " + str(soma_homens_livres_indeterminados_caboclos[colunas_indeterminados].sum()))
print("Total de indeterminados homens escravos pardos: " + str(soma_homens_escravos_indeterminados_pardos[colunas_indeterminados].sum()))
print("Total de indeterminados homens escravos pretos: " + str(soma_homens_escravos_indeterminados_pretos[colunas_indeterminados].sum()))
print("Total de homens indeterminados livres: " + str(soma_homens_livres_indeterminados[colunas_indeterminados].sum()))
print("Total de homens indeterminados escravos: " + str(soma_homens_escravos_indeterminados[colunas_indeterminados].sum()))
print("Total de homens indeterminados: " + str(soma_homens_indeterminados[colunas_indeterminados].sum()))

1
Não determinadas    0
dtype: int64
Total de indeterminados homens livres brancos: 0
Total de indeterminados homens livres pardos: 0
Total de indeterminados homens livres pretos: 0
Total de indeterminados homens livres caboclos: 0
Total de indeterminados homens escravos pardos: 0
Total de indeterminados homens escravos pretos: 0
Total de homens indeterminados livres: 0
Total de homens indeterminados escravos: 0
Total de homens indeterminados: 0

In [61]:
soma_mulheres_livres_indeterminadas_brancas = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Brancas')]
soma_mulheres_livres_indeterminadas_pardas = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Pardas')]
soma_mulheres_livres_indeterminadas_pretas = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Pretas')]
soma_mulheres_livres_indeterminadas_caboclas = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Caboclas')]
soma_mulheres_escravas_indeterminadas_pardas = indeterminados.loc[(indeterminados['Condições'] == 'Escravas') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Pardas')]
soma_mulheres_escravas_indeterminadas_pretas = indeterminados.loc[(indeterminados['Condições'] == 'Escravas') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Pretas')]
soma_mulheres_livres_indeterminadas = soma_mulheres_livres_indeterminadas_brancas[colunas_indeterminados].sum() + soma_mulheres_livres_indeterminadas_pardas[colunas_indeterminados].sum() + soma_mulheres_livres_indeterminadas_pretas[colunas_indeterminados].sum() + soma_mulheres_livres_indeterminadas_caboclas[colunas_indeterminados].sum()
soma_mulheres_escravas_indeterminadas = soma_mulheres_escravas_indeterminadas_pardas[colunas_indeterminados].sum() + soma_mulheres_escravas_indeterminadas_pretas[colunas_indeterminados].sum()

soma_mulheres_livres_indeterminadas_brancas = soma_mulheres_livres_indeterminadas_brancas[colunas_indeterminados].sum()
soma_mulheres_livres_indeterminadas_pardas = soma_mulheres_livres_indeterminadas_pardas[colunas_indeterminados].sum()
soma_mulheres_livres_indeterminadas_pretas = soma_mulheres_livres_indeterminadas_pretas[colunas_indeterminados].sum()
soma_mulheres_livres_indeterminadas_caboclas = soma_mulheres_livres_indeterminadas_caboclas[colunas_indeterminados].sum()
soma_mulheres_escravas_indeterminadas_pardas = soma_mulheres_escravas_indeterminadas_pardas[colunas_indeterminados].sum()
soma_mulheres_escravas_indeterminadas_pretas = soma_mulheres_escravas_indeterminadas_pretas[colunas_indeterminados].sum()

soma_mulheres_indeterminadas = soma_mulheres_livres_indeterminadas + soma_mulheres_escravas_indeterminadas
print(soma_mulheres_indeterminadas)
print("Total de indeterminadas mulheres livres brancas: " + str(soma_mulheres_livres_indeterminadas_brancas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres livres pardas: " + str(soma_mulheres_livres_indeterminadas_pardas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres livres pretas: " + str(soma_mulheres_livres_indeterminadas_pretas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres livres caboclas: " + str(soma_mulheres_livres_indeterminadas_caboclas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres escravas pardas: " + str(soma_mulheres_escravas_indeterminadas_pardas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres escravas pretas: " + str(soma_mulheres_escravas_indeterminadas_pretas[colunas_indeterminados].sum()))
print("Total de mulheres indeterminadas livres: " + str(soma_mulheres_livres_indeterminadas[colunas_indeterminados].sum()))
print("Total de mulheres indeterminadas escravas: " + str(soma_mulheres_escravas_indeterminadas[colunas_indeterminados].sum()))
print("Total de mulheres indeterminadas: " + str(soma_mulheres_indeterminadas[colunas_indeterminados].sum()))

1
Não determinadas    0
dtype: int64
Total de indeterminadas mulheres livres brancas: 0
Total de indeterminadas mulheres livres pardas: 0
Total de indeterminadas mulheres livres pretas: 0
Total de indeterminadas mulheres livres caboclas: 0
Total de indeterminadas mulheres escravas pardas: 0
Total de indeterminadas mulheres escravas pretas: 0
Total de mulheres indeterminadas livres: 0
Total de mulheres indeterminadas escravas: 0
Total de mulheres indeterminadas: 0

In [62]:
soma_total_indeterminados = indeterminados.loc[(indeterminados['Condições'] == 'Soma geral') & (indeterminados['Raças'] == 'Total')]
soma_total_indeterminados = soma_total_indeterminados[colunas_indeterminados].sum()
soma_total_indeterminados = int(soma_total_indeterminados.sum())

soma_homens_indeterminados = int(soma_homens_indeterminados.sum())
soma_mulheres_indeterminadas = int(soma_mulheres_indeterminadas.sum())

print("Soma de homens e mulheres indeterminados: " + str(soma_homens_indeterminados + soma_mulheres_indeterminadas))
print("Total de homens e mulheres indeterminados: " + str(soma_total_indeterminados))

if soma_total_indeterminados == soma_homens_indeterminados + soma_mulheres_indeterminadas:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_indeterminados))
    print("Total da soma efetuada: " + str(soma_homens_indeterminados + soma_mulheres_indeterminadas))

Soma de homens e mulheres indeterminados: 0
Total de homens e mulheres indeterminados: 0
OK

# Totais das raças

In [63]:
totais_racas = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Totais', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36']]
totais_racas.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Totais,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,das Raças,NaN,NaN,NaN
1,Sexos,Condições,Raças,Brancos,Pardos,Pretos,Caboclos
2,Homens,Livres,Brancos,18,0,0,0
3,NaN,NaN,Pardos,0,6,0,0
4,NaN,NaN,Pretos,0,0,16,0

In [64]:
totais_racas_header = totais_racas.iloc[1]
totais_racas.columns = totais_racas_header
totais_racas = totais_racas[2:]
totais_racas.head()

1   Sexos Condições     Raças Brancos Pardos Pretos Caboclos
2  Homens    Livres   Brancos      18      0      0        0
3     NaN       NaN    Pardos       0      6      0        0
4     NaN       NaN    Pretos       0      0     16        0
5     NaN       NaN  Caboclos       0      0      0        1
6     NaN  Escravos    Pardos       0      0      0        0

In [65]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', '', 'Sexos'),
    ('', '', 'Condições'),
    ('', '', 'Raças'),
    ('Totais', 'das Raças', 'Brancos'),
    ('Totais', 'das Raças', 'Pardos'),
    ('Totais', 'das Raças', 'Pretos'),
    ('Totais', 'das Raças', 'Caboclos')
])

totais_racas.columns = columns_multiindex

totais_racas

                                      Totais
                                   das Raças
       Sexos   Condições     Raças   Brancos Pardos Pretos Caboclos
2     Homens      Livres   Brancos        18      0      0        0
3        NaN         NaN    Pardos         0      6      0        0
4        NaN         NaN    Pretos         0      0     16        0
5        NaN         NaN  Caboclos         0      0      0        1
6        NaN    Escravos    Pardos         0      0      0        0
7        NaN         NaN    Pretos         0      0      0        0
8   Mulheres      Livres   Brancas        34      0      0        0
9        NaN         NaN    Pardas         0     12      0        0
10       NaN         NaN    Pretas         0      0     28        0
11       NaN         NaN  Caboclas         0      0      0        2
12       NaN    Escravas    Pardas         0      0      0        0
13       NaN         NaN    Pretas         0      0      0        0
14       NaN  Soma geral       NaN        52     18     44        3

In [66]:
totais_racas[('', '', 'Sexos')] = totais_racas[('', '', 'Sexos')].ffill()

totais_racas[('', '', 'Condições')] = totais_racas[('', '', 'Condições')].ffill()

totais_racas.loc[14, ('', '', 'Raças')] = 'Total'
totais_racas

                                      Totais
                                   das Raças
       Sexos   Condições     Raças   Brancos Pardos Pretos Caboclos
2     Homens      Livres   Brancos        18      0      0        0
3     Homens      Livres    Pardos         0      6      0        0
4     Homens      Livres    Pretos         0      0     16        0
5     Homens      Livres  Caboclos         0      0      0        1
6     Homens    Escravos    Pardos         0      0      0        0
7     Homens    Escravos    Pretos         0      0      0        0
8   Mulheres      Livres   Brancas        34      0      0        0
9   Mulheres      Livres    Pardas         0     12      0        0
10  Mulheres      Livres    Pretas         0      0     28        0
11  Mulheres      Livres  Caboclas         0      0      0        2
12  Mulheres    Escravas    Pardas         0      0      0        0
13  Mulheres    Escravas    Pretas         0      0      0        0
14  Mulheres  Soma geral     Total        52     18     44        3

In [67]:
# colunas_totais_racas = [('Totais', 'das Raças', 'Brancos'),
#     ('Totais', 'das Raças', 'Pardos'),
#     ('Totais', 'das Raças', 'Pretos'),
#     ('Totais', 'das Raças', 'Caboclos')]
# df_no_transpose[colunas_totais_racas] = df_no_transpose[colunas_totais_racas].apply(pd.to_numeric)

# homens_livres = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Livres') & (df_no_transpose[('', '', 'Sexos')] == 'Homens')]
# homens_escravos = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Escravos') & (df_no_transpose[('', '', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_totais_racas].sum() + homens_escravos[colunas_totais_racas].sum()

# soma_homens

In [68]:
# mulheres_livres = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Livres') & (df_no_transpose[('', '', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Escravas') & (df_no_transpose[('', '', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_totais_racas].sum() + mulheres_escravas[colunas_totais_racas].sum()

# soma_mulheres

In [69]:
# total = soma_homens + soma_mulheres
# total

In [70]:
colunas_totais_racas = [('Totais', 'das Raças', 'Brancos'),
    ('Totais', 'das Raças', 'Pardos'),
    ('Totais', 'das Raças', 'Pretos'),
    ('Totais', 'das Raças', 'Caboclos')]
totais_racas[colunas_totais_racas] = totais_racas[colunas_totais_racas].apply(pd.to_numeric)

soma_homens_livres_totais_racas_brancos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Brancos')]
soma_homens_livres_totais_racas_pardos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Pardos')]
soma_homens_livres_totais_racas_pretos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_racas_caboclos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Caboclos')]
soma_homens_escravos_totais_racas_pardos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravos') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Pardos')]
soma_homens_escravos_totais_racas_pretos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravos') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_racas = soma_homens_livres_totais_racas_brancos[colunas_totais_racas].sum() + soma_homens_livres_totais_racas_pardos[colunas_totais_racas].sum() + soma_homens_livres_totais_racas_pretos[colunas_totais_racas].sum() + soma_homens_livres_totais_racas_caboclos[colunas_totais_racas].sum()
soma_homens_escravos_totais_racas = soma_homens_escravos_totais_racas_pardos[colunas_totais_racas].sum() + soma_homens_escravos_totais_racas_pretos[colunas_totais_racas].sum()

soma_homens_livres_totais_racas_brancos = soma_homens_livres_totais_racas_brancos[colunas_totais_racas].sum()
soma_homens_livres_totais_racas_pardos = soma_homens_livres_totais_racas_pardos[colunas_totais_racas].sum()
soma_homens_livres_totais_racas_pretos = soma_homens_livres_totais_racas_pretos[colunas_totais_racas].sum()
soma_homens_livres_totais_racas_caboclos = soma_homens_livres_totais_racas_caboclos[colunas_totais_racas].sum()
soma_homens_escravos_totais_racas_pardos = soma_homens_escravos_totais_racas_pardos[colunas_totais_racas].sum()
soma_homens_escravos_totais_racas_pretos = soma_homens_escravos_totais_racas_pretos[colunas_totais_racas].sum()

soma_homens_totais_racas = soma_homens_livres_totais_racas + soma_homens_escravos_totais_racas
print(soma_homens_totais_racas)
print("Total homens livres brancos: " + str(soma_homens_livres_totais_racas_brancos[colunas_totais_racas].sum()))
print("Total homens livres pardos: " + str(soma_homens_livres_totais_racas_pardos[colunas_totais_racas].sum()))
print("Total homens livres pretos: " + str(soma_homens_livres_totais_racas_pretos[colunas_totais_racas].sum()))
print("Total homens livres caboclos: " + str(soma_homens_livres_totais_racas_caboclos[colunas_totais_racas].sum()))
print("Total homens escravos pardos: " + str(soma_homens_escravos_totais_racas_pardos[colunas_totais_racas].sum()))
print("Total homens escravos pretos: " + str(soma_homens_escravos_totais_racas_pretos[colunas_totais_racas].sum()))
print("Total de homens livres: " + str(soma_homens_livres_totais_racas[colunas_totais_racas].sum()))
print("Total de homens escravos: " + str(soma_homens_escravos_totais_racas[colunas_totais_racas].sum()))
print("Total de homens: " + str(soma_homens_totais_racas[colunas_totais_racas].sum()))

Totais  das Raças  Brancos     18
                   Pardos       6
                   Pretos      16
                   Caboclos     1
dtype: int64
Total homens livres brancos: 18
Total homens livres pardos: 6
Total homens livres pretos: 16
Total homens livres caboclos: 1
Total homens escravos pardos: 0
Total homens escravos pretos: 0
Total de homens livres: 41
Total de homens escravos: 0
Total de homens: 41

In [71]:
soma_mulheres_livres_totais_racas_brancas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Brancas')]
soma_mulheres_livres_totais_racas_pardas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_livres_totais_racas_pretas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_racas_caboclas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_totais_racas_pardas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravas') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_totais_racas_pretas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravas') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_racas = soma_mulheres_livres_totais_racas_brancas[colunas_totais_racas].sum() + soma_mulheres_livres_totais_racas_pardas[colunas_totais_racas].sum() + soma_mulheres_livres_totais_racas_pretas[colunas_totais_racas].sum() + soma_mulheres_livres_totais_racas_caboclas[colunas_totais_racas].sum()
soma_mulheres_escravas_totais_racas = soma_mulheres_escravas_totais_racas_pardas[colunas_totais_racas].sum() + soma_mulheres_escravas_totais_racas_pretas[colunas_totais_racas].sum()

soma_mulheres_livres_totais_racas_brancas = soma_mulheres_livres_totais_racas_brancas[colunas_totais_racas].sum()
soma_mulheres_livres_totais_racas_pardas = soma_mulheres_livres_totais_racas_pardas[colunas_totais_racas].sum()
soma_mulheres_livres_totais_racas_pretas = soma_mulheres_livres_totais_racas_pretas[colunas_totais_racas].sum()
soma_mulheres_livres_totais_racas_caboclas = soma_mulheres_livres_totais_racas_caboclas[colunas_totais_racas].sum()
soma_mulheres_escravas_totais_racas_pardas = soma_mulheres_escravas_totais_racas_pardas[colunas_totais_racas].sum()
soma_mulheres_escravas_totais_racas_pretas = soma_mulheres_escravas_totais_racas_pretas[colunas_totais_racas].sum()

soma_mulheres_totais_racas = soma_mulheres_livres_totais_racas + soma_mulheres_escravas_totais_racas
print(soma_mulheres_totais_racas)
print("Total de mulheres livres brancas: " + str(soma_mulheres_livres_totais_racas_brancas[colunas_totais_racas].sum()))
print("Total de mulheres livres pardas: " + str(soma_mulheres_livres_totais_racas_pardas[colunas_totais_racas].sum()))
print("Total de mulheres livres pretas: " + str(soma_mulheres_livres_totais_racas_pretas[colunas_totais_racas].sum()))
print("Total de mulheres livres caboclas: " + str(soma_mulheres_livres_totais_racas_caboclas[colunas_totais_racas].sum()))
print("Total de mulheres escravas pardas: " + str(soma_mulheres_escravas_totais_racas_pardas[colunas_totais_racas].sum()))
print("Total de mulheres escravas pretas: " + str(soma_mulheres_escravas_totais_racas_pretas[colunas_totais_racas].sum()))
print("Total de mulheres livres: " + str(soma_mulheres_livres_totais_racas[colunas_totais_racas].sum()))
print("Total de mulheres escravas: " + str(soma_mulheres_escravas_totais_racas[colunas_totais_racas].sum()))
print("Total de mulheres: " + str(soma_mulheres_totais_racas[colunas_totais_racas].sum()))

Totais  das Raças  Brancos     34
                   Pardos      12
                   Pretos      28
                   Caboclos     2
dtype: int64
Total de mulheres livres brancas: 34
Total de mulheres livres pardas: 12
Total de mulheres livres pretas: 28
Total de mulheres livres caboclas: 2
Total de mulheres escravas pardas: 0
Total de mulheres escravas pretas: 0
Total de mulheres livres: 76
Total de mulheres escravas: 0
Total de mulheres: 76

In [72]:
soma_total_totais_racas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Soma geral') & (totais_racas[('', '', 'Raças')] == 'Total')]
soma_total_totais_racas = soma_total_totais_racas[colunas_totais_racas].sum()
soma_total_totais_racas = int(soma_total_totais_racas.sum())

soma_homens_totais_racas = int(soma_homens_totais_racas.sum())
soma_mulheres_totais_racas = int(soma_mulheres_totais_racas.sum())

print("Soma de homens e mulheres: " + str(soma_homens_totais_racas + soma_mulheres_totais_racas))
print("Total de homens e mulheres: " + str(soma_total_totais_racas))

if soma_total_totais_racas == soma_homens_totais_racas + soma_mulheres_totais_racas:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_totais_racas))
    print("Total da soma efetuada: " + str(soma_homens_totais_racas + soma_mulheres_totais_racas))

Soma de homens e mulheres: 117
Total de homens e mulheres: 117
OK

# Totais das condições

In [73]:
totais_condicoes = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 37', 'Unnamed: 38']]
totais_condicoes.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 37 Unnamed: 38
0        NaN        NaN        NaN  das Condições         NaN
1      Sexos  Condições      Raças         Livres    Escravos
2     Homens     Livres    Brancos             41           0
3        NaN        NaN     Pardos            NaN           0
4        NaN        NaN     Pretos            NaN           0

In [74]:
totais_condicoes_header = totais_condicoes.iloc[1]
totais_condicoes.columns = totais_condicoes_header
totais_condicoes = totais_condicoes[2:]
totais_condicoes.head()

1   Sexos Condições     Raças Livres Escravos
2  Homens    Livres   Brancos     41        0
3     NaN       NaN    Pardos    NaN        0
4     NaN       NaN    Pretos    NaN        0
5     NaN       NaN  Caboclos    NaN        0
6     NaN  Escravos    Pardos      0        0

In [75]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', '', 'Sexos'),
    ('', '', 'Condições'),
    ('', '', 'Raças'),
    ('Totais', 'das Condições', 'Livres'),
    ('Totais', 'das Condições', 'Escravos')
])

totais_condicoes.columns = columns_multiindex

totais_condicoes

                                          Totais
                                   das Condições
       Sexos   Condições     Raças        Livres Escravos
2     Homens      Livres   Brancos            41        0
3        NaN         NaN    Pardos           NaN        0
4        NaN         NaN    Pretos           NaN        0
5        NaN         NaN  Caboclos           NaN        0
6        NaN    Escravos    Pardos             0        0
7        NaN         NaN    Pretos             0      NaN
8   Mulheres      Livres   Brancas            76        0
9        NaN         NaN    Pardas           NaN        0
10       NaN         NaN    Pretas           NaN        0
11       NaN         NaN  Caboclas           NaN        0
12       NaN    Escravas    Pardas             0        0
13       NaN         NaN    Pretas             0      NaN
14       NaN  Soma geral       NaN           117        0

In [76]:
totais_condicoes[('', '', 'Sexos')] = totais_condicoes[('', '', 'Sexos')].ffill()

totais_condicoes[('', '', 'Condições')] = totais_condicoes[('', '', 'Condições')].ffill()

totais_condicoes[('Totais', 'das Condições', 'Livres')] = totais_condicoes[('Totais', 'das Condições', 'Livres')].fillna(0)

totais_condicoes[('Totais', 'das Condições', 'Escravos')] = totais_condicoes[('Totais', 'das Condições', 'Escravos')].fillna(0)

totais_condicoes.loc[14, ('', '', 'Raças')] = 'Total'
totais_condicoes

                                          Totais
                                   das Condições
       Sexos   Condições     Raças        Livres Escravos
2     Homens      Livres   Brancos            41        0
3     Homens      Livres    Pardos             0        0
4     Homens      Livres    Pretos             0        0
5     Homens      Livres  Caboclos             0        0
6     Homens    Escravos    Pardos             0        0
7     Homens    Escravos    Pretos             0        0
8   Mulheres      Livres   Brancas            76        0
9   Mulheres      Livres    Pardas             0        0
10  Mulheres      Livres    Pretas             0        0
11  Mulheres      Livres  Caboclas             0        0
12  Mulheres    Escravas    Pardas             0        0
13  Mulheres    Escravas    Pretas             0        0
14  Mulheres  Soma geral     Total           117        0

In [77]:
# colunas_totais_condicoes = [('Totais', 'das Condições', 'Livres'), ('Totais', 'das Condições', 'Escravos')]
# df_no_transpose[colunas_totais_condicoes] = df_no_transpose[colunas_totais_condicoes].apply(pd.to_numeric)

# homens_livres = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Livres') & (df_no_transpose[('', '', 'Sexos')] == 'Homens')]
# homens_escravos = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Escravos') & (df_no_transpose[('', '', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_totais_condicoes].sum() + homens_escravos[colunas_totais_condicoes].sum()

# soma_homens

In [78]:
# mulheres_livres = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Livres') & (df_no_transpose[('', '', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Escravas') & (df_no_transpose[('', '', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_totais_condicoes].sum() + mulheres_escravas[colunas_totais_condicoes].sum()

# soma_mulheres

In [79]:
# total = soma_homens + soma_mulheres
# total

In [80]:
colunas_totais_condicoes = [('Totais', 'das Condições', 'Livres'), ('Totais', 'das Condições', 'Escravos')]
totais_condicoes[colunas_totais_condicoes] = totais_condicoes[colunas_totais_condicoes].apply(pd.to_numeric)

soma_homens_livres_totais_condicoes_brancos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Brancos')]
soma_homens_livres_totais_condicoes_pardos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Pardos')]
soma_homens_livres_totais_condicoes_pretos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_condicoes_caboclos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Caboclos')]
soma_homens_escravos_totais_condicoes_pardos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravos') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Pardos')]
soma_homens_escravos_totais_condicoes_pretos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravos') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_condicoes = soma_homens_livres_totais_condicoes_brancos[colunas_totais_condicoes].sum() + soma_homens_livres_totais_condicoes_pardos[colunas_totais_condicoes].sum() + soma_homens_livres_totais_condicoes_pretos[colunas_totais_condicoes].sum() + soma_homens_livres_totais_condicoes_caboclos[colunas_totais_condicoes].sum()
soma_homens_escravos_totais_condicoes = soma_homens_escravos_totais_condicoes_pardos[colunas_totais_condicoes].sum() + soma_homens_escravos_totais_condicoes_pretos[colunas_totais_condicoes].sum()

soma_homens_livres_totais_condicoes_brancos = soma_homens_livres_totais_condicoes_brancos[colunas_totais_condicoes].sum()
soma_homens_livres_totais_condicoes_pardos = soma_homens_livres_totais_condicoes_pardos[colunas_totais_condicoes].sum()
soma_homens_livres_totais_condicoes_pretos = soma_homens_livres_totais_condicoes_pretos[colunas_totais_condicoes].sum()
soma_homens_livres_totais_condicoes_caboclos = soma_homens_livres_totais_condicoes_caboclos[colunas_totais_condicoes].sum()
soma_homens_escravos_totais_condicoes_pardos = soma_homens_escravos_totais_condicoes_pardos[colunas_totais_condicoes].sum()
soma_homens_escravos_totais_condicoes_pretos = soma_homens_escravos_totais_condicoes_pretos[colunas_totais_condicoes].sum()

soma_homens_totais_condicoes = soma_homens_livres_totais_condicoes + soma_homens_escravos_totais_condicoes
print(soma_homens_totais_condicoes)
print("Total homens livres brancos: " + str(soma_homens_livres_totais_condicoes_brancos[colunas_totais_condicoes].sum()))
print("Total homens livres pardos: " + str(soma_homens_livres_totais_condicoes_pardos[colunas_totais_condicoes].sum()))
print("Total homens livres pretos: " + str(soma_homens_livres_totais_condicoes_pretos[colunas_totais_condicoes].sum()))
print("Total homens livres caboclos: " + str(soma_homens_livres_totais_condicoes_caboclos[colunas_totais_condicoes].sum()))
print("Total homens escravos pardos: " + str(soma_homens_escravos_totais_condicoes_pardos[colunas_totais_condicoes].sum()))
print("Total homens escravos pretos: " + str(soma_homens_escravos_totais_condicoes_pretos[colunas_totais_condicoes].sum()))
print("Total de homens livres: " + str(soma_homens_livres_totais_condicoes[colunas_totais_condicoes].sum()))
print("Total de homens escravos: " + str(soma_homens_escravos_totais_condicoes[colunas_totais_condicoes].sum()))
print("Total de homens: " + str(soma_homens_totais_condicoes[colunas_totais_condicoes].sum()))

Totais  das Condições  Livres      41
                       Escravos     0
dtype: int64
Total homens livres brancos: 41
Total homens livres pardos: 0
Total homens livres pretos: 0
Total homens livres caboclos: 0
Total homens escravos pardos: 0
Total homens escravos pretos: 0
Total de homens livres: 41
Total de homens escravos: 0
Total de homens: 41

In [81]:
soma_mulheres_livres_totais_condicoes_brancas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Brancas')]
soma_mulheres_livres_totais_condicoes_pardas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_livres_totais_condicoes_pretas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_condicoes_caboclas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_totais_condicoes_pardas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravas') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_totais_condicoes_pretas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravas') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_condicoes = soma_mulheres_livres_totais_condicoes_brancas[colunas_totais_condicoes].sum() + soma_mulheres_livres_totais_condicoes_pardas[colunas_totais_condicoes].sum() + soma_mulheres_livres_totais_condicoes_pretas[colunas_totais_condicoes].sum() + soma_mulheres_livres_totais_condicoes_caboclas[colunas_totais_condicoes].sum()
soma_mulheres_escravas_totais_condicoes = soma_mulheres_escravas_totais_condicoes_pardas[colunas_totais_condicoes].sum() + soma_mulheres_escravas_totais_condicoes_pretas[colunas_totais_condicoes].sum()

soma_mulheres_livres_totais_condicoes_brancas = soma_mulheres_livres_totais_condicoes_brancas[colunas_totais_condicoes].sum()
soma_mulheres_livres_totais_condicoes_pardas = soma_mulheres_livres_totais_condicoes_pardas[colunas_totais_condicoes].sum()
soma_mulheres_livres_totais_condicoes_pretas = soma_mulheres_livres_totais_condicoes_pretas[colunas_totais_condicoes].sum()
soma_mulheres_livres_totais_condicoes_caboclas = soma_mulheres_livres_totais_condicoes_caboclas[colunas_totais_condicoes].sum()
soma_mulheres_escravas_totais_condicoes_pardas = soma_mulheres_escravas_totais_condicoes_pardas[colunas_totais_condicoes].sum()
soma_mulheres_escravas_totais_condicoes_pretas = soma_mulheres_escravas_totais_condicoes_pretas[colunas_totais_condicoes].sum()

soma_mulheres_totais_condicoes = soma_mulheres_livres_totais_condicoes + soma_mulheres_escravas_totais_condicoes
print(soma_mulheres_totais_condicoes)
print("Total de mulheres livres brancas: " + str(soma_mulheres_livres_totais_condicoes_brancas[colunas_totais_condicoes].sum()))
print("Total de mulheres livres pardas: " + str(soma_mulheres_livres_totais_condicoes_pardas[colunas_totais_condicoes].sum()))
print("Total de mulheres livres pretas: " + str(soma_mulheres_livres_totais_condicoes_pretas[colunas_totais_condicoes].sum()))
print("Total de mulheres livres caboclas: " + str(soma_mulheres_livres_totais_condicoes_caboclas[colunas_totais_condicoes].sum()))
print("Total de mulheres escravas pardas: " + str(soma_mulheres_escravas_totais_condicoes_pardas[colunas_totais_condicoes].sum()))
print("Total de mulheres escravas pretas: " + str(soma_mulheres_escravas_totais_condicoes_pretas[colunas_totais_condicoes].sum()))
print("Total de mulheres livres: " + str(soma_mulheres_livres_totais_condicoes[colunas_totais_condicoes].sum()))
print("Total de mulheres escravas: " + str(soma_mulheres_escravas_totais_condicoes[colunas_totais_condicoes].sum()))
print("Total de mulheres: " + str(soma_mulheres_totais_condicoes[colunas_totais_condicoes].sum()))

Totais  das Condições  Livres      76
                       Escravos     0
dtype: int64
Total de mulheres livres brancas: 76
Total de mulheres livres pardas: 0
Total de mulheres livres pretas: 0
Total de mulheres livres caboclas: 0
Total de mulheres escravas pardas: 0
Total de mulheres escravas pretas: 0
Total de mulheres livres: 76
Total de mulheres escravas: 0
Total de mulheres: 76

In [82]:
soma_total_totais_condicoes = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Soma geral') & (totais_condicoes[('', '', 'Raças')] == 'Total')]
soma_total_totais_condicoes = soma_total_totais_condicoes[colunas_totais_condicoes].sum()
soma_total_totais_condicoes = int(soma_total_totais_condicoes.sum())

soma_homens_totais_condicoes = int(soma_homens_totais_condicoes.sum())
soma_mulheres_totais_condicoes = int(soma_mulheres_totais_condicoes.sum())

print("Soma de homens e mulheres: " + str(soma_homens_totais_condicoes + soma_mulheres_totais_condicoes))
print("Total de homens e mulheres: " + str(soma_total_totais_condicoes))

if soma_total_totais_condicoes == soma_homens_totais_condicoes + soma_mulheres_totais_condicoes:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_totais_condicoes))
    print("Total da soma efetuada: " + str(soma_homens_totais_condicoes + soma_mulheres_totais_condicoes))

Soma de homens e mulheres: 117
Total de homens e mulheres: 117
OK

# Totais dos sexos

In [83]:
totais_sexos = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 39', 'Unnamed: 40']]
totais_sexos.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 39 Unnamed: 40
0        NaN        NaN        NaN   dos Sexos         NaN
1      Sexos  Condições      Raças      Homens    Mulheres
2     Homens     Livres    Brancos          41           0
3        NaN        NaN     Pardos         NaN           0
4        NaN        NaN     Pretos         NaN           0

In [84]:
totais_sexos_header = totais_sexos.iloc[1]
totais_sexos.columns = totais_sexos_header
totais_sexos = totais_sexos[2:]
totais_sexos.head()

1   Sexos Condições     Raças Homens Mulheres
2  Homens    Livres   Brancos     41        0
3     NaN       NaN    Pardos    NaN        0
4     NaN       NaN    Pretos    NaN        0
5     NaN       NaN  Caboclos    NaN        0
6     NaN  Escravos    Pardos    NaN        0

In [85]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', '', 'Sexos'),
    ('', '', 'Condições'),
    ('', '', 'Raças'),
    ('Totais', 'dos Sexos', 'Homens'),
    ('Totais', 'dos Sexos', 'Mulheres')
])

totais_sexos.columns = columns_multiindex

totais_sexos

                                      Totais
                                   dos Sexos
       Sexos   Condições     Raças    Homens Mulheres
2     Homens      Livres   Brancos        41        0
3        NaN         NaN    Pardos       NaN        0
4        NaN         NaN    Pretos       NaN        0
5        NaN         NaN  Caboclos       NaN        0
6        NaN    Escravos    Pardos       NaN        0
7        NaN         NaN    Pretos       NaN        0
8   Mulheres      Livres   Brancas         0       76
9        NaN         NaN    Pardas         0      NaN
10       NaN         NaN    Pretas         0      NaN
11       NaN         NaN  Caboclas         0      NaN
12       NaN    Escravas    Pardas         0      NaN
13       NaN         NaN    Pretas         0      NaN
14       NaN  Soma geral       NaN        41       76

In [86]:
totais_sexos[('', '', 'Sexos')] = totais_sexos[('', '', 'Sexos')].ffill()

totais_sexos[('', '', 'Condições')] = totais_sexos[('', '', 'Condições')].ffill()

totais_sexos[('Totais', 'dos Sexos', 'Homens')] = totais_sexos[('Totais', 'dos Sexos', 'Homens')].fillna(0)

totais_sexos[('Totais', 'dos Sexos', 'Mulheres')] = totais_sexos[('Totais', 'dos Sexos', 'Mulheres')].fillna(0)

totais_sexos.loc[14, ('', '', 'Raças')] = 'Total'
totais_sexos

                                      Totais
                                   dos Sexos
       Sexos   Condições     Raças    Homens Mulheres
2     Homens      Livres   Brancos        41        0
3     Homens      Livres    Pardos         0        0
4     Homens      Livres    Pretos         0        0
5     Homens      Livres  Caboclos         0        0
6     Homens    Escravos    Pardos         0        0
7     Homens    Escravos    Pretos         0        0
8   Mulheres      Livres   Brancas         0       76
9   Mulheres      Livres    Pardas         0        0
10  Mulheres      Livres    Pretas         0        0
11  Mulheres      Livres  Caboclas         0        0
12  Mulheres    Escravas    Pardas         0        0
13  Mulheres    Escravas    Pretas         0        0
14  Mulheres  Soma geral     Total        41       76

In [87]:
# colunas_totais_sexos = [('Totais', 'das Condições', 'Livres'), ('Totais', 'das Condições', 'Escravos')]
# df_no_transpose[colunas_totais_sexos] = df_no_transpose[colunas_totais_sexos].apply(pd.to_numeric)

# homens_livres = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Livres') & (df_no_transpose[('', '', 'Sexos')] == 'Homens')]
# homens_escravos = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Escravos') & (df_no_transpose[('', '', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_totais_sexos].sum() + homens_escravos[colunas_totais_sexos].sum()

# soma_homens

In [88]:
# mulheres_livres = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Livres') & (df_no_transpose[('', '', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = df_no_transpose.loc[(df_no_transpose[('', '', 'Condições')] == 'Escravas') & (df_no_transpose[('', '', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_totais_sexos].sum() + mulheres_escravas[colunas_totais_sexos].sum()

# soma_mulheres

In [89]:
# total = soma_homens + soma_mulheres
# total

In [90]:
colunas_totais_sexos = [('Totais', 'dos Sexos', 'Homens'), ('Totais', 'dos Sexos', 'Mulheres')]
totais_sexos[colunas_totais_sexos] = totais_sexos[colunas_totais_sexos].apply(pd.to_numeric)

soma_homens_livres_totais_sexos_brancos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Brancos')]
soma_homens_livres_totais_sexos_pardos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Pardos')]
soma_homens_livres_totais_sexos_pretos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_sexos_caboclos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Caboclos')]
soma_homens_escravos_totais_sexos_pardos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravos') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Pardos')]
soma_homens_escravos_totais_sexos_pretos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravos') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_sexos = soma_homens_livres_totais_sexos_brancos[colunas_totais_sexos].sum() + soma_homens_livres_totais_sexos_pardos[colunas_totais_sexos].sum() + soma_homens_livres_totais_sexos_pretos[colunas_totais_sexos].sum() + soma_homens_livres_totais_sexos_caboclos[colunas_totais_sexos].sum()
soma_homens_escravos_totais_sexos = soma_homens_escravos_totais_sexos_pardos[colunas_totais_sexos].sum() + soma_homens_escravos_totais_sexos_pretos[colunas_totais_sexos].sum()

soma_homens_livres_totais_sexos_brancos = soma_homens_livres_totais_sexos_brancos[colunas_totais_sexos].sum()
soma_homens_livres_totais_sexos_pardos = soma_homens_livres_totais_sexos_pardos[colunas_totais_sexos].sum()
soma_homens_livres_totais_sexos_pretos = soma_homens_livres_totais_sexos_pretos[colunas_totais_sexos].sum()
soma_homens_livres_totais_sexos_caboclos = soma_homens_livres_totais_sexos_caboclos[colunas_totais_sexos].sum()
soma_homens_escravos_totais_sexos_pardos = soma_homens_escravos_totais_sexos_pardos[colunas_totais_sexos].sum()
soma_homens_escravos_totais_sexos_pretos = soma_homens_escravos_totais_sexos_pretos[colunas_totais_sexos].sum()

soma_homens_totais_sexos = soma_homens_livres_totais_sexos + soma_homens_escravos_totais_sexos
print(soma_homens_totais_sexos)
print("Total homens livres brancos: " + str(soma_homens_livres_totais_sexos_brancos[colunas_totais_sexos].sum()))
print("Total homens livres pardos: " + str(soma_homens_livres_totais_sexos_pardos[colunas_totais_sexos].sum()))
print("Total homens livres pretos: " + str(soma_homens_livres_totais_sexos_pretos[colunas_totais_sexos].sum()))
print("Total homens livres caboclos: " + str(soma_homens_livres_totais_sexos_caboclos[colunas_totais_sexos].sum()))
print("Total homens escravos pardos: " + str(soma_homens_escravos_totais_sexos_pardos[colunas_totais_sexos].sum()))
print("Total homens escravos pretos: " + str(soma_homens_escravos_totais_sexos_pretos[colunas_totais_sexos].sum()))
print("Total de homens livres: " + str(soma_homens_livres_totais_sexos[colunas_totais_sexos].sum()))
print("Total de homens escravos: " + str(soma_homens_escravos_totais_sexos[colunas_totais_sexos].sum()))
print("Total de homens: " + str(soma_homens_totais_sexos[colunas_totais_sexos].sum()))

Totais  dos Sexos  Homens      41
                   Mulheres     0
dtype: int64
Total homens livres brancos: 41
Total homens livres pardos: 0
Total homens livres pretos: 0
Total homens livres caboclos: 0
Total homens escravos pardos: 0
Total homens escravos pretos: 0
Total de homens livres: 41
Total de homens escravos: 0
Total de homens: 41

In [91]:
soma_mulheres_livres_totais_sexos_brancas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Brancas')]
soma_mulheres_livres_totais_sexos_pardas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_livres_totais_sexos_pretas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_sexos_caboclas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_totais_sexos_pardas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravas') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_totais_sexos_pretas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravas') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_sexos = soma_mulheres_livres_totais_sexos_brancas[colunas_totais_sexos].sum() + soma_mulheres_livres_totais_sexos_pardas[colunas_totais_sexos].sum() + soma_mulheres_livres_totais_sexos_pretas[colunas_totais_sexos].sum() + soma_mulheres_livres_totais_sexos_caboclas[colunas_totais_sexos].sum()
soma_mulheres_escravas_totais_sexos = soma_mulheres_escravas_totais_sexos_pardas[colunas_totais_sexos].sum() + soma_mulheres_escravas_totais_sexos_pretas[colunas_totais_sexos].sum()

soma_mulheres_livres_totais_sexos_brancas = soma_mulheres_livres_totais_sexos_brancas[colunas_totais_sexos].sum()
soma_mulheres_livres_totais_sexos_pardas = soma_mulheres_livres_totais_sexos_pardas[colunas_totais_sexos].sum()
soma_mulheres_livres_totais_sexos_pretas = soma_mulheres_livres_totais_sexos_pretas[colunas_totais_sexos].sum()
soma_mulheres_livres_totais_sexos_caboclas = soma_mulheres_livres_totais_sexos_caboclas[colunas_totais_sexos].sum()
soma_mulheres_escravas_totais_sexos_pardas = soma_mulheres_escravas_totais_sexos_pardas[colunas_totais_sexos].sum()
soma_mulheres_escravas_totais_sexos_pretas = soma_mulheres_escravas_totais_sexos_pretas[colunas_totais_sexos].sum()

soma_mulheres_totais_sexos = soma_mulheres_livres_totais_sexos + soma_mulheres_escravas_totais_sexos
print(soma_mulheres_totais_sexos)
print("Total de mulheres livres brancas: " + str(soma_mulheres_livres_totais_sexos_brancas[colunas_totais_sexos].sum()))
print("Total de mulheres livres pardas: " + str(soma_mulheres_livres_totais_sexos_pardas[colunas_totais_sexos].sum()))
print("Total de mulheres livres pretas: " + str(soma_mulheres_livres_totais_sexos_pretas[colunas_totais_sexos].sum()))
print("Total de mulheres livres caboclas: " + str(soma_mulheres_livres_totais_sexos_caboclas[colunas_totais_sexos].sum()))
print("Total de mulheres escravas pardas: " + str(soma_mulheres_escravas_totais_sexos_pardas[colunas_totais_sexos].sum()))
print("Total de mulheres escravas pretas: " + str(soma_mulheres_escravas_totais_sexos_pretas[colunas_totais_sexos].sum()))
print("Total de mulheres livres: " + str(soma_mulheres_livres_totais_sexos[colunas_totais_sexos].sum()))
print("Total de mulheres escravas: " + str(soma_mulheres_escravas_totais_sexos[colunas_totais_sexos].sum()))
print("Total de mulheres: " + str(soma_mulheres_totais_sexos[colunas_totais_sexos].sum()))

Totais  dos Sexos  Homens       0
                   Mulheres    76
dtype: int64
Total de mulheres livres brancas: 76
Total de mulheres livres pardas: 0
Total de mulheres livres pretas: 0
Total de mulheres livres caboclas: 0
Total de mulheres escravas pardas: 0
Total de mulheres escravas pretas: 0
Total de mulheres livres: 76
Total de mulheres escravas: 0
Total de mulheres: 76

In [92]:
soma_total_totais_sexos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Soma geral') & (totais_sexos[('', '', 'Raças')] == 'Total')]
soma_total_totais_sexos = soma_total_totais_sexos[colunas_totais_sexos].sum()
soma_total_totais_sexos = int(soma_total_totais_sexos.sum())

soma_homens_totais_sexos = int(soma_homens_totais_sexos.sum())
soma_mulheres_totais_sexos = int(soma_mulheres_totais_sexos.sum())

print("Soma de homens e mulheres: " + str(soma_homens_totais_sexos + soma_mulheres_totais_sexos))
print("Total de homens e mulheres: " + str(soma_total_totais_sexos))

if soma_total_totais_sexos == soma_homens_totais_sexos + soma_mulheres_totais_sexos:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_totais_sexos))
    print("Total da soma efetuada: " + str(soma_homens_totais_sexos + soma_mulheres_totais_sexos))

Soma de homens e mulheres: 117
Total de homens e mulheres: 117
OK