In [1]:
import pandas as pd
import numpy as np
import pathfinder as pf

In [2]:
filename = "censo_1872_ce-003_p1.csv"
path = pf.find_file(filename)
df = pd.read_csv(path)

# População em relação à nacionalidade brasileira

In [3]:
df = df[:len(df) - 1]
df.head(40)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,População em relação à nacionalidade brasileira,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,dos Estados civis,NaN,NaN,das Condições,NaN,dos Sexos,NaN
1,Sexos,Condições,Estados civis,Raças,Brasileiros adotivos,Estrangeiros naturalizados,Amazonas,Pará,Maranhão,Piauí,...,Pardos,Pretos,Caboclos,Solteiros,Casados,Viúvos,Livres,Escravos,Masculino,Feminino
2,Homens,Livres,Solteiros,Brancos,0,0,0,1,3,6,...,0,0,0,6838,NaN,NaN,9779,NaN,10301,NaN
3,NaN,NaN,NaN,Pardos,0,0,0,5,6,8,...,2924,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Pretos,0,0,0,0,5,3,...,0,247,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,Caboclos,0,0,0,2,3,0,...,0,0,478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Casados,Brancos,0,0,1,0,3,0,...,0,0,0,NaN,2574,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,Pardos,0,0,0,3,0,9,...,1253,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,Pretos,0,0,0,0,0,1,...,0,98,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,Caboclos,0,0,0,0,0,0,...,0,0,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Viúvos,Brancos,0,0,0,0,1,0,...,0,0,0,NaN,NaN,367,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,Pardos,0,0,0,0,0,0,...,155,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,Pretos,0,0,0,0,0,0,...,0,74,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,Caboclos,0,0,0,0,0,0,...,0,0,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Escravos,Solteiros,Pardos,0,0,0,0,0,7,...,312,0,0,502,NaN,NaN,NaN,522,NaN,NaN
15,NaN,NaN,NaN,Pretos,0,0,0,0,4,8,...,0,190,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,Casados,Pardos,0,0,0,0,0,0,...,8,0,0,NaN,14,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,Pretos,0,0,0,0,0,0,...,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Viúvos,Pardos,0,0,0,0,0,0,...,6,0,0,NaN,NaN,6,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,Pretos,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Mulheres,Livres,Solteiras,Brancas,0,0,0,0,4,1,...,0,0,0,6856,NaN,NaN,9661,NaN,NaN,10322
21,NaN,NaN,NaN,Pardas,0,0,0,0,4,4,...,3310,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,Pretas,0,0,1,0,3,0,...,0,370,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,Caboclas,0,0,0,0,0,0,...,0,0,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,Casadas,Brancas,0,0,0,0,3,2,...,0,0,0,NaN,2033,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,Pardas,0,0,0,0,0,1,...,940,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,Pretas,0,0,0,0,1,0,...,0,46,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,Caboclas,0,0,0,0,0,0,...,0,0,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,Viúvas,Brancas,0,0,0,0,0,1,...,0,0,0,NaN,NaN,772,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,Pardas,0,0,0,0,0,4,...,351,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,Pretas,0,0,0,0,0,0,...,0,24,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,Caboclas,0,0,0,0,0,0,...,0,0,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Escravas,Solteiras,Pardas,0,0,0,0,0,0,...,350,0,0,638,NaN,NaN,NaN,661,NaN,NaN
33,NaN,NaN,NaN,Pretas,0,0,0,0,2,0,...,0,288,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,Casadas,Pardas,0,0,0,0,0,1,...,14,0,0,NaN,19,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,Pretas,0,0,0,0,0,0,...,0,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,Viúvas,Pardas,0,0,0,0,0,0,...,1,0,0,NaN,NaN,4,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,Pretas,0,0,0,0,0,0,...,0,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,Soma geral,NaN,0,0,2,11,42,56,...,9624,1351,1046,14834,4640,1149,19440,1183,10301,10322

In [4]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'População em relação à nacionalidade brasileira',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Totais', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36'],
      dtype='object')

# Estrangeiros

In [5]:
estrangeiros = df[['Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5']]
estrangeiros.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Sexos,Condições,Estados civis,Raças,Brasileiros adotivos,Estrangeiros naturalizados
2,Homens,Livres,Solteiros,Brancos,0,0
3,NaN,NaN,NaN,Pardos,0,0
4,NaN,NaN,NaN,Pretos,0,0

In [6]:
new_header = estrangeiros.iloc[1]
estrangeiros.columns = new_header
estrangeiros = estrangeiros[2:]
estrangeiros.head()

1,Sexos,Condições,Estados civis,Raças,Brasileiros adotivos,Estrangeiros naturalizados
2,Homens,Livres,Solteiros,Brancos,0,0
3,NaN,NaN,NaN,Pardos,0,0
4,NaN,NaN,NaN,Pretos,0,0
5,NaN,NaN,NaN,Caboclos,0,0
6,NaN,NaN,Casados,Brancos,0,0

In [7]:
estrangeiros['Sexos'] = estrangeiros['Sexos'].ffill()

estrangeiros['Condições'] = estrangeiros['Condições'].ffill()

estrangeiros['Estados civis'] = estrangeiros['Condições'].ffill()

estrangeiros.loc[38, 'Raças'] = 'Total'
estrangeiros

1,Sexos,Condições,Estados civis,Raças,Brasileiros adotivos,Estrangeiros naturalizados
2,Homens,Livres,Livres,Brancos,0,0
3,Homens,Livres,Livres,Pardos,0,0
4,Homens,Livres,Livres,Pretos,0,0
5,Homens,Livres,Livres,Caboclos,0,0
6,Homens,Livres,Livres,Brancos,0,0
7,Homens,Livres,Livres,Pardos,0,0
8,Homens,Livres,Livres,Pretos,0,0
9,Homens,Livres,Livres,Caboclos,0,0
10,Homens,Livres,Livres,Brancos,0,0
11,Homens,Livres,Livres,Pardos,0,0
12,Homens,Livres,Livres,Pretos,0,0
13,Homens,Livres,Livres,Caboclos,0,0
14,Homens,Escravos,Escravos,Pardos,0,0
15,Homens,Escravos,Escravos,Pretos,0,0
16,Homens,Escravos,Escravos,Pardos,0,0
17,Homens,Escravos,Escravos,Pretos,0,0
18,Homens,Escravos,Escravos,Pardos,0,0
19,Homens,Escravos,Escravos,Pretos,0,0
20,Mulheres,Livres,Livres,Brancas,0,0
21,Mulheres,Livres,Livres,Pardas,0,0
22,Mulheres,Livres,Livres,Pretas,0,0
23,Mulheres,Livres,Livres,Caboclas,0,0
24,Mulheres,Livres,Livres,Brancas,0,0
25,Mulheres,Livres,Livres,Pardas,0,0
26,Mulheres,Livres,Livres,Pretas,0,0
27,Mulheres,Livres,Livres,Caboclas,0,0
28,Mulheres,Livres,Livres,Brancas,0,0
29,Mulheres,Livres,Livres,Pardas,0,0
30,Mulheres,Livres,Livres,Pretas,0,0
31,Mulheres,Livres,Livres,Caboclas,0,0
32,Mulheres,Escravas,Escravas,Pardas,0,0
33,Mulheres,Escravas,Escravas,Pretas,0,0
34,Mulheres,Escravas,Escravas,Pardas,0,0
35,Mulheres,Escravas,Escravas,Pretas,0,0
36,Mulheres,Escravas,Escravas,Pardas,0,0
37,Mulheres,Escravas,Escravas,Pretas,0,0
38,Mulheres,Escravas,Escravas,Total,0,0

In [8]:
colunas_estrangeiros = ['Brasileiros adotivos', 'Estrangeiros naturalizados']
estrangeiros[colunas_estrangeiros] = estrangeiros[colunas_estrangeiros].apply(pd.to_numeric)

homens_livres = estrangeiros.loc[(estrangeiros['Condições'] == 'Livres') & (estrangeiros['Sexos'] == 'Homens')]
homens_escravos = estrangeiros.loc[(estrangeiros['Condições'] == 'Escravos') & (estrangeiros['Sexos'] == 'Homens')]

soma_homens = homens_livres[colunas_estrangeiros].sum() + homens_escravos[colunas_estrangeiros].sum()

soma_homens

1
Brasileiros adotivos          0
Estrangeiros naturalizados    0
dtype: int64

In [9]:
colunas_estrangeiros = ['Brasileiros adotivos', 'Estrangeiros naturalizados']
estrangeiros[colunas_estrangeiros] = estrangeiros[colunas_estrangeiros].apply(pd.to_numeric)

mulheres_livres = estrangeiros.loc[(estrangeiros['Condições'] == 'Livres') & (estrangeiros['Sexos'] == 'Mulheres')]
mulheres_escravas = estrangeiros.loc[(estrangeiros['Condições'] == 'Escravas') & (estrangeiros['Sexos'] == 'Mulheres')]

soma_mulheres = mulheres_livres[colunas_estrangeiros].sum() + mulheres_escravas[colunas_estrangeiros].sum()

soma_mulheres

1
Brasileiros adotivos          0
Estrangeiros naturalizados    0
dtype: int64

# População de outros estados

In [10]:
estados = df[['Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'População em relação à nacionalidade brasileira', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']]
estados.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,População em relação à nacionalidade brasileira,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sexos,Condições,Estados civis,Raças,Amazonas,Pará,Maranhão,Piauí,Ceará,Rio Grande do Norte,...,Bahia,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Minas Gerais,Goiás,Mato Grosso
2,Homens,Livres,Solteiros,Brancos,0,1,3,6,3124,8,...,4,1,12,1,2,1,1,1,0,0
3,NaN,NaN,NaN,Pardos,0,5,6,8,2821,16,...,9,8,9,2,2,2,1,4,0,0
4,NaN,NaN,NaN,Pretos,0,0,5,3,219,0,...,1,0,5,0,0,0,0,0,0,0

In [11]:
new_header = estados.iloc[1]
estados.columns = new_header
estados = estados[2:]
estados.head()

1,Sexos,Condições,Estados civis,Raças,Amazonas,Pará,Maranhão,Piauí,Ceará,Rio Grande do Norte,...,Bahia,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Minas Gerais,Goiás,Mato Grosso
2,Homens,Livres,Solteiros,Brancos,0,1,3,6,3124,8,...,4,1,12,1,2,1,1,1,0,0
3,NaN,NaN,NaN,Pardos,0,5,6,8,2821,16,...,9,8,9,2,2,2,1,4,0,0
4,NaN,NaN,NaN,Pretos,0,0,5,3,219,0,...,1,0,5,0,0,0,0,0,0,0
5,NaN,NaN,NaN,Caboclos,0,2,3,0,457,3,...,2,1,0,1,0,0,0,0,0,0
6,NaN,NaN,Casados,Brancos,1,0,3,0,1076,9,...,1,0,0,0,0,0,0,0,0,0

In [12]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Estados civis'),
    ('', 'Raças'),
    ('População em relação à nacionalidade brasileira', 'Amazonas'),
    ('População em relação à nacionalidade brasileira', 'Pará'),
    ('População em relação à nacionalidade brasileira', 'Maranhão'),
    ('População em relação à nacionalidade brasileira', 'Piauí'),
    ('População em relação à nacionalidade brasileira', 'Ceará'),
    ('População em relação à nacionalidade brasileira', 'Rio Grande do Norte'),
    ('População em relação à nacionalidade brasileira', 'Paraíba'),
    ('População em relação à nacionalidade brasileira', 'Pernambuco'),
    ('População em relação à nacionalidade brasileira', 'Alagoas'),
    ('População em relação à nacionalidade brasileira', 'Sergipe'),
    ('População em relação à nacionalidade brasileira', 'Bahia'),
    ('População em relação à nacionalidade brasileira', 'Espírito Santo'),
    ('População em relação à nacionalidade brasileira', 'Rio de Janeiro'),
    ('População em relação à nacionalidade brasileira', 'São Paulo'),
    ('População em relação à nacionalidade brasileira', 'Paraná'),
    ('População em relação à nacionalidade brasileira', 'Santa Catarina'),
    ('População em relação à nacionalidade brasileira', 'Rio Grande do Sul'),
    ('População em relação à nacionalidade brasileira', 'Minas Gerais'),
    ('População em relação à nacionalidade brasileira', 'Goiás'),
    ('População em relação à nacionalidade brasileira', 'Mato Grosso')
])

estados.columns = columns_multiindex

estados

                                                \
       Sexos Condições Estados civis     Raças
2     Homens    Livres     Solteiros   Brancos
3        NaN       NaN           NaN    Pardos
4        NaN       NaN           NaN    Pretos
5        NaN       NaN           NaN  Caboclos
6        NaN       NaN       Casados   Brancos
7        NaN       NaN           NaN    Pardos
8        NaN       NaN           NaN    Pretos
9        NaN       NaN           NaN  Caboclos
10       NaN       NaN        Viúvos   Brancos
11       NaN       NaN           NaN    Pardos
12       NaN       NaN           NaN    Pretos
13       NaN       NaN           NaN  Caboclos
14       NaN  Escravos     Solteiros    Pardos
15       NaN       NaN           NaN    Pretos
16       NaN       NaN       Casados    Pardos
17       NaN       NaN           NaN    Pretos
18       NaN       NaN        Viúvos    Pardos
19       NaN       NaN           NaN    Pretos
20  Mulheres    Livres     Solteiras   Brancas
21       NaN       NaN           NaN    Pardas
22       NaN       NaN           NaN    Pretas
23       NaN       NaN           NaN  Caboclas
24       NaN       NaN       Casadas   Brancas
25       NaN       NaN           NaN    Pardas
26       NaN       NaN           NaN    Pretas
27       NaN       NaN           NaN  Caboclas
28       NaN       NaN        Viúvas   Brancas
29       NaN       NaN           NaN    Pardas
30       NaN       NaN           NaN    Pretas
31       NaN       NaN           NaN  Caboclas
32       NaN  Escravas     Solteiras    Pardas
33       NaN       NaN           NaN    Pretas
34       NaN       NaN       Casadas    Pardas
35       NaN       NaN           NaN    Pretas
36       NaN       NaN        Viúvas    Pardas
37       NaN       NaN           NaN    Pretas
38       NaN       NaN    Soma geral       NaN

   População em relação à nacionalidade brasileira                             \
                                          Amazonas Pará Maranhão Piauí  Ceará
2                                                0    1        3     6   3124
3                                                0    5        6     8   2821
4                                                0    0        5     3    219
5                                                0    2        3     0    457
6                                                1    0        3     0   1076
7                                                0    3        0     9   1205
8                                                0    0        0     1     94
9                                                0    0        0     0    124
10                                               0    0        1     0    122
11                                               0    0        0     0    150
12                                               0    0        0     0     73
13                                               0    0        0     0     12
14                                               0    0        0     7    301
15                                               0    0        4     8    171
16                                               0    0        0     0      8
17                                               0    0        0     0      6
18                                               0    0        0     0      6
19                                               0    0        0     0      0
20                                               0    0        4     1   2791
21                                               0    0        4     4   3284
22                                               1    0        3     0    362
23                                               0    0        0     0    321
24                                               0    0        3     2    938
25                                               0    0        0     1    929
26                                               0    0        1     0     45
27                                               0    0        0     0     69
28                                               0    0        0     1    344
29                                               0    0        0     4    332
30                                               0    0        0     0     23
31                                               0    0        0     0     39
32                                               0    0        0     0    339
33                                               0    0        2     0    280
34                                               0    0        0     1     13
35                                               0    0        0     0      4
36                                               0    0        0     0      1
37                                               0    0        0     0      3
38                                               2   11       42    56  20086

                        ...                                                \
   Rio Grande do Norte  ... Bahia Espírito Santo Rio de Janeiro São Paulo
2                    8  ...     4              1             12         1
3                   16  ...     9              8              9         2
4                    0  ...     1              0              5         0
5                    3  ...     2              1              0         1
6                    9  ...     1              0              0         0
7                   20  ...     0              0              0         0
8                    0  ...     0              1              1         0
9                    0  ...     0              0              0         0
10                   1  ...     0              0              0         0
11                   3  ...     0              1              0         0
12                   0  ...     1              0              0         0
13                   0  ...     0              0              0         0
14                   0  ...     0              0              0         0
15                   0  ...     6              0              0         0
16                   0  ...     0              0              0         0
17                   0  ...     0              0              0         0
18                   0  ...     0              0              0         0
19                   0  ...     0              0              0         0
20                  12  ...    14              1              8         0
21                   5  ...     0              0              3         0
22                   1  ...     1              1              0         0
23                   1  ...     0              0              0         0
24                  12  ...     6              0              2         0
25                   5  ...     2              0              0         0
26                   0  ...     0              0              0         0
27                   0  ...     0              0              0         0
28                   3  ...     1              0              0         0
29                  12  ...     0              0              0         0
30                   0  ...     0              0              0         0
31                   0  ...     0              0              0         0
32                   7  ...     1              0              0         0
33                   0  ...     1              0              3         0
34                   0  ...     0              0              0         0
35                   0  ...     0              0              1         0
36                   0  ...     0              0              0         0
37                   0  ...     0              0              0         0
38                 118  ...    50             14             41         4


   Paraná Santa Catarina Rio Grande do Sul Minas Gerais Goiás Mato Grosso
2       2              1                 1            1     0           0
3       2              2                 1            4     0           0
4       0              0                 0            0     0           0
5       0              0                 0            0     0           0
6       0              0                 0            0     0           0
7       0              1                 1            0     0           0
8       0              0                 0            0     0           0
9       0              0                 0            0     0           0
10      0              0                 0            0     0           0
11      0              0                 0            0     0           0
12      0              0                 0            0     0           0
13      0              0                 0            0     0           0
14      0              0                 0            0     0           0
15      0              0                 0            0     0           0
16      0              0                 0            0     0           0
17      0              0                 0            0     0           0
18      0              0                 0            0     0           0
19      0              0                 0            0     0           0
20      0              0                 1            0     0           0
21      0              1                 0            1     0           0
22      0              0                 0            1     0           0
23      0              0                 0            0     0           0
24      0              0                 3            0     0           1
25      0              0                 1            0     0           0
26      0              0                 0            0     0           0
27      0              0                 0            0     0           0
28      0              0                 1            0     0           0
29      0              0                 0            0     0           0
30      0              0                 0            0     0           0
31      0              0                 0            0     0           0
32      0              0                 0            0     0           0
33      0              0                 0            0     0           0
34      0              0                 0            0     0           0
35      0              0                 0            0     0           0
36      0              0                 0            0     0           0
37      0              0                 0            0     0           0
38      4              5                 9            7     0           1

[37 rows x 24 columns]

In [13]:
estados[('', 'Sexos')] = estados[('', 'Sexos')].ffill()

estados[('', 'Condições')] = estados[('', 'Condições')].ffill()

estados[('', 'Estados civis')] = estados[('', 'Estados civis')].ffill()

estados.loc[38, ('', 'Raças')] = 'Soma geral'
estados.loc[38, ('', 'Condições')] = 'Soma geral'
estados.loc[38, ('', 'Sexos')] = 'Soma geral'
estados

                                                      \
         Sexos   Condições Estados civis       Raças
2       Homens      Livres     Solteiros     Brancos
3       Homens      Livres     Solteiros      Pardos
4       Homens      Livres     Solteiros      Pretos
5       Homens      Livres     Solteiros    Caboclos
6       Homens      Livres       Casados     Brancos
7       Homens      Livres       Casados      Pardos
8       Homens      Livres       Casados      Pretos
9       Homens      Livres       Casados    Caboclos
10      Homens      Livres        Viúvos     Brancos
11      Homens      Livres        Viúvos      Pardos
12      Homens      Livres        Viúvos      Pretos
13      Homens      Livres        Viúvos    Caboclos
14      Homens    Escravos     Solteiros      Pardos
15      Homens    Escravos     Solteiros      Pretos
16      Homens    Escravos       Casados      Pardos
17      Homens    Escravos       Casados      Pretos
18      Homens    Escravos        Viúvos      Pardos
19      Homens    Escravos        Viúvos      Pretos
20    Mulheres      Livres     Solteiras     Brancas
21    Mulheres      Livres     Solteiras      Pardas
22    Mulheres      Livres     Solteiras      Pretas
23    Mulheres      Livres     Solteiras    Caboclas
24    Mulheres      Livres       Casadas     Brancas
25    Mulheres      Livres       Casadas      Pardas
26    Mulheres      Livres       Casadas      Pretas
27    Mulheres      Livres       Casadas    Caboclas
28    Mulheres      Livres        Viúvas     Brancas
29    Mulheres      Livres        Viúvas      Pardas
30    Mulheres      Livres        Viúvas      Pretas
31    Mulheres      Livres        Viúvas    Caboclas
32    Mulheres    Escravas     Solteiras      Pardas
33    Mulheres    Escravas     Solteiras      Pretas
34    Mulheres    Escravas       Casadas      Pardas
35    Mulheres    Escravas       Casadas      Pretas
36    Mulheres    Escravas        Viúvas      Pardas
37    Mulheres    Escravas        Viúvas      Pretas
38  Soma geral  Soma geral    Soma geral  Soma geral

   População em relação à nacionalidade brasileira                             \
                                          Amazonas Pará Maranhão Piauí  Ceará
2                                                0    1        3     6   3124
3                                                0    5        6     8   2821
4                                                0    0        5     3    219
5                                                0    2        3     0    457
6                                                1    0        3     0   1076
7                                                0    3        0     9   1205
8                                                0    0        0     1     94
9                                                0    0        0     0    124
10                                               0    0        1     0    122
11                                               0    0        0     0    150
12                                               0    0        0     0     73
13                                               0    0        0     0     12
14                                               0    0        0     7    301
15                                               0    0        4     8    171
16                                               0    0        0     0      8
17                                               0    0        0     0      6
18                                               0    0        0     0      6
19                                               0    0        0     0      0
20                                               0    0        4     1   2791
21                                               0    0        4     4   3284
22                                               1    0        3     0    362
23                                               0    0        0     0    321
24                                               0    0        3     2    938
25                                               0    0        0     1    929
26                                               0    0        1     0     45
27                                               0    0        0     0     69
28                                               0    0        0     1    344
29                                               0    0        0     4    332
30                                               0    0        0     0     23
31                                               0    0        0     0     39
32                                               0    0        0     0    339
33                                               0    0        2     0    280
34                                               0    0        0     1     13
35                                               0    0        0     0      4
36                                               0    0        0     0      1
37                                               0    0        0     0      3
38                                               2   11       42    56  20086

                        ...                                                \
   Rio Grande do Norte  ... Bahia Espírito Santo Rio de Janeiro São Paulo
2                    8  ...     4              1             12         1
3                   16  ...     9              8              9         2
4                    0  ...     1              0              5         0
5                    3  ...     2              1              0         1
6                    9  ...     1              0              0         0
7                   20  ...     0              0              0         0
8                    0  ...     0              1              1         0
9                    0  ...     0              0              0         0
10                   1  ...     0              0              0         0
11                   3  ...     0              1              0         0
12                   0  ...     1              0              0         0
13                   0  ...     0              0              0         0
14                   0  ...     0              0              0         0
15                   0  ...     6              0              0         0
16                   0  ...     0              0              0         0
17                   0  ...     0              0              0         0
18                   0  ...     0              0              0         0
19                   0  ...     0              0              0         0
20                  12  ...    14              1              8         0
21                   5  ...     0              0              3         0
22                   1  ...     1              1              0         0
23                   1  ...     0              0              0         0
24                  12  ...     6              0              2         0
25                   5  ...     2              0              0         0
26                   0  ...     0              0              0         0
27                   0  ...     0              0              0         0
28                   3  ...     1              0              0         0
29                  12  ...     0              0              0         0
30                   0  ...     0              0              0         0
31                   0  ...     0              0              0         0
32                   7  ...     1              0              0         0
33                   0  ...     1              0              3         0
34                   0  ...     0              0              0         0
35                   0  ...     0              0              1         0
36                   0  ...     0              0              0         0
37                   0  ...     0              0              0         0
38                 118  ...    50             14             41         4


   Paraná Santa Catarina Rio Grande do Sul Minas Gerais Goiás Mato Grosso
2       2              1                 1            1     0           0
3       2              2                 1            4     0           0
4       0              0                 0            0     0           0
5       0              0                 0            0     0           0
6       0              0                 0            0     0           0
7       0              1                 1            0     0           0
8       0              0                 0            0     0           0
9       0              0                 0            0     0           0
10      0              0                 0            0     0           0
11      0              0                 0            0     0           0
12      0              0                 0            0     0           0
13      0              0                 0            0     0           0
14      0              0                 0            0     0           0
15      0              0                 0            0     0           0
16      0              0                 0            0     0           0
17      0              0                 0            0     0           0
18      0              0                 0            0     0           0
19      0              0                 0            0     0           0
20      0              0                 1            0     0           0
21      0              1                 0            1     0           0
22      0              0                 0            1     0           0
23      0              0                 0            0     0           0
24      0              0                 3            0     0           1
25      0              0                 1            0     0           0
26      0              0                 0            0     0           0
27      0              0                 0            0     0           0
28      0              0                 1            0     0           0
29      0              0                 0            0     0           0
30      0              0                 0            0     0           0
31      0              0                 0            0     0           0
32      0              0                 0            0     0           0
33      0              0                 0            0     0           0
34      0              0                 0            0     0           0
35      0              0                 0            0     0           0
36      0              0                 0            0     0           0
37      0              0                 0            0     0           0
38      4              5                 9            7     0           1

[37 rows x 24 columns]

In [14]:
colunas_estados = [('População em relação à nacionalidade brasileira', 'Amazonas'),
    ('População em relação à nacionalidade brasileira', 'Pará'),
    ('População em relação à nacionalidade brasileira', 'Maranhão'),
    ('População em relação à nacionalidade brasileira', 'Piauí'),
    ('População em relação à nacionalidade brasileira', 'Ceará'),
    ('População em relação à nacionalidade brasileira', 'Rio Grande do Norte'),
    ('População em relação à nacionalidade brasileira', 'Paraíba'),
    ('População em relação à nacionalidade brasileira', 'Pernambuco'),
    ('População em relação à nacionalidade brasileira', 'Alagoas'),
    ('População em relação à nacionalidade brasileira', 'Sergipe'),
    ('População em relação à nacionalidade brasileira', 'Bahia'),
    ('População em relação à nacionalidade brasileira', 'Espírito Santo'),
    ('População em relação à nacionalidade brasileira', 'Rio de Janeiro'),
    ('População em relação à nacionalidade brasileira', 'São Paulo'),
    ('População em relação à nacionalidade brasileira', 'Paraná'),
    ('População em relação à nacionalidade brasileira', 'Santa Catarina'),
    ('População em relação à nacionalidade brasileira', 'Rio Grande do Sul'),
    ('População em relação à nacionalidade brasileira', 'Minas Gerais'),
    ('População em relação à nacionalidade brasileira', 'Goiás'),
    ('População em relação à nacionalidade brasileira', 'Mato Grosso')]
estados[colunas_estados] = estados[colunas_estados].apply(pd.to_numeric)

homens_livres = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens')]
homens_escravos = estados.loc[(estados[('', 'Condições')] == 'Escravos') & (estados[('', 'Sexos')] == 'Homens')]

soma_homens = homens_livres[colunas_estados].sum() + homens_escravos[colunas_estados].sum()

soma_homens

População em relação à nacionalidade brasileira  Amazonas                  1
                                                 Pará                     11
                                                 Maranhão                 25
                                                 Piauí                    42
                                                 Ceará                  9969
                                                 Rio Grande do Norte      60
                                                 Paraíba                  19
                                                 Pernambuco               72
                                                 Alagoas                  13
                                                 Sergipe                   6
                                                 Bahia                    24
                                                 Espírito Santo           12
                                                 Rio de Janeiro           27
                                                 São Paulo                 4
                                                 Paraná                    4
                                                 Santa Catarina            4
                                                 Rio Grande do Sul         3
                                                 Minas Gerais              5
                                                 Goiás                     0
                                                 Mato Grosso               0
dtype: int64

In [15]:
mulheres_livres = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres')]
mulheres_escravas = estados.loc[(estados[('', 'Condições')] == 'Escravas') & (estados[('', 'Sexos')] == 'Mulheres')]

soma_mulheres = mulheres_livres[colunas_estados].sum() + mulheres_escravas[colunas_estados].sum()

soma_mulheres

População em relação à nacionalidade brasileira  Amazonas                   1
                                                 Pará                       0
                                                 Maranhão                  17
                                                 Piauí                     14
                                                 Ceará                  10117
                                                 Rio Grande do Norte       58
                                                 Paraíba                    3
                                                 Pernambuco                47
                                                 Alagoas                    7
                                                 Sergipe                    3
                                                 Bahia                     26
                                                 Espírito Santo             2
                                                 Rio de Janeiro            17
                                                 São Paulo                  0
                                                 Paraná                     0
                                                 Santa Catarina             1
                                                 Rio Grande do Sul          6
                                                 Minas Gerais               2
                                                 Goiás                      0
                                                 Mato Grosso                1
dtype: int64

In [16]:
total = soma_homens + soma_mulheres
total

População em relação à nacionalidade brasileira  Amazonas                   2
                                                 Pará                      11
                                                 Maranhão                  42
                                                 Piauí                     56
                                                 Ceará                  20086
                                                 Rio Grande do Norte      118
                                                 Paraíba                   22
                                                 Pernambuco               119
                                                 Alagoas                   20
                                                 Sergipe                    9
                                                 Bahia                     50
                                                 Espírito Santo            14
                                                 Rio de Janeiro            44
                                                 São Paulo                  4
                                                 Paraná                     4
                                                 Santa Catarina             5
                                                 Rio Grande do Sul          9
                                                 Minas Gerais               7
                                                 Goiás                      0
                                                 Mato Grosso                1
dtype: int64

# Raças

In [17]:
totais_racas = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Totais', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29']]
totais_racas.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Totais,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,das Raças,NaN,NaN,NaN
1,Sexos,Condições,Estados civis,Raças,Brancos,Pardos,Pretos,Caboclos
2,Homens,Livres,Solteiros,Brancos,3189,0,0,0
3,NaN,NaN,NaN,Pardos,0,2924,0,0
4,NaN,NaN,NaN,Pretos,0,0,247,0

In [18]:
totais_racas_header = totais_racas.iloc[1]
totais_racas.columns = totais_racas_header
totais_racas = totais_racas[2:]
totais_racas.head()

1   Sexos Condições Estados civis     Raças Brancos Pardos Pretos Caboclos
2  Homens    Livres     Solteiros   Brancos    3189      0      0        0
3     NaN       NaN           NaN    Pardos       0   2924      0        0
4     NaN       NaN           NaN    Pretos       0      0    247        0
5     NaN       NaN           NaN  Caboclos       0      0      0      478
6     NaN       NaN       Casados   Brancos    1099      0      0        0

In [19]:
totais_racas['Sexos'] = totais_racas['Sexos'].ffill()

totais_racas['Condições'] = totais_racas['Condições'].ffill()

totais_racas['Estados civis'] = totais_racas['Estados civis'].ffill()

totais_racas.loc[38, 'Sexos'] = 'Soma geral'
totais_racas.loc[38, 'Condições'] = 'Soma geral'
totais_racas.loc[38, 'Raças'] = 'Soma geral'

totais_racas

1,Sexos,Condições,Estados civis,Raças,Brancos,Pardos,Pretos,Caboclos
2,Homens,Livres,Solteiros,Brancos,3189,0,0,0
3,Homens,Livres,Solteiros,Pardos,0,2924,0,0
4,Homens,Livres,Solteiros,Pretos,0,0,247,0
5,Homens,Livres,Solteiros,Caboclos,0,0,0,478
6,Homens,Livres,Casados,Brancos,1099,0,0,0
7,Homens,Livres,Casados,Pardos,0,1253,0,0
8,Homens,Livres,Casados,Pretos,0,0,98,0
9,Homens,Livres,Casados,Caboclos,0,0,0,124
10,Homens,Livres,Viúvos,Brancos,126,0,0,0
11,Homens,Livres,Viúvos,Pardos,0,155,0,0
12,Homens,Livres,Viúvos,Pretos,0,0,74,0
13,Homens,Livres,Viúvos,Caboclos,0,0,0,12
14,Homens,Escravos,Solteiros,Pardos,0,312,0,0
15,Homens,Escravos,Solteiros,Pretos,0,0,190,0
16,Homens,Escravos,Casados,Pardos,0,8,0,0
17,Homens,Escravos,Casados,Pretos,0,0,6,0
18,Homens,Escravos,Viúvos,Pardos,0,6,0,0
19,Homens,Escravos,Viúvos,Pretos,0,0,0,0
20,Mulheres,Livres,Solteiras,Brancas,2852,0,0,0
21,Mulheres,Livres,Solteiras,Pardas,0,3310,0,0
22,Mulheres,Livres,Solteiras,Pretas,0,0,370,0
23,Mulheres,Livres,Solteiras,Caboclas,0,0,0,324
24,Mulheres,Livres,Casadas,Brancas,978,0,0,0
25,Mulheres,Livres,Casadas,Pardas,0,940,0,0
26,Mulheres,Livres,Casadas,Pretas,0,0,46,0
27,Mulheres,Livres,Casadas,Caboclas,0,0,0,69
28,Mulheres,Livres,Viúvas,Brancas,358,0,0,0
29,Mulheres,Livres,Viúvas,Pardas,0,351,0,0
30,Mulheres,Livres,Viúvas,Pretas,0,0,24,0
31,Mulheres,Livres,Viúvas,Caboclas,0,0,0,39
32,Mulheres,Escravas,Solteiras,Pardas,0,350,0,0
33,Mulheres,Escravas,Solteiras,Pretas,0,0,288,0
34,Mulheres,Escravas,Casadas,Pardas,0,14,0,0
35,Mulheres,Escravas,Casadas,Pretas,0,0,5,0
36,Mulheres,Escravas,Viúvas,Pardas,0,1,0,0
37,Mulheres,Escravas,Viúvas,Pretas,0,0,3,0
38,Soma geral,Soma geral,Soma geral,Soma geral,8602,9624,1351,1046

In [20]:
colunas_totais_racas = ['Brancos', 'Pardos', 'Pretos', 'Caboclos']
totais_racas[colunas_totais_racas] = totais_racas[colunas_totais_racas].apply(pd.to_numeric)

homens_livres = totais_racas.loc[(totais_racas['Condições'] == 'Livres') & (totais_racas['Sexos'] == 'Homens')]
homens_escravos = totais_racas.loc[(totais_racas['Condições'] == 'Escravos') & (totais_racas['Sexos'] == 'Homens')]

soma_homens = homens_livres[colunas_totais_racas].sum() + homens_escravos[colunas_totais_racas].sum()

soma_homens

1
Brancos     4414
Pardos      4658
Pretos       615
Caboclos     614
dtype: int64

In [21]:
mulheres_livres = totais_racas.loc[(totais_racas['Condições'] == 'Livres') & (totais_racas['Sexos'] == 'Mulheres')]
mulheres_escravas = totais_racas.loc[(totais_racas['Condições'] == 'Escravas') & (totais_racas['Sexos'] == 'Mulheres')]

soma_mulheres = mulheres_livres[colunas_totais_racas].sum() + mulheres_escravas[colunas_totais_racas].sum()

soma_mulheres

1
Brancos     4188
Pardos      4966
Pretos       736
Caboclos     432
dtype: int64

In [22]:
total = soma_homens + soma_mulheres
total

1
Brancos     8602
Pardos      9624
Pretos      1351
Caboclos    1046
dtype: int64

# Estados civis

In [23]:
totais_estados_civis = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32']]
totais_estados_civis.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,NaN,dos Estados civis,NaN,NaN
1,Sexos,Condições,Estados civis,Raças,Solteiros,Casados,Viúvos
2,Homens,Livres,Solteiros,Brancos,6838,NaN,NaN
3,NaN,NaN,NaN,Pardos,NaN,NaN,NaN
4,NaN,NaN,NaN,Pretos,NaN,NaN,NaN

In [24]:
totais_estados_civis_header = totais_estados_civis.iloc[1]
totais_estados_civis.columns = totais_estados_civis_header
totais_estados_civis = totais_estados_civis[2:]
totais_estados_civis.head()

1   Sexos Condições Estados civis     Raças Solteiros Casados Viúvos
2  Homens    Livres     Solteiros   Brancos      6838     NaN    NaN
3     NaN       NaN           NaN    Pardos       NaN     NaN    NaN
4     NaN       NaN           NaN    Pretos       NaN     NaN    NaN
5     NaN       NaN           NaN  Caboclos       NaN     NaN    NaN
6     NaN       NaN       Casados   Brancos       NaN    2574    NaN

In [25]:
totais_estados_civis['Sexos'] = totais_estados_civis['Sexos'].ffill()

totais_estados_civis['Condições'] = totais_estados_civis['Condições'].ffill()

totais_estados_civis['Estados civis'] = totais_estados_civis['Estados civis'].ffill()

totais_estados_civis.loc[38, 'Sexos'] = 'Soma geral'
totais_estados_civis.loc[38, 'Condições'] = 'Soma geral'
totais_estados_civis.loc[38, 'Raças'] = 'Soma geral'

totais_estados_civis

1        Sexos   Condições Estados civis       Raças Solteiros Casados Viúvos
2       Homens      Livres     Solteiros     Brancos      6838     NaN    NaN
3       Homens      Livres     Solteiros      Pardos       NaN     NaN    NaN
4       Homens      Livres     Solteiros      Pretos       NaN     NaN    NaN
5       Homens      Livres     Solteiros    Caboclos       NaN     NaN    NaN
6       Homens      Livres       Casados     Brancos       NaN    2574    NaN
7       Homens      Livres       Casados      Pardos       NaN     NaN    NaN
8       Homens      Livres       Casados      Pretos       NaN     NaN    NaN
9       Homens      Livres       Casados    Caboclos       NaN     NaN    NaN
10      Homens      Livres        Viúvos     Brancos       NaN     NaN    367
11      Homens      Livres        Viúvos      Pardos       NaN     NaN    NaN
12      Homens      Livres        Viúvos      Pretos       NaN     NaN    NaN
13      Homens      Livres        Viúvos    Caboclos       NaN     NaN    NaN
14      Homens    Escravos     Solteiros      Pardos       502     NaN    NaN
15      Homens    Escravos     Solteiros      Pretos       NaN     NaN    NaN
16      Homens    Escravos       Casados      Pardos       NaN      14    NaN
17      Homens    Escravos       Casados      Pretos       NaN     NaN    NaN
18      Homens    Escravos        Viúvos      Pardos       NaN     NaN      6
19      Homens    Escravos        Viúvos      Pretos       NaN     NaN    NaN
20    Mulheres      Livres     Solteiras     Brancas      6856     NaN    NaN
21    Mulheres      Livres     Solteiras      Pardas       NaN     NaN    NaN
22    Mulheres      Livres     Solteiras      Pretas       NaN     NaN    NaN
23    Mulheres      Livres     Solteiras    Caboclas       NaN     NaN    NaN
24    Mulheres      Livres       Casadas     Brancas       NaN    2033    NaN
25    Mulheres      Livres       Casadas      Pardas       NaN     NaN    NaN
26    Mulheres      Livres       Casadas      Pretas       NaN     NaN    NaN
27    Mulheres      Livres       Casadas    Caboclas       NaN     NaN    NaN
28    Mulheres      Livres        Viúvas     Brancas       NaN     NaN    772
29    Mulheres      Livres        Viúvas      Pardas       NaN     NaN    NaN
30    Mulheres      Livres        Viúvas      Pretas       NaN     NaN    NaN
31    Mulheres      Livres        Viúvas    Caboclas       NaN     NaN    NaN
32    Mulheres    Escravas     Solteiras      Pardas       638     NaN    NaN
33    Mulheres    Escravas     Solteiras      Pretas       NaN     NaN    NaN
34    Mulheres    Escravas       Casadas      Pardas       NaN      19    NaN
35    Mulheres    Escravas       Casadas      Pretas       NaN     NaN    NaN
36    Mulheres    Escravas        Viúvas      Pardas       NaN     NaN      4
37    Mulheres    Escravas        Viúvas      Pretas       NaN     NaN    NaN
38  Soma geral  Soma geral    Soma geral  Soma geral     14834    4640   1149

In [26]:
colunas_totais_estados_civis = ['Solteiros', 'Casados', 'Viúvos']
totais_estados_civis[colunas_totais_estados_civis] = totais_estados_civis[colunas_totais_estados_civis].apply(pd.to_numeric)

homens_livres = totais_estados_civis.loc[(totais_estados_civis['Condições'] == 'Livres') & (totais_estados_civis['Sexos'] == 'Homens')]
homens_escravos = totais_estados_civis.loc[(totais_estados_civis['Condições'] == 'Escravos') & (totais_estados_civis['Sexos'] == 'Homens')]

soma_homens = homens_livres[colunas_totais_estados_civis].sum() + homens_escravos[colunas_totais_estados_civis].sum()

soma_homens

1
Solteiros    7340.0
Casados      2588.0
Viúvos        373.0
dtype: float64

In [27]:
mulheres_livres = totais_estados_civis.loc[(totais_estados_civis['Condições'] == 'Livres') & (totais_estados_civis['Sexos'] == 'Mulheres')]
mulheres_escravas = totais_estados_civis.loc[(totais_estados_civis['Condições'] == 'Escravas') & (totais_estados_civis['Sexos'] == 'Mulheres')]

soma_mulheres = mulheres_livres[colunas_totais_estados_civis].sum() + mulheres_escravas[colunas_totais_estados_civis].sum()

soma_mulheres

1
Solteiros    7494.0
Casados      2052.0
Viúvos        776.0
dtype: float64

In [28]:
total = soma_homens + soma_mulheres
total

1
Solteiros    14834.0
Casados       4640.0
Viúvos        1149.0
dtype: float64

# Condições

In [29]:
totais_condicoes = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 33', 'Unnamed: 34']]
totais_condicoes.head()

  Unnamed: 0 Unnamed: 1     Unnamed: 2 Unnamed: 3    Unnamed: 33 Unnamed: 34
0        NaN        NaN            NaN        NaN  das Condições         NaN
1      Sexos  Condições  Estados civis      Raças         Livres    Escravos
2     Homens     Livres      Solteiros    Brancos           9779         NaN
3        NaN        NaN            NaN     Pardos            NaN         NaN
4        NaN        NaN            NaN     Pretos            NaN         NaN

In [30]:
totais_condicoes_header = totais_condicoes.iloc[1]
totais_condicoes.columns = totais_condicoes_header
totais_condicoes = totais_condicoes[2:]
totais_condicoes.head()

1   Sexos Condições Estados civis     Raças Livres Escravos
2  Homens    Livres     Solteiros   Brancos   9779      NaN
3     NaN       NaN           NaN    Pardos    NaN      NaN
4     NaN       NaN           NaN    Pretos    NaN      NaN
5     NaN       NaN           NaN  Caboclos    NaN      NaN
6     NaN       NaN       Casados   Brancos    NaN      NaN

In [31]:
totais_condicoes['Sexos'] = totais_condicoes['Sexos'].ffill()

totais_condicoes['Condições'] = totais_condicoes['Condições'].ffill()

totais_condicoes['Estados civis'] = totais_condicoes['Estados civis'].ffill()

totais_condicoes.loc[38, 'Sexos'] = 'Soma geral'
totais_condicoes.loc[38, 'Condições'] = 'Soma geral'
totais_condicoes.loc[38, 'Raças'] = 'Soma geral'

totais_condicoes

1        Sexos   Condições Estados civis       Raças Livres Escravos
2       Homens      Livres     Solteiros     Brancos   9779      NaN
3       Homens      Livres     Solteiros      Pardos    NaN      NaN
4       Homens      Livres     Solteiros      Pretos    NaN      NaN
5       Homens      Livres     Solteiros    Caboclos    NaN      NaN
6       Homens      Livres       Casados     Brancos    NaN      NaN
7       Homens      Livres       Casados      Pardos    NaN      NaN
8       Homens      Livres       Casados      Pretos    NaN      NaN
9       Homens      Livres       Casados    Caboclos    NaN      NaN
10      Homens      Livres        Viúvos     Brancos    NaN      NaN
11      Homens      Livres        Viúvos      Pardos    NaN      NaN
12      Homens      Livres        Viúvos      Pretos    NaN      NaN
13      Homens      Livres        Viúvos    Caboclos    NaN      NaN
14      Homens    Escravos     Solteiros      Pardos    NaN      522
15      Homens    Escravos     Solteiros      Pretos    NaN      NaN
16      Homens    Escravos       Casados      Pardos    NaN      NaN
17      Homens    Escravos       Casados      Pretos    NaN      NaN
18      Homens    Escravos        Viúvos      Pardos    NaN      NaN
19      Homens    Escravos        Viúvos      Pretos    NaN      NaN
20    Mulheres      Livres     Solteiras     Brancas   9661      NaN
21    Mulheres      Livres     Solteiras      Pardas    NaN      NaN
22    Mulheres      Livres     Solteiras      Pretas    NaN      NaN
23    Mulheres      Livres     Solteiras    Caboclas    NaN      NaN
24    Mulheres      Livres       Casadas     Brancas    NaN      NaN
25    Mulheres      Livres       Casadas      Pardas    NaN      NaN
26    Mulheres      Livres       Casadas      Pretas    NaN      NaN
27    Mulheres      Livres       Casadas    Caboclas    NaN      NaN
28    Mulheres      Livres        Viúvas     Brancas    NaN      NaN
29    Mulheres      Livres        Viúvas      Pardas    NaN      NaN
30    Mulheres      Livres        Viúvas      Pretas    NaN      NaN
31    Mulheres      Livres        Viúvas    Caboclas    NaN      NaN
32    Mulheres    Escravas     Solteiras      Pardas    NaN      661
33    Mulheres    Escravas     Solteiras      Pretas    NaN      NaN
34    Mulheres    Escravas       Casadas      Pardas    NaN      NaN
35    Mulheres    Escravas       Casadas      Pretas    NaN      NaN
36    Mulheres    Escravas        Viúvas      Pardas    NaN      NaN
37    Mulheres    Escravas        Viúvas      Pretas    NaN      NaN
38  Soma geral  Soma geral    Soma geral  Soma geral  19440     1183

In [32]:
colunas_totais_condicoes = ['Livres', 'Escravos']
totais_condicoes[colunas_totais_condicoes] = totais_condicoes[colunas_totais_condicoes].apply(pd.to_numeric)

homens_livres = totais_condicoes.loc[(totais_condicoes['Condições'] == 'Livres') & (totais_condicoes['Sexos'] == 'Homens')]
homens_escravos = totais_condicoes.loc[(totais_condicoes['Condições'] == 'Escravos') & (totais_condicoes['Sexos'] == 'Homens')]

soma_homens = homens_livres[colunas_totais_condicoes].sum() + homens_escravos[colunas_totais_condicoes].sum()

soma_homens

1
Livres      9779.0
Escravos     522.0
dtype: float64

In [33]:
mulheres_livres = totais_condicoes.loc[(totais_condicoes['Condições'] == 'Livres') & (totais_condicoes['Sexos'] == 'Mulheres')]
mulheres_escravas = totais_condicoes.loc[(totais_condicoes['Condições'] == 'Escravas') & (totais_condicoes['Sexos'] == 'Mulheres')]

soma_mulheres = mulheres_livres[colunas_totais_condicoes].sum() + mulheres_escravas[colunas_totais_condicoes].sum()

soma_mulheres

1
Livres      9661.0
Escravos     661.0
dtype: float64

In [34]:
total = soma_homens + soma_mulheres
total

1
Livres      19440.0
Escravos     1183.0
dtype: float64

# Sexos

In [35]:
totais_sexos = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 35', 'Unnamed: 36']]
totais_sexos.head()

  Unnamed: 0 Unnamed: 1     Unnamed: 2 Unnamed: 3 Unnamed: 35 Unnamed: 36
0        NaN        NaN            NaN        NaN   dos Sexos         NaN
1      Sexos  Condições  Estados civis      Raças   Masculino    Feminino
2     Homens     Livres      Solteiros    Brancos       10301         NaN
3        NaN        NaN            NaN     Pardos         NaN         NaN
4        NaN        NaN            NaN     Pretos         NaN         NaN

In [36]:
totais_sexos_header = totais_sexos.iloc[1]
totais_sexos.columns = totais_sexos_header
totais_sexos = totais_sexos[2:]
totais_sexos.head()

1   Sexos Condições Estados civis     Raças Masculino Feminino
2  Homens    Livres     Solteiros   Brancos     10301      NaN
3     NaN       NaN           NaN    Pardos       NaN      NaN
4     NaN       NaN           NaN    Pretos       NaN      NaN
5     NaN       NaN           NaN  Caboclos       NaN      NaN
6     NaN       NaN       Casados   Brancos       NaN      NaN

In [37]:
totais_sexos['Sexos'] = totais_sexos['Sexos'].ffill()

totais_sexos['Condições'] = totais_sexos['Condições'].ffill()

totais_sexos['Estados civis'] = totais_sexos['Estados civis'].ffill()

totais_sexos.loc[38, 'Sexos'] = 'Soma geral'
totais_sexos.loc[38, 'Condições'] = 'Soma geral'
totais_sexos.loc[38, 'Raças'] = 'Soma geral'

totais_sexos

1        Sexos   Condições Estados civis       Raças Masculino Feminino
2       Homens      Livres     Solteiros     Brancos     10301      NaN
3       Homens      Livres     Solteiros      Pardos       NaN      NaN
4       Homens      Livres     Solteiros      Pretos       NaN      NaN
5       Homens      Livres     Solteiros    Caboclos       NaN      NaN
6       Homens      Livres       Casados     Brancos       NaN      NaN
7       Homens      Livres       Casados      Pardos       NaN      NaN
8       Homens      Livres       Casados      Pretos       NaN      NaN
9       Homens      Livres       Casados    Caboclos       NaN      NaN
10      Homens      Livres        Viúvos     Brancos       NaN      NaN
11      Homens      Livres        Viúvos      Pardos       NaN      NaN
12      Homens      Livres        Viúvos      Pretos       NaN      NaN
13      Homens      Livres        Viúvos    Caboclos       NaN      NaN
14      Homens    Escravos     Solteiros      Pardos       NaN      NaN
15      Homens    Escravos     Solteiros      Pretos       NaN      NaN
16      Homens    Escravos       Casados      Pardos       NaN      NaN
17      Homens    Escravos       Casados      Pretos       NaN      NaN
18      Homens    Escravos        Viúvos      Pardos       NaN      NaN
19      Homens    Escravos        Viúvos      Pretos       NaN      NaN
20    Mulheres      Livres     Solteiras     Brancas       NaN    10322
21    Mulheres      Livres     Solteiras      Pardas       NaN      NaN
22    Mulheres      Livres     Solteiras      Pretas       NaN      NaN
23    Mulheres      Livres     Solteiras    Caboclas       NaN      NaN
24    Mulheres      Livres       Casadas     Brancas       NaN      NaN
25    Mulheres      Livres       Casadas      Pardas       NaN      NaN
26    Mulheres      Livres       Casadas      Pretas       NaN      NaN
27    Mulheres      Livres       Casadas    Caboclas       NaN      NaN
28    Mulheres      Livres        Viúvas     Brancas       NaN      NaN
29    Mulheres      Livres        Viúvas      Pardas       NaN      NaN
30    Mulheres      Livres        Viúvas      Pretas       NaN      NaN
31    Mulheres      Livres        Viúvas    Caboclas       NaN      NaN
32    Mulheres    Escravas     Solteiras      Pardas       NaN      NaN
33    Mulheres    Escravas     Solteiras      Pretas       NaN      NaN
34    Mulheres    Escravas       Casadas      Pardas       NaN      NaN
35    Mulheres    Escravas       Casadas      Pretas       NaN      NaN
36    Mulheres    Escravas        Viúvas      Pardas       NaN      NaN
37    Mulheres    Escravas        Viúvas      Pretas       NaN      NaN
38  Soma geral  Soma geral    Soma geral  Soma geral     10301    10322

In [38]:
colunas_totais_sexos = ['Masculino', 'Feminino']
totais_sexos[colunas_totais_sexos] = totais_sexos[colunas_totais_sexos].apply(pd.to_numeric)

homens_livres = totais_sexos.loc[(totais_sexos['Condições'] == 'Livres') & (totais_sexos['Sexos'] == 'Homens')]
homens_escravos = totais_sexos.loc[(totais_sexos['Condições'] == 'Escravos') & (totais_sexos['Sexos'] == 'Homens')]

soma_homens = homens_livres[colunas_totais_sexos].sum() + homens_escravos[colunas_totais_sexos].sum()

soma_homens

1
Masculino    10301.0
Feminino         0.0
dtype: float64

In [39]:
mulheres_livres = totais_sexos.loc[(totais_sexos['Condições'] == 'Livres') & (totais_sexos['Sexos'] == 'Mulheres')]
mulheres_escravas = totais_sexos.loc[(totais_sexos['Condições'] == 'Escravas') & (totais_sexos['Sexos'] == 'Mulheres')]

soma_mulheres = mulheres_livres[colunas_totais_sexos].sum() + mulheres_escravas[colunas_totais_sexos].sum()

soma_mulheres

1
Masculino        0.0
Feminino     10322.0
dtype: float64

In [40]:
total = soma_homens + soma_mulheres
total

1
Masculino    10301.0
Feminino     10322.0
dtype: float64

# População brasileira dividida por estados civis

In [41]:
colunas_estados = [('População em relação à nacionalidade brasileira', 'Amazonas'),
    ('População em relação à nacionalidade brasileira', 'Pará'),
    ('População em relação à nacionalidade brasileira', 'Maranhão'),
    ('População em relação à nacionalidade brasileira', 'Piauí'),
    ('População em relação à nacionalidade brasileira', 'Ceará'),
    ('População em relação à nacionalidade brasileira', 'Rio Grande do Norte'),
    ('População em relação à nacionalidade brasileira', 'Paraíba'),
    ('População em relação à nacionalidade brasileira', 'Pernambuco'),
    ('População em relação à nacionalidade brasileira', 'Alagoas'),
    ('População em relação à nacionalidade brasileira', 'Sergipe'),
    ('População em relação à nacionalidade brasileira', 'Bahia'),
    ('População em relação à nacionalidade brasileira', 'Espírito Santo'),
    ('População em relação à nacionalidade brasileira', 'Rio de Janeiro'),
    ('População em relação à nacionalidade brasileira', 'São Paulo'),
    ('População em relação à nacionalidade brasileira', 'Paraná'),
    ('População em relação à nacionalidade brasileira', 'Santa Catarina'),
    ('População em relação à nacionalidade brasileira', 'Rio Grande do Sul'),
    ('População em relação à nacionalidade brasileira', 'Minas Gerais'),
    ('População em relação à nacionalidade brasileira', 'Goiás'),
    ('População em relação à nacionalidade brasileira', 'Mato Grosso')]
estados[colunas_estados] = estados[colunas_estados].apply(pd.to_numeric)

In [42]:
soma_homens_livres_solteiros_brancos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Brancos') & (estados[('', 'Estados civis')] == 'Solteiros')]
soma_homens_livres_solteiros_pardos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pardos') & (estados[('', 'Estados civis')] == 'Solteiros')]
soma_homens_livres_solteiros_pretos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pretos') & (estados[('', 'Estados civis')] == 'Solteiros')]
soma_homens_livres_solteiros_caboclos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Caboclos') & (estados[('', 'Estados civis')] == 'Solteiros')]
soma_homens_escravos_solteiros_pardos = estados.loc[(estados[('', 'Condições')] == 'Escravos') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pardos') & (estados[('', 'Estados civis')] == 'Solteiros')]
soma_homens_escravos_solteiros_pretos = estados.loc[(estados[('', 'Condições')] == 'Escravos') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pretos') & (estados[('', 'Estados civis')] == 'Solteiros')]
soma_homens_livres_solteiros = soma_homens_livres_solteiros_brancos[colunas_estados].sum() + soma_homens_livres_solteiros_pardos[colunas_estados].sum() + soma_homens_livres_solteiros_pretos[colunas_estados].sum() + soma_homens_livres_solteiros_caboclos[colunas_estados].sum()
soma_homens_escravos_solteiros = soma_homens_escravos_solteiros_pardos[colunas_estados].sum() + soma_homens_escravos_solteiros_pretos[colunas_estados].sum()

soma_homens_livres_solteiros_brancos = soma_homens_livres_solteiros_brancos[colunas_estados].sum()
soma_homens_livres_solteiros_pardos = soma_homens_livres_solteiros_pardos[colunas_estados].sum()
soma_homens_livres_solteiros_pretos = soma_homens_livres_solteiros_pretos[colunas_estados].sum()
soma_homens_livres_solteiros_caboclos = soma_homens_livres_solteiros_caboclos[colunas_estados].sum()
soma_homens_escravos_solteiros_pardos = soma_homens_escravos_solteiros_pardos[colunas_estados].sum()
soma_homens_escravos_solteiros_pretos = soma_homens_escravos_solteiros_pretos[colunas_estados].sum()

soma_homens_solteiros = soma_homens_livres_solteiros + soma_homens_escravos_solteiros
print(soma_homens_solteiros)
print("Total de homens solteiros livres brancos: " + str(soma_homens_livres_solteiros_brancos[colunas_estados].sum()))
print("Total de homens solteiros livres pardos: " + str(soma_homens_livres_solteiros_pardos[colunas_estados].sum()))
print("Total de homens solteiros livres pretos: " + str(soma_homens_livres_solteiros_pretos[colunas_estados].sum()))
print("Total de homens solteiros livres caboclos: " + str(soma_homens_livres_solteiros_caboclos[colunas_estados].sum()))
print("Total de homens solteiros escravos pardos: " + str(soma_homens_escravos_solteiros_pardos[colunas_estados].sum()))
print("Total de homens solteiros escravos pretos: " + str(soma_homens_escravos_solteiros_pretos[colunas_estados].sum()))
print("Total de homens solteiros livres: " + str(soma_homens_livres_solteiros[colunas_estados].sum()))
print("Total de homens solteiros escravos: " + str(soma_homens_escravos_solteiros[colunas_estados].sum()))
print("Total de homens solteiros: " + str(soma_homens_solteiros[colunas_estados].sum()))

População em relação à nacionalidade brasileira  Amazonas                  0
                                                 Pará                      8
                                                 Maranhão                 21
                                                 Piauí                    32
                                                 Ceará                  7093
                                                 Rio Grande do Norte      27
                                                 Paraíba                  14
                                                 Pernambuco               55
                                                 Alagoas                   9
                                                 Sergipe                   5
                                                 Bahia                    22
                                                 Espírito Santo           10
                                                 Rio de Janeiro           26
                                                 São Paulo                 4
                                                 Paraná                    4
                                                 Santa Catarina            3
                                                 Rio Grande do Sul         2
                                                 Minas Gerais              5
                                                 Goiás                     0
                                                 Mato Grosso               0
dtype: int64
Total de homens solteiros livres brancos: 3189
Total de homens solteiros livres pardos: 2924
Total de homens solteiros livres pretos: 247
Total de homens solteiros livres caboclos: 478
Total de homens solteiros escravos pardos: 312
Total de homens solteiros escravos pretos: 190
Total de homens solteiros livres: 6838
Total de homens solteiros escravos: 502
Total de homens solteiros: 7340

In [43]:
soma_homens_livres_casados_brancos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Brancos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_livres_casados_pardos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pardos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_livres_casados_pretos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pretos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_livres_casados_caboclos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Caboclos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_escravos_casados_pardos = estados.loc[(estados[('', 'Condições')] == 'Escravos') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pardos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_escravos_casados_pretos = estados.loc[(estados[('', 'Condições')] == 'Escravos') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pretos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_livres_casados = soma_homens_livres_casados_brancos[colunas_estados].sum() + soma_homens_livres_casados_pardos[colunas_estados].sum() + soma_homens_livres_casados_pretos[colunas_estados].sum() + soma_homens_livres_casados_caboclos[colunas_estados].sum()
soma_homens_escravos_casados = soma_homens_escravos_casados_pardos[colunas_estados].sum() + soma_homens_escravos_casados_pretos[colunas_estados].sum()

soma_homens_livres_casados_brancos = soma_homens_livres_casados_brancos[colunas_estados].sum()
soma_homens_livres_casados_pardos = soma_homens_livres_casados_pardos[colunas_estados].sum()
soma_homens_livres_casados_pretos = soma_homens_livres_casados_pretos[colunas_estados].sum()
soma_homens_livres_casados_caboclos = soma_homens_livres_casados_caboclos[colunas_estados].sum()
soma_homens_escravos_casados_pardos = soma_homens_escravos_casados_pardos[colunas_estados].sum()
soma_homens_escravos_casados_pretos = soma_homens_escravos_casados_pretos[colunas_estados].sum()

soma_homens_casados = soma_homens_livres_casados + soma_homens_escravos_casados
print(soma_homens_casados)
print("Total de homens casados livres brancos: " + str(soma_homens_livres_casados_brancos[colunas_estados].sum()))
print("Total de homens casados livres pardos: " + str(soma_homens_livres_casados_pardos[colunas_estados].sum()))
print("Total de homens casados livres pretos: " + str(soma_homens_livres_casados_pretos[colunas_estados].sum()))
print("Total de homens casados livres caboclos: " + str(soma_homens_livres_casados_caboclos[colunas_estados].sum()))
print("Total de homens casados escravos pardos: " + str(soma_homens_escravos_casados_pardos[colunas_estados].sum()))
print("Total de homens casados escravos pretos: " + str(soma_homens_escravos_casados_pretos[colunas_estados].sum()))
print("Total de homens casados livres: " + str(soma_homens_livres_casados[colunas_estados].sum()))
print("Total de homens casados escravos: " + str(soma_homens_escravos_casados[colunas_estados].sum()))
print("Total de homens casados: " + str(soma_homens_casados[colunas_estados].sum()))

População em relação à nacionalidade brasileira  Amazonas                  1
                                                 Pará                      3
                                                 Maranhão                  3
                                                 Piauí                    10
                                                 Ceará                  2513
                                                 Rio Grande do Norte      29
                                                 Paraíba                   5
                                                 Pernambuco               14
                                                 Alagoas                   4
                                                 Sergipe                   1
                                                 Bahia                     1
                                                 Espírito Santo            1
                                                 Rio de Janeiro            1
                                                 São Paulo                 0
                                                 Paraná                    0
                                                 Santa Catarina            1
                                                 Rio Grande do Sul         1
                                                 Minas Gerais              0
                                                 Goiás                     0
                                                 Mato Grosso               0
dtype: int64
Total de homens casados livres brancos: 1099
Total de homens casados livres pardos: 1253
Total de homens casados livres pretos: 98
Total de homens casados livres caboclos: 124
Total de homens casados escravos pardos: 8
Total de homens casados escravos pretos: 6
Total de homens casados livres: 2574
Total de homens casados escravos: 14
Total de homens casados: 2588

In [44]:
soma_homens_livres_viuvos_brancos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Brancos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_livres_viuvos_pardos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pardos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_livres_viuvos_pretos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pretos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_livres_viuvos_caboclos = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Caboclos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_escravos_viuvos_pardos = estados.loc[(estados[('', 'Condições')] == 'Escravos') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pardos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_escravos_viuvos_pretos = estados.loc[(estados[('', 'Condições')] == 'Escravos') & (estados[('', 'Sexos')] == 'Homens') & (estados[('', 'Raças')] == 'Pretos') & (estados[('', 'Estados civis')] == 'Casados')]
soma_homens_livres_viuvos = soma_homens_livres_viuvos_brancos[colunas_estados].sum() + soma_homens_livres_viuvos_pardos[colunas_estados].sum() + soma_homens_livres_viuvos_pretos[colunas_estados].sum() + soma_homens_livres_viuvos_caboclos[colunas_estados].sum()
soma_homens_escravos_viuvos = soma_homens_escravos_viuvos_pardos[colunas_estados].sum() + soma_homens_escravos_viuvos_pretos[colunas_estados].sum()

soma_homens_livres_viuvos_brancos = soma_homens_livres_viuvos_brancos[colunas_estados].sum()
soma_homens_livres_viuvos_pardos = soma_homens_livres_viuvos_pardos[colunas_estados].sum()
soma_homens_livres_viuvos_pretos = soma_homens_livres_viuvos_pretos[colunas_estados].sum()
soma_homens_livres_viuvos_caboclos = soma_homens_livres_viuvos_caboclos[colunas_estados].sum()
soma_homens_escravos_viuvos_pardos = soma_homens_escravos_viuvos_pardos[colunas_estados].sum()
soma_homens_escravos_viuvos_pretos = soma_homens_escravos_viuvos_pretos[colunas_estados].sum()

soma_homens_viuvos = soma_homens_livres_viuvos + soma_homens_escravos_viuvos
print(soma_homens_viuvos)
print("Total de homens viúvos livres brancos: " + str(soma_homens_livres_viuvos_brancos[colunas_estados].sum()))
print("Total de homens viúvos livres pardos: " + str(soma_homens_livres_viuvos_pardos[colunas_estados].sum()))
print("Total de homens viúvos livres pretos: " + str(soma_homens_livres_viuvos_pretos[colunas_estados].sum()))
print("Total de homens viúvos livres caboclos: " + str(soma_homens_livres_viuvos_caboclos[colunas_estados].sum()))
print("Total de homens viúvos escravos pardos: " + str(soma_homens_escravos_viuvos_pardos[colunas_estados].sum()))
print("Total de homens viúvos escravos pretos: " + str(soma_homens_escravos_viuvos_pretos[colunas_estados].sum()))
print("Total de homens viúvos livres: " + str(soma_homens_livres_viuvos[colunas_estados].sum()))
print("Total de homens viúvos escravos: " + str(soma_homens_escravos_viuvos[colunas_estados].sum()))
print("Total de homens viúvos: " + str(soma_homens_viuvos[colunas_estados].sum()))

População em relação à nacionalidade brasileira  Amazonas                  1
                                                 Pará                      3
                                                 Maranhão                  3
                                                 Piauí                    10
                                                 Ceará                  2513
                                                 Rio Grande do Norte      29
                                                 Paraíba                   5
                                                 Pernambuco               14
                                                 Alagoas                   4
                                                 Sergipe                   1
                                                 Bahia                     1
                                                 Espírito Santo            1
                                                 Rio de Janeiro            1
                                                 São Paulo                 0
                                                 Paraná                    0
                                                 Santa Catarina            1
                                                 Rio Grande do Sul         1
                                                 Minas Gerais              0
                                                 Goiás                     0
                                                 Mato Grosso               0
dtype: int64
Total de homens viúvos livres brancos: 1099
Total de homens viúvos livres pardos: 1253
Total de homens viúvos livres pretos: 98
Total de homens viúvos livres caboclos: 124
Total de homens viúvos escravos pardos: 8
Total de homens viúvos escravos pretos: 6
Total de homens viúvos livres: 2574
Total de homens viúvos escravos: 14
Total de homens viúvos: 2588

In [45]:
soma_mulheres_livres_solteiras_brancas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Brancas') & (estados[('', 'Estados civis')] == 'Solteiras')]
soma_mulheres_livres_solteiras_pardas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pardas') & (estados[('', 'Estados civis')] == 'Solteiras')]
soma_mulheres_livres_solteiras_pretas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pretas') & (estados[('', 'Estados civis')] == 'Solteiras')]
soma_mulheres_livres_solteiras_caboclas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Caboclas') & (estados[('', 'Estados civis')] == 'Solteiras')]
soma_mulheres_escravas_solteiras_pardas = estados.loc[(estados[('', 'Condições')] == 'Escravas') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pardas') & (estados[('', 'Estados civis')] == 'Solteiras')]
soma_mulheres_escravas_solteiras_pretas = estados.loc[(estados[('', 'Condições')] == 'Escravas') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pretas') & (estados[('', 'Estados civis')] == 'Solteiras')]
soma_mulheres_livres_solteiras = soma_mulheres_livres_solteiras_brancas[colunas_estados].sum() + soma_mulheres_livres_solteiras_pardas[colunas_estados].sum() + soma_mulheres_livres_solteiras_pretas[colunas_estados].sum() + soma_mulheres_livres_solteiras_caboclas[colunas_estados].sum()
soma_mulheres_escravas_solteiras = soma_mulheres_escravas_solteiras_pardas[colunas_estados].sum() + soma_mulheres_escravas_solteiras_pretas[colunas_estados].sum()

soma_mulheres_livres_solteiras_brancas = soma_mulheres_livres_solteiras_brancas[colunas_estados].sum()
soma_mulheres_livres_solteiras_pardas = soma_mulheres_livres_solteiras_pardas[colunas_estados].sum()
soma_mulheres_livres_solteiras_pretas = soma_mulheres_livres_solteiras_pretas[colunas_estados].sum()
soma_mulheres_livres_solteiras_caboclas = soma_mulheres_livres_solteiras_caboclas[colunas_estados].sum()
soma_mulheres_escravas_solteiras_pardas = soma_mulheres_escravas_solteiras_pardas[colunas_estados].sum()
soma_mulheres_escravas_solteiras_pretas = soma_mulheres_escravas_solteiras_pretas[colunas_estados].sum()

soma_mulheres_solteiras = soma_mulheres_livres_solteiras + soma_mulheres_escravas_solteiras
print(soma_mulheres_solteiras)
print("Total de mulheres solteiras livres brancas: " + str(soma_mulheres_livres_solteiras_brancas[colunas_estados].sum()))
print("Total de mulheres solteiras livres pardas: " + str(soma_mulheres_livres_solteiras_pardas[colunas_estados].sum()))
print("Total de mulheres solteiras livres pretas: " + str(soma_mulheres_livres_solteiras_pretas[colunas_estados].sum()))
print("Total de mulheres solteiras livres caboclas: " + str(soma_mulheres_livres_solteiras_caboclas[colunas_estados].sum()))
print("Total de mulheres solteiras escravas pardas: " + str(soma_mulheres_escravas_solteiras_pardas[colunas_estados].sum()))
print("Total de mulheres solteiras escravas pretas: " + str(soma_mulheres_escravas_solteiras_pretas[colunas_estados].sum()))
print("Total de mulheres solteiras livres: " + str(soma_mulheres_livres_solteiras[colunas_estados].sum()))
print("Total de mulheres solteiras escravas: " + str(soma_mulheres_escravas_solteiras[colunas_estados].sum()))
print("Total de mulheres solteiras: " + str(soma_mulheres_solteiras[colunas_estados].sum()))

População em relação à nacionalidade brasileira  Amazonas                  1
                                                 Pará                      0
                                                 Maranhão                 13
                                                 Piauí                     5
                                                 Ceará                  7377
                                                 Rio Grande do Norte      26
                                                 Paraíba                   3
                                                 Pernambuco               23
                                                 Alagoas                   7
                                                 Sergipe                   2
                                                 Bahia                    17
                                                 Espírito Santo            2
                                                 Rio de Janeiro           14
                                                 São Paulo                 0
                                                 Paraná                    0
                                                 Santa Catarina            1
                                                 Rio Grande do Sul         1
                                                 Minas Gerais              2
                                                 Goiás                     0
                                                 Mato Grosso               0
dtype: int64
Total de mulheres solteiras livres brancas: 2852
Total de mulheres solteiras livres pardas: 3310
Total de mulheres solteiras livres pretas: 370
Total de mulheres solteiras livres caboclas: 324
Total de mulheres solteiras escravas pardas: 350
Total de mulheres solteiras escravas pretas: 288
Total de mulheres solteiras livres: 6856
Total de mulheres solteiras escravas: 638
Total de mulheres solteiras: 7494

In [46]:
soma_mulheres_livres_casadas_brancas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Brancas') & (estados[('', 'Estados civis')] == 'Casadas')]
soma_mulheres_livres_casadas_pardas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pardas') & (estados[('', 'Estados civis')] == 'Casadas')]
soma_mulheres_livres_casadas_pretas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pretas') & (estados[('', 'Estados civis')] == 'Casadas')]
soma_mulheres_livres_casadas_caboclas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Caboclas') & (estados[('', 'Estados civis')] == 'Casadas')]
soma_mulheres_escravas_casadas_pardas = estados.loc[(estados[('', 'Condições')] == 'Escravas') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pardas') & (estados[('', 'Estados civis')] == 'Casadas')]
soma_mulheres_escravas_casadas_pretas = estados.loc[(estados[('', 'Condições')] == 'Escravas') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pretas') & (estados[('', 'Estados civis')] == 'Casadas')]
soma_mulheres_livres_casadas = soma_mulheres_livres_casadas_brancas[colunas_estados].sum() + soma_mulheres_livres_casadas_pardas[colunas_estados].sum() + soma_mulheres_livres_casadas_pretas[colunas_estados].sum() + soma_mulheres_livres_casadas_caboclas[colunas_estados].sum()
soma_mulheres_escravas_casadas = soma_mulheres_escravas_casadas_pardas[colunas_estados].sum() + soma_mulheres_escravas_casadas_pretas[colunas_estados].sum()

soma_mulheres_livres_casadas_brancas = soma_mulheres_livres_casadas_brancas[colunas_estados].sum()
soma_mulheres_livres_casadas_pardas = soma_mulheres_livres_casadas_pardas[colunas_estados].sum()
soma_mulheres_livres_casadas_pretas = soma_mulheres_livres_casadas_pretas[colunas_estados].sum()
soma_mulheres_livres_casadas_caboclas = soma_mulheres_livres_casadas_caboclas[colunas_estados].sum()
soma_mulheres_escravas_casadas_pardas = soma_mulheres_escravas_casadas_pardas[colunas_estados].sum()
soma_mulheres_escravas_casadas_pretas = soma_mulheres_escravas_casadas_pretas[colunas_estados].sum()

soma_mulheres_casadas = soma_mulheres_livres_casadas + soma_mulheres_escravas_casadas
print(soma_mulheres_casadas)
print("Total de mulheres casadas livres brancas: " + str(soma_mulheres_livres_casadas_brancas[colunas_estados].sum()))
print("Total de mulheres casadas livres pardas: " + str(soma_mulheres_livres_casadas_pardas[colunas_estados].sum()))
print("Total de mulheres casadas livres pretas: " + str(soma_mulheres_livres_casadas_pretas[colunas_estados].sum()))
print("Total de mulheres casadas livres caboclas: " + str(soma_mulheres_livres_casadas_caboclas[colunas_estados].sum()))
print("Total de mulheres casadas escravas pardas: " + str(soma_mulheres_escravas_casadas_pardas[colunas_estados].sum()))
print("Total de mulheres casadas escravas pretas: " + str(soma_mulheres_escravas_casadas_pretas[colunas_estados].sum()))
print("Total de mulheres casadas livres: " + str(soma_mulheres_livres_casadas[colunas_estados].sum()))
print("Total de mulheres casadas escravas: " + str(soma_mulheres_escravas_casadas[colunas_estados].sum()))
print("Total de mulheres casadas: " + str(soma_mulheres_casadas[colunas_estados].sum()))

População em relação à nacionalidade brasileira  Amazonas                  0
                                                 Pará                      0
                                                 Maranhão                  4
                                                 Piauí                     4
                                                 Ceará                  1998
                                                 Rio Grande do Norte      17
                                                 Paraíba                   0
                                                 Pernambuco               12
                                                 Alagoas                   0
                                                 Sergipe                   1
                                                 Bahia                     8
                                                 Espírito Santo            0
                                                 Rio de Janeiro            3
                                                 São Paulo                 0
                                                 Paraná                    0
                                                 Santa Catarina            0
                                                 Rio Grande do Sul         4
                                                 Minas Gerais              0
                                                 Goiás                     0
                                                 Mato Grosso               1
dtype: int64
Total de mulheres casadas livres brancas: 978
Total de mulheres casadas livres pardas: 940
Total de mulheres casadas livres pretas: 46
Total de mulheres casadas livres caboclas: 69
Total de mulheres casadas escravas pardas: 14
Total de mulheres casadas escravas pretas: 5
Total de mulheres casadas livres: 2033
Total de mulheres casadas escravas: 19
Total de mulheres casadas: 2052

In [47]:
soma_mulheres_livres_viuvas_brancas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Brancas') & (estados[('', 'Estados civis')] == 'Viúvas')]
soma_mulheres_livres_viuvas_pardas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pardas') & (estados[('', 'Estados civis')] == 'Viúvas')]
soma_mulheres_livres_viuvas_pretas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pretas') & (estados[('', 'Estados civis')] == 'Viúvas')]
soma_mulheres_livres_viuvas_caboclas = estados.loc[(estados[('', 'Condições')] == 'Livres') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Caboclas') & (estados[('', 'Estados civis')] == 'Viúvas')]
soma_mulheres_escravas_viuvas_pardas = estados.loc[(estados[('', 'Condições')] == 'Escravas') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pardas') & (estados[('', 'Estados civis')] == 'Viúvas')]
soma_mulheres_escravas_viuvas_pretas = estados.loc[(estados[('', 'Condições')] == 'Escravas') & (estados[('', 'Sexos')] == 'Mulheres') & (estados[('', 'Raças')] == 'Pretas') & (estados[('', 'Estados civis')] == 'Viúvas')]
soma_mulheres_livres_viuvas = soma_mulheres_livres_viuvas_brancas[colunas_estados].sum() + soma_mulheres_livres_viuvas_pardas[colunas_estados].sum() + soma_mulheres_livres_viuvas_pretas[colunas_estados].sum() + soma_mulheres_livres_viuvas_caboclas[colunas_estados].sum()
soma_mulheres_escravas_viuvas = soma_mulheres_escravas_viuvas_pardas[colunas_estados].sum() + soma_mulheres_escravas_viuvas_pretas[colunas_estados].sum()

soma_mulheres_livres_viuvas_brancas = soma_mulheres_livres_viuvas_brancas[colunas_estados].sum()
soma_mulheres_livres_viuvas_pardas = soma_mulheres_livres_viuvas_pardas[colunas_estados].sum()
soma_mulheres_livres_viuvas_pretas = soma_mulheres_livres_viuvas_pretas[colunas_estados].sum()
soma_mulheres_livres_viuvas_caboclas = soma_mulheres_livres_viuvas_caboclas[colunas_estados].sum()
soma_mulheres_escravas_viuvas_pardas = soma_mulheres_escravas_viuvas_pardas[colunas_estados].sum()
soma_mulheres_escravas_viuvas_pretas = soma_mulheres_escravas_viuvas_pretas[colunas_estados].sum()

soma_mulheres_viuvas = soma_mulheres_livres_viuvas + soma_mulheres_escravas_viuvas
print(soma_mulheres_viuvas)
print("Total de mulheres viúvas livres brancas: " + str(soma_mulheres_livres_viuvas_brancas[colunas_estados].sum()))
print("Total de mulheres viúvas livres pardas: " + str(soma_mulheres_livres_viuvas_pardas[colunas_estados].sum()))
print("Total de mulheres viúvas livres pretas: " + str(soma_mulheres_livres_viuvas_pretas[colunas_estados].sum()))
print("Total de mulheres viúvas livres caboclas: " + str(soma_mulheres_livres_viuvas_caboclas[colunas_estados].sum()))
print("Total de mulheres viúvas escravas pardas: " + str(soma_mulheres_escravas_viuvas_pardas[colunas_estados].sum()))
print("Total de mulheres viúvas escravas pretas: " + str(soma_mulheres_escravas_viuvas_pretas[colunas_estados].sum()))
print("Total de mulheres viúvas livres: " + str(soma_mulheres_livres_viuvas[colunas_estados].sum()))
print("Total de mulheres viúvas escravas: " + str(soma_mulheres_escravas_viuvas[colunas_estados].sum()))
print("Total de mulheres viúvas: " + str(soma_mulheres_viuvas[colunas_estados].sum()))

População em relação à nacionalidade brasileira  Amazonas                 0
                                                 Pará                     0
                                                 Maranhão                 0
                                                 Piauí                    5
                                                 Ceará                  742
                                                 Rio Grande do Norte     15
                                                 Paraíba                  0
                                                 Pernambuco              12
                                                 Alagoas                  0
                                                 Sergipe                  0
                                                 Bahia                    1
                                                 Espírito Santo           0
                                                 Rio de Janeiro           0
                                                 São Paulo                0
                                                 Paraná                   0
                                                 Santa Catarina           0
                                                 Rio Grande do Sul        1
                                                 Minas Gerais             0
                                                 Goiás                    0
                                                 Mato Grosso              0
dtype: int64
Total de mulheres viúvas livres brancas: 358
Total de mulheres viúvas livres pardas: 351
Total de mulheres viúvas livres pretas: 24
Total de mulheres viúvas livres caboclas: 39
Total de mulheres viúvas escravas pardas: 1
Total de mulheres viúvas escravas pretas: 3
Total de mulheres viúvas livres: 772
Total de mulheres viúvas escravas: 4
Total de mulheres viúvas: 776