In [1]:
import pandas as pd
import numpy as np
import pathfinder as pf

In [2]:
filename = "censo_1872_ce-002_p2.csv"
path = pf.find_file(filename)
df = pd.read_csv(path)

In [3]:
df = df[:len(df) - 1]
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,NaN,NaN,NaN,Meses,NaN,NaN,NaN,NaN,NaN,NaN,...,das Condições,NaN,dos Sexos,NaN,Ausentes (acidentalmente),NaN,Transeuntes (população flutuante),NaN,População legal,NaN
1,Sexos,Condições,Raças,“1”,“2”,“3”,“4”,“5”,“6”,“7”,...,Livres,Escravos,Homens,Mulheres,Condições,Sexos,Condições,Sexos,Condições,Sexos
2,Homens,Livres,Brancos,17,8,5,7,5,6,7,...,10281,0,10803,0,41,41,301,301,10021,10543
3,NaN,NaN,Pardos,2,6,3,5,11,6,13,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Pretos,2,0,1,0,0,0,0,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Caboclos,4,1,0,1,0,0,0,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Escravos,Pardos,0,0,0,0,0,0,0,...,0,522,NaN,0,0,NaN,0,NaN,522,NaN
7,NaN,NaN,Pretos,0,0,0,0,0,0,0,...,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
8,Mulheres,Livres,Brancas,14,8,6,10,7,13,8,...,9791,0,0,10452,76,76,247,247,9620,10281
9,NaN,NaN,Pardas,8,12,16,8,7,15,10,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Pretas,3,5,6,3,0,1,0,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,Caboclas,0,0,0,1,0,1,0,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Escravas,Pardas,0,0,0,0,0,0,0,...,0,661,0,NaN,0,NaN,0,NaN,661,NaN
13,NaN,NaN,Pretas,0,0,0,0,0,0,0,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Soma geral,NaN,50,40,37,35,30,42,38,...,20072,1183,10803,10452,117,117,548,548,20824,20824

In [4]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Totais', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46'],
      dtype='object')

# População menor que 1 ano

In [5]:
meses = df[['Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']]
meses.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,Meses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sexos,Condições,Raças,“1”,“2”,“3”,“4”,“5”,“6”,“7”,“8”,“9”,“10”,“11”
2,Homens,Livres,Brancos,17,8,5,7,5,6,7,13,5,4,7
3,NaN,NaN,Pardos,2,6,3,5,11,6,13,12,8,6,7
4,NaN,NaN,Pretos,2,0,1,0,0,0,0,0,0,0,0

In [6]:
new_header = meses.iloc[1]
meses.columns = new_header
meses = meses[2:]
meses.head()

1   Sexos Condições     Raças “1” “2” “3” “4” “5” “6” “7” “8” “9” “10” “11”
2  Homens    Livres   Brancos  17   8   5   7   5   6   7  13   5    4    7
3     NaN       NaN    Pardos   2   6   3   5  11   6  13  12   8    6    7
4     NaN       NaN    Pretos   2   0   1   0   0   0   0   0   0    0    0
5     NaN       NaN  Caboclos   4   1   0   1   0   0   0   0   1    0    0
6     NaN  Escravos    Pardos   0   0   0   0   0   0   0   0   0    0    0

In [7]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Meses', '1'),
    ('Meses', '2'),
    ('Meses', '3'),
    ('Meses', '4'),
    ('Meses', '5'),
    ('Meses', '6'),
    ('Meses', '7'),
    ('Meses', '8'),
    ('Meses', '9'),
    ('Meses', '10'),
    ('Meses', '11')
])

meses.columns = columns_multiindex

meses

                                   Meses                                      \
       Sexos   Condições     Raças     1   2   3   4   5   6   7   8   9  10
2     Homens      Livres   Brancos    17   8   5   7   5   6   7  13   5   4
3        NaN         NaN    Pardos     2   6   3   5  11   6  13  12   8   6
4        NaN         NaN    Pretos     2   0   1   0   0   0   0   0   0   0
5        NaN         NaN  Caboclos     4   1   0   1   0   0   0   0   1   0
6        NaN    Escravos    Pardos     0   0   0   0   0   0   0   0   0   0
7        NaN         NaN    Pretos     0   0   0   0   0   0   0   0   0   0
8   Mulheres      Livres   Brancas    14   8   6  10   7  13   8   8   7  11
9        NaN         NaN    Pardas     8  12  16   8   7  15  10   6   9   6
10       NaN         NaN    Pretas     3   5   6   3   0   1   0   0   6   0
11       NaN         NaN  Caboclas     0   0   0   1   0   1   0   0   0   0
12       NaN    Escravas    Pardas     0   0   0   0   0   0   0   0   0   0
13       NaN         NaN    Pretas     0   0   0   0   0   0   0   0   0   0
14       NaN  Soma geral       NaN    50  40  37  35  30  42  38  39  35  27


    11
2    7
3    7
4    0
5    0
6    0
7    0
8   12
9    8
10   4
11   0
12   6
13   2
14  46

In [8]:
meses[('', 'Sexos')] = meses[('', 'Sexos')].ffill()

meses[('', 'Condições')] = meses[('', 'Condições')].ffill()

meses.loc[14, ('', 'Raças')] = 'Total'
meses

                                   Meses                                      \
       Sexos   Condições     Raças     1   2   3   4   5   6   7   8   9  10
2     Homens      Livres   Brancos    17   8   5   7   5   6   7  13   5   4
3     Homens      Livres    Pardos     2   6   3   5  11   6  13  12   8   6
4     Homens      Livres    Pretos     2   0   1   0   0   0   0   0   0   0
5     Homens      Livres  Caboclos     4   1   0   1   0   0   0   0   1   0
6     Homens    Escravos    Pardos     0   0   0   0   0   0   0   0   0   0
7     Homens    Escravos    Pretos     0   0   0   0   0   0   0   0   0   0
8   Mulheres      Livres   Brancas    14   8   6  10   7  13   8   8   7  11
9   Mulheres      Livres    Pardas     8  12  16   8   7  15  10   6   9   6
10  Mulheres      Livres    Pretas     3   5   6   3   0   1   0   0   6   0
11  Mulheres      Livres  Caboclas     0   0   0   1   0   1   0   0   0   0
12  Mulheres    Escravas    Pardas     0   0   0   0   0   0   0   0   0   0
13  Mulheres    Escravas    Pretas     0   0   0   0   0   0   0   0   0   0
14  Mulheres  Soma geral     Total    50  40  37  35  30  42  38  39  35  27


    11
2    7
3    7
4    0
5    0
6    0
7    0
8   12
9    8
10   4
11   0
12   6
13   2
14  46

In [9]:
colunas_bebes = [('Meses', '1'), ('Meses', '2'), ('Meses', '3'), ('Meses', '4'), ('Meses', '5'), ('Meses', '6'), ('Meses', '7'), ('Meses', '8'), ('Meses', '9'), ('Meses', '10'), ('Meses', '11')]
meses[colunas_bebes] = meses[colunas_bebes].apply(pd.to_numeric)

soma_homens_livres_bebes_brancos = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Brancos')]
soma_homens_livres_bebes_pardos = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Pardos')]
soma_homens_livres_bebes_pretos = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Pretos')]
soma_homens_livres_bebes_caboclos = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_bebes_pardos = meses.loc[(meses[('', 'Condições')] == 'Escravos') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_bebes_pretos = meses.loc[(meses[('', 'Condições')] == 'Escravos') & (meses[('', 'Sexos')] == 'Homens') & (meses[('', 'Raças')] == 'Pretos')]
soma_homens_livres_bebes = soma_homens_livres_bebes_brancos[colunas_bebes].sum() + soma_homens_livres_bebes_pardos[colunas_bebes].sum() + soma_homens_livres_bebes_pretos[colunas_bebes].sum() + soma_homens_livres_bebes_caboclos[colunas_bebes].sum()
soma_homens_escravos_bebes = soma_homens_escravos_bebes_pardos[colunas_bebes].sum() + soma_homens_escravos_bebes_pretos[colunas_bebes].sum()

soma_homens_livres_bebes_brancos = soma_homens_livres_bebes_brancos[colunas_bebes].sum()
soma_homens_livres_bebes_pardos = soma_homens_livres_bebes_pardos[colunas_bebes].sum()
soma_homens_livres_bebes_pretos = soma_homens_livres_bebes_pretos[colunas_bebes].sum()
soma_homens_livres_bebes_caboclos = soma_homens_livres_bebes_caboclos[colunas_bebes].sum()
soma_homens_escravos_bebes_pardos = soma_homens_escravos_bebes_pardos[colunas_bebes].sum()
soma_homens_escravos_bebes_pretos = soma_homens_escravos_bebes_pretos[colunas_bebes].sum()

soma_homens_bebes = soma_homens_livres_bebes + soma_homens_escravos_bebes
print(soma_homens_bebes)
print("Total de bebês homens livres brancos: " + str(soma_homens_livres_bebes_brancos[colunas_bebes].sum()))
print("Total de bebês homens livres pardos: " + str(soma_homens_livres_bebes_pardos[colunas_bebes].sum()))
print("Total de bebês homens livres pretos: " + str(soma_homens_livres_bebes_pretos[colunas_bebes].sum()))
print("Total de bebês homens livres caboclos: " + str(soma_homens_livres_bebes_caboclos[colunas_bebes].sum()))
print("Total de bebês homens escravos pardos: " + str(soma_homens_escravos_bebes_pardos[colunas_bebes].sum()))
print("Total de bebês homens escravos pretos: " + str(soma_homens_escravos_bebes_pretos[colunas_bebes].sum()))
print("Total de homens bebês livres: " + str(soma_homens_livres_bebes[colunas_bebes].sum()))
print("Total de homens bebês escravos: " + str(soma_homens_escravos_bebes[colunas_bebes].sum()))
print("Total de homens bebês: " + str(soma_homens_bebes[colunas_bebes].sum()))

Meses  1     25
       2     15
       3      9
       4     13
       5     16
       6     12
       7     20
       8     25
       9     14
       10    10
       11    14
dtype: int64
Total de bebês homens livres brancos: 84
Total de bebês homens livres pardos: 79
Total de bebês homens livres pretos: 3
Total de bebês homens livres caboclos: 7
Total de bebês homens escravos pardos: 0
Total de bebês homens escravos pretos: 0
Total de homens bebês livres: 173
Total de homens bebês escravos: 0
Total de homens bebês: 173

In [10]:
soma_mulheres_livres_bebes_brancas = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_bebes_pardas = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_bebes_pretas = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_bebes_caboclas = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_bebes_pardas = meses.loc[(meses[('', 'Condições')] == 'Escravas') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_bebes_pretas = meses.loc[(meses[('', 'Condições')] == 'Escravas') & (meses[('', 'Sexos')] == 'Mulheres') & (meses[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_bebes = soma_mulheres_livres_bebes_brancas[colunas_bebes].sum() + soma_mulheres_livres_bebes_pardas[colunas_bebes].sum() + soma_mulheres_livres_bebes_pretas[colunas_bebes].sum() + soma_mulheres_livres_bebes_caboclas[colunas_bebes].sum()
soma_mulheres_escravas_bebes = soma_mulheres_escravas_bebes_pardas[colunas_bebes].sum() + soma_mulheres_escravas_bebes_pretas[colunas_bebes].sum()

soma_mulheres_livres_bebes_brancas = soma_mulheres_livres_bebes_brancas[colunas_bebes].sum()
soma_mulheres_livres_bebes_pardas = soma_mulheres_livres_bebes_pardas[colunas_bebes].sum()
soma_mulheres_livres_bebes_pretas = soma_mulheres_livres_bebes_pretas[colunas_bebes].sum()
soma_mulheres_livres_bebes_caboclas = soma_mulheres_livres_bebes_caboclas[colunas_bebes].sum()
soma_mulheres_escravas_bebes_pardas = soma_mulheres_escravas_bebes_pardas[colunas_bebes].sum()
soma_mulheres_escravas_bebes_pretas = soma_mulheres_escravas_bebes_pretas[colunas_bebes].sum()

soma_mulheres_bebes = soma_mulheres_livres_bebes + soma_mulheres_escravas_bebes
print(soma_mulheres_bebes)
print("Total de bebês mulheres livres brancas: " + str(soma_mulheres_livres_bebes_brancas[colunas_bebes].sum()))
print("Total de bebês mulheres livres pardas: " + str(soma_mulheres_livres_bebes_pardas[colunas_bebes].sum()))
print("Total de bebês mulheres livres pretas: " + str(soma_mulheres_livres_bebes_pretas[colunas_bebes].sum()))
print("Total de bebês mulheres livres caboclas: " + str(soma_mulheres_livres_bebes_caboclas[colunas_bebes].sum()))
print("Total de bebês mulheres escravas pardas: " + str(soma_mulheres_escravas_bebes_pardas[colunas_bebes].sum()))
print("Total de bebês mulheres escravas pretas: " + str(soma_mulheres_escravas_bebes_pretas[colunas_bebes].sum()))
print("Total de mulheres bebês livres: " + str(soma_mulheres_livres_bebes[colunas_bebes].sum()))
print("Total de mulheres bebês escravas: " + str(soma_mulheres_escravas_bebes[colunas_bebes].sum()))
print("Total de mulheres bebês: " + str(soma_mulheres_bebes[colunas_bebes].sum()))

Meses  1     25
       2     25
       3     28
       4     22
       5     14
       6     30
       7     18
       8     14
       9     22
       10    17
       11    32
dtype: int64
Total de bebês mulheres livres brancas: 104
Total de bebês mulheres livres pardas: 105
Total de bebês mulheres livres pretas: 28
Total de bebês mulheres livres caboclas: 2
Total de bebês mulheres escravas pardas: 6
Total de bebês mulheres escravas pretas: 2
Total de mulheres bebês livres: 239
Total de mulheres bebês escravas: 8
Total de mulheres bebês: 247

In [11]:
soma_total_bebes = meses.loc[(meses[('', 'Condições')] == 'Soma geral') & (meses[('', 'Raças')] == 'Total')]
soma_total_bebes = soma_total_bebes[colunas_bebes].sum()
soma_total_bebes = int(soma_total_bebes.sum())

soma_homens_bebes = int(soma_homens_bebes.sum())
soma_mulheres_bebes = int(soma_mulheres_bebes.sum())

print("Soma de homens e mulheres bebês: " + str(soma_homens_bebes + soma_mulheres_bebes))
print("Total de homens e mulheres bebês: " + str(soma_total_bebes))

if soma_total_bebes == soma_homens_bebes + soma_mulheres_bebes:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_bebes))
    print("Total da soma efetuada: " + str(soma_homens_bebes + soma_mulheres_bebes))

Soma de homens e mulheres bebês: 420
Total de homens e mulheres bebês: 419
***Divergência de valores na tabela***
Total do valor digitado: 419
Total da soma efetuada: 420

In [12]:
# colunas_bebes = [('Meses', '1'), ('Meses', '2'), ('Meses', '3'), ('Meses', '4'), ('Meses', '5'), ('Meses', '6'), ('Meses', '7'), ('Meses', '8'), ('Meses', '9'), ('Meses', '10'), ('Meses', '11')]
# meses[colunas_bebes] = meses[colunas_bebes].apply(pd.to_numeric)

# homens_livres = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Homens')]
# homens_escravos = meses.loc[(meses[('', 'Condições')] == 'Escravos') & (meses[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_bebes].sum() + homens_escravos[colunas_bebes].sum()

# soma_homens

In [13]:
# mulheres_livres = meses.loc[(meses[('', 'Condições')] == 'Livres') & (meses[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = meses.loc[(meses[('', 'Condições')] == 'Escravas') & (meses[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_bebes].sum() + mulheres_escravas[colunas_bebes].sum()

# soma_mulheres

In [14]:
# total = soma_homens + soma_mulheres
# total

# População entre 1 e 5 anos

In [15]:
anos = df[['Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18']]
anos.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,Anos completos,NaN,NaN,NaN,NaN
1,Sexos,Condições,Raças,“1”,“2”,“3”,“4”,“5”
2,Homens,Livres,Brancos,101,114,107,120,114
3,NaN,NaN,Pardos,102,112,100,98,95
4,NaN,NaN,Pretos,2,4,3,8,2

In [16]:
new_header = anos.iloc[1]
anos.columns = new_header
anos = anos[2:]
anos.head()

1   Sexos Condições     Raças  “1”  “2”  “3”  “4”  “5”
2  Homens    Livres   Brancos  101  114  107  120  114
3     NaN       NaN    Pardos  102  112  100   98   95
4     NaN       NaN    Pretos    2    4    3    8    2
5     NaN       NaN  Caboclos   11    8   12   11   13
6     NaN  Escravos    Pardos    3    6   11   12    8

In [17]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Anos completos', '1'),
    ('Anos completos', '2'),
    ('Anos completos', '3'),
    ('Anos completos', '4'),
    ('Anos completos', '5')
])

anos.columns = columns_multiindex

anos

                                   Anos completos
       Sexos   Condições     Raças              1    2    3    4    5
2     Homens      Livres   Brancos            101  114  107  120  114
3        NaN         NaN    Pardos            102  112  100   98   95
4        NaN         NaN    Pretos              2    4    3    8    2
5        NaN         NaN  Caboclos             11    8   12   11   13
6        NaN    Escravos    Pardos              3    6   11   12    8
7        NaN         NaN    Pretos              4    4    5    6    3
8   Mulheres      Livres   Brancas            103   93  109  102  117
9        NaN         NaN    Pardas             95  106  128  107  107
10       NaN         NaN    Pretas              8    4    8    8   10
11       NaN         NaN  Caboclas              7    8   14    8    9
12       NaN    Escravas    Pardas              8    5    6    5    8
13       NaN         NaN    Pretas              8    7    4    5   23
14       NaN  Soma geral       NaN            452  471  507  490  509

In [18]:
anos[('', 'Sexos')] = anos[('', 'Sexos')].ffill()

anos[('', 'Condições')] = anos[('', 'Condições')].ffill()

anos.loc[14, ('', 'Raças')] = 'Total'
anos

                                   Anos completos
       Sexos   Condições     Raças              1    2    3    4    5
2     Homens      Livres   Brancos            101  114  107  120  114
3     Homens      Livres    Pardos            102  112  100   98   95
4     Homens      Livres    Pretos              2    4    3    8    2
5     Homens      Livres  Caboclos             11    8   12   11   13
6     Homens    Escravos    Pardos              3    6   11   12    8
7     Homens    Escravos    Pretos              4    4    5    6    3
8   Mulheres      Livres   Brancas            103   93  109  102  117
9   Mulheres      Livres    Pardas             95  106  128  107  107
10  Mulheres      Livres    Pretas              8    4    8    8   10
11  Mulheres      Livres  Caboclas              7    8   14    8    9
12  Mulheres    Escravas    Pardas              8    5    6    5    8
13  Mulheres    Escravas    Pretas              8    7    4    5   23
14  Mulheres  Soma geral     Total            452  471  507  490  509

In [19]:
colunas_anos = [('Anos completos', '1'), ('Anos completos', '2'), ('Anos completos', '3'), ('Anos completos', '4'), ('Anos completos', '5')]
anos[colunas_anos] = anos[colunas_anos].apply(pd.to_numeric)

soma_homens_livres_anos_brancos = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Brancos')]
soma_homens_livres_anos_pardos = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Pardos')]
soma_homens_livres_anos_pretos = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Pretos')]
soma_homens_livres_anos_caboclos = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_anos_pardos = anos.loc[(anos[('', 'Condições')] == 'Escravos') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_anos_pretos = anos.loc[(anos[('', 'Condições')] == 'Escravos') & (anos[('', 'Sexos')] == 'Homens') & (anos[('', 'Raças')] == 'Pretos')]
soma_homens_livres_anos = soma_homens_livres_anos_brancos[colunas_anos].sum() + soma_homens_livres_anos_pardos[colunas_anos].sum() + soma_homens_livres_anos_pretos[colunas_anos].sum() + soma_homens_livres_anos_caboclos[colunas_anos].sum()
soma_homens_escravos_anos = soma_homens_escravos_anos_pardos[colunas_anos].sum() + soma_homens_escravos_anos_pretos[colunas_anos].sum()

soma_homens_livres_anos_brancos = soma_homens_livres_anos_brancos[colunas_anos].sum()
soma_homens_livres_anos_pardos = soma_homens_livres_anos_pardos[colunas_anos].sum()
soma_homens_livres_anos_pretos = soma_homens_livres_anos_pretos[colunas_anos].sum()
soma_homens_livres_anos_caboclos = soma_homens_livres_anos_caboclos[colunas_anos].sum()
soma_homens_escravos_anos_pardos = soma_homens_escravos_anos_pardos[colunas_anos].sum()
soma_homens_escravos_anos_pretos = soma_homens_escravos_anos_pretos[colunas_anos].sum()

soma_homens_anos = soma_homens_livres_anos + soma_homens_escravos_anos
print(soma_homens_anos)
print("Total de crianças homens livres brancos: " + str(soma_homens_livres_anos_brancos[colunas_anos].sum()))
print("Total de crianças homens livres pardos: " + str(soma_homens_livres_anos_pardos[colunas_anos].sum()))
print("Total de crianças homens livres pretos: " + str(soma_homens_livres_anos_pretos[colunas_anos].sum()))
print("Total de crianças homens livres caboclos: " + str(soma_homens_livres_anos_caboclos[colunas_anos].sum()))
print("Total de crianças homens escravos pardos: " + str(soma_homens_escravos_anos_pardos[colunas_anos].sum()))
print("Total de crianças homens escravos pretos: " + str(soma_homens_escravos_anos_pretos[colunas_anos].sum()))
print("Total de homens crianças livres: " + str(soma_homens_livres_anos[colunas_anos].sum()))
print("Total de homens crianças escravos: " + str(soma_homens_escravos_anos[colunas_anos].sum()))
print("Total de homens crianças: " + str(soma_homens_anos[colunas_anos].sum()))

Anos completos  1    223
                2    248
                3    238
                4    255
                5    235
dtype: int64
Total de crianças homens livres brancos: 556
Total de crianças homens livres pardos: 507
Total de crianças homens livres pretos: 19
Total de crianças homens livres caboclos: 55
Total de crianças homens escravos pardos: 40
Total de crianças homens escravos pretos: 22
Total de homens crianças livres: 1137
Total de homens crianças escravos: 62
Total de homens crianças: 1199

In [20]:
soma_mulheres_livres_anos_brancas = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_anos_pardas = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_anos_pretas = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_anos_caboclas = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_anos_pardas = anos.loc[(anos[('', 'Condições')] == 'Escravas') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_anos_pretas = anos.loc[(anos[('', 'Condições')] == 'Escravas') & (anos[('', 'Sexos')] == 'Mulheres') & (anos[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_anos = soma_mulheres_livres_anos_brancas[colunas_anos].sum() + soma_mulheres_livres_anos_pardas[colunas_anos].sum() + soma_mulheres_livres_anos_pretas[colunas_anos].sum() + soma_mulheres_livres_anos_caboclas[colunas_anos].sum()
soma_mulheres_escravas_anos = soma_mulheres_escravas_anos_pardas[colunas_anos].sum() + soma_mulheres_escravas_anos_pretas[colunas_anos].sum()

soma_mulheres_livres_anos_brancas = soma_mulheres_livres_anos_brancas[colunas_anos].sum()
soma_mulheres_livres_anos_pardas = soma_mulheres_livres_anos_pardas[colunas_anos].sum()
soma_mulheres_livres_anos_pretas = soma_mulheres_livres_anos_pretas[colunas_anos].sum()
soma_mulheres_livres_anos_caboclas = soma_mulheres_livres_anos_caboclas[colunas_anos].sum()
soma_mulheres_escravas_anos_pardas = soma_mulheres_escravas_anos_pardas[colunas_anos].sum()
soma_mulheres_escravas_anos_pretas = soma_mulheres_escravas_anos_pretas[colunas_anos].sum()

soma_mulheres_anos = soma_mulheres_livres_anos + soma_mulheres_escravas_anos
print(soma_mulheres_anos)
print("Total de crianças mulheres livres brancas: " + str(soma_mulheres_livres_anos_brancas[colunas_anos].sum()))
print("Total de crianças mulheres livres pardas: " + str(soma_mulheres_livres_anos_pardas[colunas_anos].sum()))
print("Total de crianças mulheres livres pretas: " + str(soma_mulheres_livres_anos_pretas[colunas_anos].sum()))
print("Total de crianças mulheres livres caboclas: " + str(soma_mulheres_livres_anos_caboclas[colunas_anos].sum()))
print("Total de crianças mulheres escravas pardas: " + str(soma_mulheres_escravas_anos_pardas[colunas_anos].sum()))
print("Total de crianças mulheres escravas pretas: " + str(soma_mulheres_escravas_anos_pretas[colunas_anos].sum()))
print("Total de mulheres crianças livres: " + str(soma_mulheres_livres_anos[colunas_anos].sum()))
print("Total de mulheres crianças escravas: " + str(soma_mulheres_escravas_anos[colunas_anos].sum()))
print("Total de mulheres crianças: " + str(soma_mulheres_anos[colunas_anos].sum()))

Anos completos  1    229
                2    223
                3    269
                4    235
                5    274
dtype: int64
Total de crianças mulheres livres brancas: 524
Total de crianças mulheres livres pardas: 543
Total de crianças mulheres livres pretas: 38
Total de crianças mulheres livres caboclas: 46
Total de crianças mulheres escravas pardas: 32
Total de crianças mulheres escravas pretas: 47
Total de mulheres crianças livres: 1151
Total de mulheres crianças escravas: 79
Total de mulheres crianças: 1230

In [21]:
soma_total_anos = anos.loc[(anos[('', 'Condições')] == 'Soma geral') & (anos[('', 'Raças')] == 'Total')]
soma_total_anos = soma_total_anos[colunas_anos].sum()
soma_total_anos = int(soma_total_anos.sum())

soma_homens_anos = int(soma_homens_anos.sum())
soma_mulheres_anos = int(soma_mulheres_anos.sum())

print("Soma de homens e mulheres crianças: " + str(soma_homens_anos + soma_mulheres_anos))
print("Total de homens e mulheres crianças: " + str(soma_total_anos))

if soma_total_anos == soma_homens_anos + soma_mulheres_anos:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_anos))
    print("Total da soma efetuada: " + str(soma_homens_anos + soma_mulheres_anos))

Soma de homens e mulheres crianças: 2429
Total de homens e mulheres crianças: 2429
OK

In [22]:
# colunas_anos = [('Anos completos', '1'), ('Anos completos', '2'), ('Anos completos', '3'), ('Anos completos', '4'), ('Anos completos', '5')]
# anos[colunas_anos] = anos[colunas_anos].apply(pd.to_numeric)

# homens_livres = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Homens')]
# homens_escravos = anos.loc[(anos[('', 'Condições')] == 'Escravos') & (anos[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_anos].sum() + homens_escravos[colunas_anos].sum()

# soma_homens

In [23]:
# mulheres_livres = anos.loc[(anos[('', 'Condições')] == 'Livres') & (anos[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = anos.loc[(anos[('', 'Condições')] == 'Escravas') & (anos[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_anos].sum() + mulheres_escravas[colunas_anos].sum()

# soma_mulheres

In [24]:
# total = soma_homens + soma_mulheres
# total

# População entre 6 e 30 anos

In [25]:
quinquenios = df[['Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23']]
quinquenios.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,Quinquênios,NaN,NaN,NaN,NaN
1,Sexos,Condições,Raças,6 a 10,11 a 15,16 a 20,21 a 25,26 a 30
2,Homens,Livres,Brancos,555,603,603,546,695
3,NaN,NaN,Pardos,606,459,392,456,493
4,NaN,NaN,Pretos,61,45,45,56,56

In [26]:
new_header = quinquenios.iloc[1]
quinquenios.columns = new_header
quinquenios = quinquenios[2:]
quinquenios.head()

1   Sexos Condições     Raças 6 a 10 11 a 15 16 a 20 21 a 25 26 a 30
2  Homens    Livres   Brancos    555     603     603     546     695
3     NaN       NaN    Pardos    606     459     392     456     493
4     NaN       NaN    Pretos     61      45      45      56      56
5     NaN       NaN  Caboclos     75      96      94      54      79
6     NaN  Escravos    Pardos     58      32      49      44      29

In [27]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Quinquênios', '6 a 10'),
    ('Quinquênios', '11 a 15'),
    ('Quinquênios', '16 a 20'),
    ('Quinquênios', '21 a 25'),
    ('Quinquênios', '26 a 30')
])

quinquenios.columns = columns_multiindex

quinquenios

                                   Quinquênios
       Sexos   Condições     Raças      6 a 10 11 a 15 16 a 20 21 a 25 26 a 30
2     Homens      Livres   Brancos         555     603     603     546     695
3        NaN         NaN    Pardos         606     459     392     456     493
4        NaN         NaN    Pretos          61      45      45      56      56
5        NaN         NaN  Caboclos          75      96      94      54      79
6        NaN    Escravos    Pardos          58      32      49      44      29
7        NaN         NaN    Pretos          28      29      22      26      23
8   Mulheres      Livres   Brancas         534     523     599     456     439
9        NaN         NaN    Pardas         658     515     515     568     543
10       NaN         NaN    Pretas          52      40      39      37      51
11       NaN         NaN  Caboclas          51      58      52      53      52
12       NaN    Escravas    Pardas          63      52      44      49      54
13       NaN         NaN    Pretas          10      46      28      69      30
14       NaN  Soma geral       NaN        2781    2501    2482    2414    2544

In [28]:
quinquenios[('', 'Sexos')] = quinquenios[('', 'Sexos')].ffill()

quinquenios[('', 'Condições')] = quinquenios[('', 'Condições')].ffill()

quinquenios.loc[14, ('', 'Raças')] = 'Total'
quinquenios

                                   Quinquênios
       Sexos   Condições     Raças      6 a 10 11 a 15 16 a 20 21 a 25 26 a 30
2     Homens      Livres   Brancos         555     603     603     546     695
3     Homens      Livres    Pardos         606     459     392     456     493
4     Homens      Livres    Pretos          61      45      45      56      56
5     Homens      Livres  Caboclos          75      96      94      54      79
6     Homens    Escravos    Pardos          58      32      49      44      29
7     Homens    Escravos    Pretos          28      29      22      26      23
8   Mulheres      Livres   Brancas         534     523     599     456     439
9   Mulheres      Livres    Pardas         658     515     515     568     543
10  Mulheres      Livres    Pretas          52      40      39      37      51
11  Mulheres      Livres  Caboclas          51      58      52      53      52
12  Mulheres    Escravas    Pardas          63      52      44      49      54
13  Mulheres    Escravas    Pretas          10      46      28      69      30
14  Mulheres  Soma geral     Total        2781    2501    2482    2414    2544

In [29]:
colunas_quinquenios = [('Quinquênios', '6 a 10'), ('Quinquênios', '11 a 15'), ('Quinquênios', '16 a 20'), ('Quinquênios', '21 a 25'), ('Quinquênios', '26 a 30')]
quinquenios[colunas_quinquenios] = quinquenios[colunas_quinquenios].apply(pd.to_numeric)

soma_homens_livres_quinquenios_brancos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Brancos')]
soma_homens_livres_quinquenios_pardos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Pardos')]
soma_homens_livres_quinquenios_pretos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Pretos')]
soma_homens_livres_quinquenios_caboclos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_quinquenios_pardos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravos') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_quinquenios_pretos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravos') & (quinquenios[('', 'Sexos')] == 'Homens') & (quinquenios[('', 'Raças')] == 'Pretos')]
soma_homens_livres_quinquenios = soma_homens_livres_quinquenios_brancos[colunas_quinquenios].sum() + soma_homens_livres_quinquenios_pardos[colunas_quinquenios].sum() + soma_homens_livres_quinquenios_pretos[colunas_quinquenios].sum() + soma_homens_livres_quinquenios_caboclos[colunas_quinquenios].sum()
soma_homens_escravos_quinquenios = soma_homens_escravos_quinquenios_pardos[colunas_quinquenios].sum() + soma_homens_escravos_quinquenios_pretos[colunas_quinquenios].sum()

soma_homens_livres_quinquenios_brancos = soma_homens_livres_quinquenios_brancos[colunas_quinquenios].sum()
soma_homens_livres_quinquenios_pardos = soma_homens_livres_quinquenios_pardos[colunas_quinquenios].sum()
soma_homens_livres_quinquenios_pretos = soma_homens_livres_quinquenios_pretos[colunas_quinquenios].sum()
soma_homens_livres_quinquenios_caboclos = soma_homens_livres_quinquenios_caboclos[colunas_quinquenios].sum()
soma_homens_escravos_quinquenios_pardos = soma_homens_escravos_quinquenios_pardos[colunas_quinquenios].sum()
soma_homens_escravos_quinquenios_pretos = soma_homens_escravos_quinquenios_pretos[colunas_quinquenios].sum()

soma_homens_quinquenios = soma_homens_livres_quinquenios + soma_homens_escravos_quinquenios
print(soma_homens_quinquenios)
print("Total de quinquênios homens livres brancos: " + str(soma_homens_livres_quinquenios_brancos[colunas_quinquenios].sum()))
print("Total de quinquênios homens livres pardos: " + str(soma_homens_livres_quinquenios_pardos[colunas_quinquenios].sum()))
print("Total de quinquênios homens livres pretos: " + str(soma_homens_livres_quinquenios_pretos[colunas_quinquenios].sum()))
print("Total de quinquênios homens livres caboclos: " + str(soma_homens_livres_quinquenios_caboclos[colunas_quinquenios].sum()))
print("Total de quinquênios homens escravos pardos: " + str(soma_homens_escravos_quinquenios_pardos[colunas_quinquenios].sum()))
print("Total de quinquênios homens escravos pretos: " + str(soma_homens_escravos_quinquenios_pretos[colunas_quinquenios].sum()))
print("Total de homens quinquênios livres: " + str(soma_homens_livres_quinquenios[colunas_quinquenios].sum()))
print("Total de homens quinquênios escravos: " + str(soma_homens_escravos_quinquenios[colunas_quinquenios].sum()))
print("Total de homens quinquênios: " + str(soma_homens_quinquenios[colunas_quinquenios].sum()))

Quinquênios  6 a 10     1383
             11 a 15    1264
             16 a 20    1205
             21 a 25    1182
             26 a 30    1375
dtype: int64
Total de quinquênios homens livres brancos: 3002
Total de quinquênios homens livres pardos: 2406
Total de quinquênios homens livres pretos: 263
Total de quinquênios homens livres caboclos: 398
Total de quinquênios homens escravos pardos: 212
Total de quinquênios homens escravos pretos: 128
Total de homens quinquênios livres: 6069
Total de homens quinquênios escravos: 340
Total de homens quinquênios: 6409

In [30]:
soma_mulheres_livres_quinquenios_brancas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_quinquenios_pardas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_quinquenios_pretas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_quinquenios_caboclas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_quinquenios_pardas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravas') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_quinquenios_pretas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravas') & (quinquenios[('', 'Sexos')] == 'Mulheres') & (quinquenios[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_quinquenios = soma_mulheres_livres_quinquenios_brancas[colunas_quinquenios].sum() + soma_mulheres_livres_quinquenios_pardas[colunas_quinquenios].sum() + soma_mulheres_livres_quinquenios_pretas[colunas_quinquenios].sum() + soma_mulheres_livres_quinquenios_caboclas[colunas_quinquenios].sum()
soma_mulheres_escravas_quinquenios = soma_mulheres_escravas_quinquenios_pardas[colunas_quinquenios].sum() + soma_mulheres_escravas_quinquenios_pretas[colunas_quinquenios].sum()

soma_mulheres_livres_quinquenios_brancas = soma_mulheres_livres_quinquenios_brancas[colunas_quinquenios].sum()
soma_mulheres_livres_quinquenios_pardas = soma_mulheres_livres_quinquenios_pardas[colunas_quinquenios].sum()
soma_mulheres_livres_quinquenios_pretas = soma_mulheres_livres_quinquenios_pretas[colunas_quinquenios].sum()
soma_mulheres_livres_quinquenios_caboclas = soma_mulheres_livres_quinquenios_caboclas[colunas_quinquenios].sum()
soma_mulheres_escravas_quinquenios_pardas = soma_mulheres_escravas_quinquenios_pardas[colunas_quinquenios].sum()
soma_mulheres_escravas_quinquenios_pretas = soma_mulheres_escravas_quinquenios_pretas[colunas_quinquenios].sum()

soma_mulheres_quinquenios = soma_mulheres_livres_quinquenios + soma_mulheres_escravas_quinquenios
print(soma_mulheres_quinquenios)
print("Total de quinquênios mulheres livres brancas: " + str(soma_mulheres_livres_quinquenios_brancas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres livres pardas: " + str(soma_mulheres_livres_quinquenios_pardas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres livres pretas: " + str(soma_mulheres_livres_quinquenios_pretas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres livres caboclas: " + str(soma_mulheres_livres_quinquenios_caboclas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres escravas pardas: " + str(soma_mulheres_escravas_quinquenios_pardas[colunas_quinquenios].sum()))
print("Total de quinquênios mulheres escravas pretas: " + str(soma_mulheres_escravas_quinquenios_pretas[colunas_quinquenios].sum()))
print("Total de mulheres quinquênios livres: " + str(soma_mulheres_livres_quinquenios[colunas_quinquenios].sum()))
print("Total de mulheres quinquênios escravas: " + str(soma_mulheres_escravas_quinquenios[colunas_quinquenios].sum()))
print("Total de mulheres quinquênios: " + str(soma_mulheres_quinquenios[colunas_quinquenios].sum()))

Quinquênios  6 a 10     1368
             11 a 15    1234
             16 a 20    1277
             21 a 25    1232
             26 a 30    1169
dtype: int64
Total de quinquênios mulheres livres brancas: 2551
Total de quinquênios mulheres livres pardas: 2799
Total de quinquênios mulheres livres pretas: 219
Total de quinquênios mulheres livres caboclas: 266
Total de quinquênios mulheres escravas pardas: 262
Total de quinquênios mulheres escravas pretas: 183
Total de mulheres quinquênios livres: 5835
Total de mulheres quinquênios escravas: 445
Total de mulheres quinquênios: 6280

In [31]:
soma_total_quinquenios = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Soma geral') & (quinquenios[('', 'Raças')] == 'Total')]
soma_total_quinquenios = soma_total_quinquenios[colunas_quinquenios].sum()
soma_total_quinquenios = int(soma_total_quinquenios.sum())

soma_homens_quinquenios = int(soma_homens_quinquenios.sum())
soma_mulheres_quinquenios = int(soma_mulheres_quinquenios.sum())

print("Soma de homens e mulheres quinquênios: " + str(soma_homens_quinquenios + soma_mulheres_quinquenios))
print("Total de homens e mulheres quinquênios: " + str(soma_total_quinquenios))

if soma_total_quinquenios == soma_homens_quinquenios + soma_mulheres_quinquenios:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_quinquenios))
    print("Total da soma efetuada: " + str(soma_homens_quinquenios + soma_mulheres_quinquenios))

Soma de homens e mulheres quinquênios: 12689
Total de homens e mulheres quinquênios: 12722
***Divergência de valores na tabela***
Total do valor digitado: 12722
Total da soma efetuada: 12689

In [32]:
# colunas_quinquenios = [('Quinquênios', '6 a 10'), ('Quinquênios', '11 a 15'), ('Quinquênios', '16 a 20'), ('Quinquênios', '21 a 25'), ('Quinquênios', '26 a 30')]
# quinquenios[colunas_quinquenios] = quinquenios[colunas_quinquenios].apply(pd.to_numeric)

# homens_livres = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Homens')]
# homens_escravos = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravos') & (quinquenios[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_quinquenios].sum() + homens_escravos[colunas_quinquenios].sum()

# soma_homens

In [33]:
# mulheres_livres = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Livres') & (quinquenios[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = quinquenios.loc[(quinquenios[('', 'Condições')] == 'Escravas') & (quinquenios[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_quinquenios].sum() + mulheres_escravas[colunas_quinquenios].sum()

# soma_mulheres

In [34]:
# total = soma_homens + soma_mulheres
# total

# População entre 31 e 100 anos

In [35]:
decenios = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30']]
decenios.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,Decênios,NaN,NaN,NaN,NaN,NaN,NaN
1,Sexos,Condições,Raças,31 a 40,41 a 50,51 a 60,61 a 70,71 a 80,81 a 90,91 a 100
2,Homens,Livres,Brancos,649,333,169,83,27,2,1
3,NaN,NaN,Pardos,649,355,163,108,21,12,3
4,NaN,NaN,Pretos,60,40,16,12,5,1,1

In [36]:
decenios_header = decenios.iloc[1]
decenios.columns = decenios_header
decenios = decenios[2:]
decenios.head()

1,Sexos,Condições,Raças,31 a 40,41 a 50,51 a 60,61 a 70,71 a 80,81 a 90,91 a 100
2,Homens,Livres,Brancos,649,333,169,83,27,2,1
3,NaN,NaN,Pardos,649,355,163,108,21,12,3
4,NaN,NaN,Pretos,60,40,16,12,5,1,1
5,NaN,NaN,Caboclos,67,43,17,14,12,2,0
6,NaN,Escravos,Pardos,28,27,11,8,0,0,0

In [37]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Decênios', '31 a 40'),
    ('Decênios', '41 a 50'),
    ('Decênios', '51 a 60'),
    ('Decênios', '61 a 70'),
    ('Decênios', '71 a 80'),
    ('Decênios', '81 a 90'),
    ('Decênios', '91 a 100')
])

decenios.columns = columns_multiindex

decenios

                                   Decênios                                  \
       Sexos   Condições     Raças  31 a 40 41 a 50 51 a 60 61 a 70 71 a 80
2     Homens      Livres   Brancos      649     333     169      83      27
3        NaN         NaN    Pardos      649     355     163     108      21
4        NaN         NaN    Pretos       60      40      16      12       5
5        NaN         NaN  Caboclos       67      43      17      14      12
6        NaN    Escravos    Pardos       28      27      11       8       0
7        NaN         NaN    Pretos       27       9       6       4       0
8   Mulheres      Livres   Brancas      477     350     187      79      35
9        NaN         NaN    Pardas      525     301     165      99      36
10       NaN         NaN    Pretas       41      60      22      16      11
11       NaN         NaN  Caboclas       57      29       8      10       5
12       NaN    Escravas    Pardas       32      23       7       3       0
13       NaN         NaN    Pretas       22       8       3       1       0
14       NaN  Soma geral       NaN     2634    1578     774     437     152


   81 a 90 91 a 100
2        2        1
3       12        3
4        1        1
5        2        0
6        0        0
7        0        0
8       13        3
9       10        4
10       5        0
11       5        2
12       0        0
13       0        0
14      50       14

In [38]:
decenios[('', 'Sexos')] = decenios[('', 'Sexos')].ffill()

decenios[('', 'Condições')] = decenios[('', 'Condições')].ffill()

decenios.loc[14, ('', 'Raças')] = 'Total'
decenios

                                   Decênios                                  \
       Sexos   Condições     Raças  31 a 40 41 a 50 51 a 60 61 a 70 71 a 80
2     Homens      Livres   Brancos      649     333     169      83      27
3     Homens      Livres    Pardos      649     355     163     108      21
4     Homens      Livres    Pretos       60      40      16      12       5
5     Homens      Livres  Caboclos       67      43      17      14      12
6     Homens    Escravos    Pardos       28      27      11       8       0
7     Homens    Escravos    Pretos       27       9       6       4       0
8   Mulheres      Livres   Brancas      477     350     187      79      35
9   Mulheres      Livres    Pardas      525     301     165      99      36
10  Mulheres      Livres    Pretas       41      60      22      16      11
11  Mulheres      Livres  Caboclas       57      29       8      10       5
12  Mulheres    Escravas    Pardas       32      23       7       3       0
13  Mulheres    Escravas    Pretas       22       8       3       1       0
14  Mulheres  Soma geral     Total     2634    1578     774     437     152


   81 a 90 91 a 100
2        2        1
3       12        3
4        1        1
5        2        0
6        0        0
7        0        0
8       13        3
9       10        4
10       5        0
11       5        2
12       0        0
13       0        0
14      50       14

In [39]:
colunas_decenios = [('Decênios', '31 a 40'),
    ('Decênios', '41 a 50'),
    ('Decênios', '51 a 60'),
    ('Decênios', '61 a 70'),
    ('Decênios', '71 a 80'),
    ('Decênios', '81 a 90'),
    ('Decênios', '91 a 100')]
decenios[colunas_decenios] = decenios[colunas_decenios].apply(pd.to_numeric)

soma_homens_livres_decenios_brancos = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Brancos')]
soma_homens_livres_decenios_pardos = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Pardos')]
soma_homens_livres_decenios_pretos = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Pretos')]
soma_homens_livres_decenios_caboclos = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_decenios_pardos = decenios.loc[(decenios[('', 'Condições')] == 'Escravos') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_decenios_pretos = decenios.loc[(decenios[('', 'Condições')] == 'Escravos') & (decenios[('', 'Sexos')] == 'Homens') & (decenios[('', 'Raças')] == 'Pretos')]
soma_homens_livres_decenios = soma_homens_livres_decenios_brancos[colunas_decenios].sum() + soma_homens_livres_decenios_pardos[colunas_decenios].sum() + soma_homens_livres_decenios_pretos[colunas_decenios].sum() + soma_homens_livres_decenios_caboclos[colunas_decenios].sum()
soma_homens_escravos_decenios = soma_homens_escravos_decenios_pardos[colunas_decenios].sum() + soma_homens_escravos_decenios_pretos[colunas_decenios].sum()

soma_homens_livres_decenios_brancos = soma_homens_livres_decenios_brancos[colunas_decenios].sum()
soma_homens_livres_decenios_pardos = soma_homens_livres_decenios_pardos[colunas_decenios].sum()
soma_homens_livres_decenios_pretos = soma_homens_livres_decenios_pretos[colunas_decenios].sum()
soma_homens_livres_decenios_caboclos = soma_homens_livres_decenios_caboclos[colunas_decenios].sum()
soma_homens_escravos_decenios_pardos = soma_homens_escravos_decenios_pardos[colunas_decenios].sum()
soma_homens_escravos_decenios_pretos = soma_homens_escravos_decenios_pretos[colunas_decenios].sum()

soma_homens_decenios = soma_homens_livres_decenios + soma_homens_escravos_decenios
print(soma_homens_decenios)
print("Total de decênios homens livres brancos: " + str(soma_homens_livres_decenios_brancos[colunas_decenios].sum()))
print("Total de decênios homens livres pardos: " + str(soma_homens_livres_decenios_pardos[colunas_decenios].sum()))
print("Total de decênios homens livres pretos: " + str(soma_homens_livres_decenios_pretos[colunas_decenios].sum()))
print("Total de decênios homens livres caboclos: " + str(soma_homens_livres_decenios_caboclos[colunas_decenios].sum()))
print("Total de decênios homens escravos pardos: " + str(soma_homens_escravos_decenios_pardos[colunas_decenios].sum()))
print("Total de decênios homens escravos pretos: " + str(soma_homens_escravos_decenios_pretos[colunas_decenios].sum()))
print("Total de homens decênios livres: " + str(soma_homens_livres_decenios[colunas_decenios].sum()))
print("Total de homens decênios escravos: " + str(soma_homens_escravos_decenios[colunas_decenios].sum()))
print("Total de homens decênios: " + str(soma_homens_decenios[colunas_decenios].sum()))

Decênios  31 a 40     1480
          41 a 50      807
          51 a 60      382
          61 a 70      229
          71 a 80       65
          81 a 90       17
          91 a 100       5
dtype: int64
Total de decênios homens livres brancos: 1264
Total de decênios homens livres pardos: 1311
Total de decênios homens livres pretos: 135
Total de decênios homens livres caboclos: 155
Total de decênios homens escravos pardos: 74
Total de decênios homens escravos pretos: 46
Total de homens decênios livres: 2865
Total de homens decênios escravos: 120
Total de homens decênios: 2985

In [40]:
soma_mulheres_livres_decenios_brancas = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_decenios_pardas = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_decenios_pretas = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_decenios_caboclas = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_decenios_pardas = decenios.loc[(decenios[('', 'Condições')] == 'Escravas') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_decenios_pretas = decenios.loc[(decenios[('', 'Condições')] == 'Escravas') & (decenios[('', 'Sexos')] == 'Mulheres') & (decenios[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_decenios = soma_mulheres_livres_decenios_brancas[colunas_decenios].sum() + soma_mulheres_livres_decenios_pardas[colunas_decenios].sum() + soma_mulheres_livres_decenios_pretas[colunas_decenios].sum() + soma_mulheres_livres_decenios_caboclas[colunas_decenios].sum()
soma_mulheres_escravas_decenios = soma_mulheres_escravas_decenios_pardas[colunas_decenios].sum() + soma_mulheres_escravas_decenios_pretas[colunas_decenios].sum()

soma_mulheres_livres_decenios_brancas = soma_mulheres_livres_decenios_brancas[colunas_decenios].sum()
soma_mulheres_livres_decenios_pardas = soma_mulheres_livres_decenios_pardas[colunas_decenios].sum()
soma_mulheres_livres_decenios_pretas = soma_mulheres_livres_decenios_pretas[colunas_decenios].sum()
soma_mulheres_livres_decenios_caboclas = soma_mulheres_livres_decenios_caboclas[colunas_decenios].sum()
soma_mulheres_escravas_decenios_pardas = soma_mulheres_escravas_decenios_pardas[colunas_decenios].sum()
soma_mulheres_escravas_decenios_pretas = soma_mulheres_escravas_decenios_pretas[colunas_decenios].sum()

soma_mulheres_decenios = soma_mulheres_livres_decenios + soma_mulheres_escravas_decenios
print(soma_mulheres_decenios)
print("Total de decênios mulheres livres brancas: " + str(soma_mulheres_livres_decenios_brancas[colunas_decenios].sum()))
print("Total de decênios mulheres livres pardas: " + str(soma_mulheres_livres_decenios_pardas[colunas_decenios].sum()))
print("Total de decênios mulheres livres pretas: " + str(soma_mulheres_livres_decenios_pretas[colunas_decenios].sum()))
print("Total de decênios mulheres livres caboclas: " + str(soma_mulheres_livres_decenios_caboclas[colunas_decenios].sum()))
print("Total de decênios mulheres escravas pardas: " + str(soma_mulheres_escravas_decenios_pardas[colunas_decenios].sum()))
print("Total de decênios mulheres escravas pretas: " + str(soma_mulheres_escravas_decenios_pretas[colunas_decenios].sum()))
print("Total de mulheres decênios livres: " + str(soma_mulheres_livres_decenios[colunas_decenios].sum()))
print("Total de mulheres decênios escravas: " + str(soma_mulheres_escravas_decenios[colunas_decenios].sum()))
print("Total de mulheres decênios: " + str(soma_mulheres_decenios[colunas_decenios].sum()))

Decênios  31 a 40     1154
          41 a 50      771
          51 a 60      392
          61 a 70      208
          71 a 80       87
          81 a 90       33
          91 a 100       9
dtype: int64
Total de decênios mulheres livres brancas: 1144
Total de decênios mulheres livres pardas: 1140
Total de decênios mulheres livres pretas: 155
Total de decênios mulheres livres caboclas: 116
Total de decênios mulheres escravas pardas: 65
Total de decênios mulheres escravas pretas: 34
Total de mulheres decênios livres: 2555
Total de mulheres decênios escravas: 99
Total de mulheres decênios: 2654

In [41]:
soma_total_decenios = decenios.loc[(decenios[('', 'Condições')] == 'Soma geral') & (decenios[('', 'Raças')] == 'Total')]
soma_total_decenios = soma_total_decenios[colunas_decenios].sum()
soma_total_decenios = int(soma_total_decenios.sum())

soma_homens_decenios = int(soma_homens_decenios.sum())
soma_mulheres_decenios = int(soma_mulheres_decenios.sum())

print("Soma de homens e mulheres decênios: " + str(soma_homens_decenios + soma_mulheres_decenios))
print("Total de homens e mulheres decênios: " + str(soma_total_decenios))

if soma_total_decenios == soma_homens_decenios + soma_mulheres_decenios:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_decenios))
    print("Total da soma efetuada: " + str(soma_homens_decenios + soma_mulheres_decenios))

Soma de homens e mulheres decênios: 5639
Total de homens e mulheres decênios: 5639
OK

In [42]:
# colunas_decenios = [('Decênios', '31 a 40'),
#     ('Decênios', '41 a 50'),
#     ('Decênios', '51 a 60'),
#     ('Decênios', '61 a 70'),
#     ('Decênios', '71 a 80'),
#     ('Decênios', '81 a 90'),
#     ('Decênios', '91 a 100')]
# decenios[colunas_decenios] = decenios[colunas_decenios].apply(pd.to_numeric)

# homens_livres = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Homens')]
# homens_escravos = decenios.loc[(decenios[('', 'Condições')] == 'Escravos') & (decenios[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_decenios].sum() + homens_escravos[colunas_decenios].sum()

# soma_homens

In [43]:
# mulheres_livres = decenios.loc[(decenios[('', 'Condições')] == 'Livres') & (decenios[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = decenios.loc[(decenios[('', 'Condições')] == 'Escravas') & (decenios[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_decenios].sum() + mulheres_escravas[colunas_decenios].sum()

# soma_mulheres

In [44]:
# total = soma_homens + soma_mulheres
# total

# População maior que 100 anos

In [45]:
maiores = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 31']]
maiores.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2     Unnamed: 31
0        NaN        NaN        NaN             NaN
1      Sexos  Condições      Raças  Maiores de 100
2     Homens     Livres    Brancos              13
3        NaN        NaN     Pardos              22
4        NaN        NaN     Pretos               0

In [46]:
maiores_header = maiores.iloc[1]
maiores.columns = maiores_header
maiores = maiores[2:]
maiores.head()

1   Sexos Condições     Raças Maiores de 100
2  Homens    Livres   Brancos             13
3     NaN       NaN    Pardos             22
4     NaN       NaN    Pretos              0
5     NaN       NaN  Caboclos              1
6     NaN  Escravos    Pardos              0

In [47]:
maiores['Sexos'] = maiores['Sexos'].ffill()

maiores['Condições'] = maiores['Condições'].ffill()

maiores.loc[14, 'Raças'] = 'Total'
maiores

1      Sexos   Condições     Raças Maiores de 100
2     Homens      Livres   Brancos             13
3     Homens      Livres    Pardos             22
4     Homens      Livres    Pretos              0
5     Homens      Livres  Caboclos              1
6     Homens    Escravos    Pardos              0
7     Homens    Escravos    Pretos              0
8   Mulheres      Livres   Brancas              7
9   Mulheres      Livres    Pardas              2
10  Mulheres      Livres    Pretas              2
11  Mulheres      Livres  Caboclas              0
12  Mulheres    Escravas    Pardas              0
13  Mulheres    Escravas    Pretas              0
14  Mulheres  Soma geral     Total             47

In [48]:
colunas_maiores = ['Maiores de 100']
maiores[colunas_maiores] = maiores[colunas_maiores].apply(pd.to_numeric)

soma_homens_livres_maiores_brancos = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Brancos')]
soma_homens_livres_maiores_pardos = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Pardos')]
soma_homens_livres_maiores_pretos = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Pretos')]
soma_homens_livres_maiores_caboclos = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Caboclos')]
soma_homens_escravos_maiores_pardos = maiores.loc[(maiores['Condições'] == 'Escravos') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Pardos')]
soma_homens_escravos_maiores_pretos = maiores.loc[(maiores['Condições'] == 'Escravos') & (maiores['Sexos'] == 'Homens') & (maiores['Raças'] == 'Pretos')]
soma_homens_livres_maiores = soma_homens_livres_maiores_brancos[colunas_maiores].sum() + soma_homens_livres_maiores_pardos[colunas_maiores].sum() + soma_homens_livres_maiores_pretos[colunas_maiores].sum() + soma_homens_livres_maiores_caboclos[colunas_maiores].sum()
soma_homens_escravos_maiores = soma_homens_escravos_maiores_pardos[colunas_maiores].sum() + soma_homens_escravos_maiores_pretos[colunas_maiores].sum()

soma_homens_livres_maiores_brancos = soma_homens_livres_maiores_brancos[colunas_maiores].sum()
soma_homens_livres_maiores_pardos = soma_homens_livres_maiores_pardos[colunas_maiores].sum()
soma_homens_livres_maiores_pretos = soma_homens_livres_maiores_pretos[colunas_maiores].sum()
soma_homens_livres_maiores_caboclos = soma_homens_livres_maiores_caboclos[colunas_maiores].sum()
soma_homens_escravos_maiores_pardos = soma_homens_escravos_maiores_pardos[colunas_maiores].sum()
soma_homens_escravos_maiores_pretos = soma_homens_escravos_maiores_pretos[colunas_maiores].sum()

soma_homens_maiores = soma_homens_livres_maiores + soma_homens_escravos_maiores
print(soma_homens_maiores)
print("Total de maiores de 100 anos homens livres brancos: " + str(soma_homens_livres_maiores_brancos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens livres pardos: " + str(soma_homens_livres_maiores_pardos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens livres pretos: " + str(soma_homens_livres_maiores_pretos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens livres caboclos: " + str(soma_homens_livres_maiores_caboclos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens escravos pardos: " + str(soma_homens_escravos_maiores_pardos[colunas_maiores].sum()))
print("Total de maiores de 100 anos homens escravos pretos: " + str(soma_homens_escravos_maiores_pretos[colunas_maiores].sum()))
print("Total de homens maiores de 100 anos livres: " + str(soma_homens_livres_maiores[colunas_maiores].sum()))
print("Total de homens maiores de 100 anos escravos: " + str(soma_homens_escravos_maiores[colunas_maiores].sum()))
print("Total de homens maiores de 100 anos: " + str(soma_homens_maiores[colunas_maiores].sum()))

1
Maiores de 100    36
dtype: int64
Total de maiores de 100 anos homens livres brancos: 13
Total de maiores de 100 anos homens livres pardos: 22
Total de maiores de 100 anos homens livres pretos: 0
Total de maiores de 100 anos homens livres caboclos: 1
Total de maiores de 100 anos homens escravos pardos: 0
Total de maiores de 100 anos homens escravos pretos: 0
Total de homens maiores de 100 anos livres: 36
Total de homens maiores de 100 anos escravos: 0
Total de homens maiores de 100 anos: 36

In [49]:
soma_mulheres_livres_maiores_brancas = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Brancas')]
soma_mulheres_livres_maiores_pardas = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Pardas')]
soma_mulheres_livres_maiores_pretas = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Pretas')]
soma_mulheres_livres_maiores_caboclas = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Caboclas')]
soma_mulheres_escravas_maiores_pardas = maiores.loc[(maiores['Condições'] == 'Escravas') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Pardas')]
soma_mulheres_escravas_maiores_pretas = maiores.loc[(maiores['Condições'] == 'Escravas') & (maiores['Sexos'] == 'Mulheres') & (maiores['Raças'] == 'Pretas')]
soma_mulheres_livres_maiores = soma_mulheres_livres_maiores_brancas[colunas_maiores].sum() + soma_mulheres_livres_maiores_pardas[colunas_maiores].sum() + soma_mulheres_livres_maiores_pretas[colunas_maiores].sum() + soma_mulheres_livres_maiores_caboclas[colunas_maiores].sum()
soma_mulheres_escravas_maiores = soma_mulheres_escravas_maiores_pardas[colunas_maiores].sum() + soma_mulheres_escravas_maiores_pretas[colunas_maiores].sum()

soma_mulheres_livres_maiores_brancas = soma_mulheres_livres_maiores_brancas[colunas_maiores].sum()
soma_mulheres_livres_maiores_pardas = soma_mulheres_livres_maiores_pardas[colunas_maiores].sum()
soma_mulheres_livres_maiores_pretas = soma_mulheres_livres_maiores_pretas[colunas_maiores].sum()
soma_mulheres_livres_maiores_caboclas = soma_mulheres_livres_maiores_caboclas[colunas_maiores].sum()
soma_mulheres_escravas_maiores_pardas = soma_mulheres_escravas_maiores_pardas[colunas_maiores].sum()
soma_mulheres_escravas_maiores_pretas = soma_mulheres_escravas_maiores_pretas[colunas_maiores].sum()

soma_mulheres_maiores = soma_mulheres_livres_maiores + soma_mulheres_escravas_maiores
print(soma_mulheres_maiores)
print("Total de maiores de 100 anos mulheres livres brancas: " + str(soma_mulheres_livres_maiores_brancas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres livres pardas: " + str(soma_mulheres_livres_maiores_pardas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres livres pretas: " + str(soma_mulheres_livres_maiores_pretas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres livres caboclas: " + str(soma_mulheres_livres_maiores_caboclas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres escravas pardas: " + str(soma_mulheres_escravas_maiores_pardas[colunas_maiores].sum()))
print("Total de maiores de 100 anos mulheres escravas pretas: " + str(soma_mulheres_escravas_maiores_pretas[colunas_maiores].sum()))
print("Total de mulheres maiores de 100 anos livres: " + str(soma_mulheres_livres_maiores[colunas_maiores].sum()))
print("Total de mulheres maiores de 100 anos escravas: " + str(soma_mulheres_escravas_maiores[colunas_maiores].sum()))
print("Total de mulheres maiores de 100 anos: " + str(soma_mulheres_maiores[colunas_maiores].sum()))

1
Maiores de 100    11
dtype: int64
Total de maiores de 100 anos mulheres livres brancas: 7
Total de maiores de 100 anos mulheres livres pardas: 2
Total de maiores de 100 anos mulheres livres pretas: 2
Total de maiores de 100 anos mulheres livres caboclas: 0
Total de maiores de 100 anos mulheres escravas pardas: 0
Total de maiores de 100 anos mulheres escravas pretas: 0
Total de mulheres maiores de 100 anos livres: 11
Total de mulheres maiores de 100 anos escravas: 0
Total de mulheres maiores de 100 anos: 11

In [50]:
soma_total_maiores = maiores.loc[(maiores['Condições'] == 'Soma geral') & (maiores['Raças'] == 'Total')]
soma_total_maiores = soma_total_maiores[colunas_maiores].sum()
soma_total_maiores = int(soma_total_maiores.sum())

soma_homens_maiores = int(soma_homens_maiores.sum())
soma_mulheres_maiores = int(soma_mulheres_maiores.sum())

print("Soma de homens e mulheres maiores de 100 anos: " + str(soma_homens_maiores + soma_mulheres_maiores))
print("Total de homens e mulheres maiores de 100 anos: " + str(soma_total_maiores))

if soma_total_maiores == soma_homens_maiores + soma_mulheres_maiores:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_maiores))
    print("Total da soma efetuada: " + str(soma_homens_maiores + soma_mulheres_maiores))

Soma de homens e mulheres maiores de 100 anos: 47
Total de homens e mulheres maiores de 100 anos: 47
OK

In [51]:
# colunas_maiores = ['Maiores de 100']
# maiores[colunas_maiores] = maiores[colunas_maiores].apply(pd.to_numeric)

# homens_livres = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Homens')]
# homens_escravos = maiores.loc[(maiores['Condições'] == 'Escravos') & (maiores['Sexos'] == 'Homens')]

# soma_homens = homens_livres[colunas_maiores].sum() + homens_escravos[colunas_maiores].sum()

# soma_homens

In [52]:
# mulheres_livres = maiores.loc[(maiores['Condições'] == 'Livres') & (maiores['Sexos'] == 'Mulheres')]
# mulheres_escravas = maiores.loc[(maiores['Condições'] == 'Escravas') & (maiores['Sexos'] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_maiores].sum() + mulheres_escravas[colunas_maiores].sum()

# soma_mulheres

In [53]:
# total = soma_homens + soma_mulheres
# total

# População com idade indeterminada

In [54]:
indeterminados = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 32']]
indeterminados.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2       Unnamed: 32
0        NaN        NaN        NaN               NaN
1      Sexos  Condições      Raças  Não determinadas
2     Homens     Livres    Brancos                 0
3        NaN        NaN     Pardos                 0
4        NaN        NaN     Pretos                 0

In [55]:
indeterminados_header = indeterminados.iloc[1]
indeterminados.columns = indeterminados_header
indeterminados = indeterminados[2:]
indeterminados.head()

1   Sexos Condições     Raças Não determinadas
2  Homens    Livres   Brancos                0
3     NaN       NaN    Pardos                0
4     NaN       NaN    Pretos                0
5     NaN       NaN  Caboclos                0
6     NaN  Escravos    Pardos                0

In [56]:
indeterminados['Sexos'] = indeterminados['Sexos'].ffill()

indeterminados['Condições'] = indeterminados['Condições'].ffill()

indeterminados.loc[14, 'Raças'] = 'Total'
indeterminados

1      Sexos   Condições     Raças Não determinadas
2     Homens      Livres   Brancos                0
3     Homens      Livres    Pardos                0
4     Homens      Livres    Pretos                0
5     Homens      Livres  Caboclos                0
6     Homens    Escravos    Pardos                0
7     Homens    Escravos    Pretos                0
8   Mulheres      Livres   Brancas                0
9   Mulheres      Livres    Pardas                0
10  Mulheres      Livres    Pretas                0
11  Mulheres      Livres  Caboclas                0
12  Mulheres    Escravas    Pardas                0
13  Mulheres    Escravas    Pretas                0
14  Mulheres  Soma geral     Total                0

In [57]:
colunas_indeterminados = ['Não determinadas']
indeterminados[colunas_indeterminados] = indeterminados[colunas_indeterminados].apply(pd.to_numeric)

soma_homens_livres_indeterminados_brancos = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Brancos')]
soma_homens_livres_indeterminados_pardos = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Pardos')]
soma_homens_livres_indeterminados_pretos = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Pretos')]
soma_homens_livres_indeterminados_caboclos = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Caboclos')]
soma_homens_escravos_indeterminados_pardos = indeterminados.loc[(indeterminados['Condições'] == 'Escravos') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Pardos')]
soma_homens_escravos_indeterminados_pretos = indeterminados.loc[(indeterminados['Condições'] == 'Escravos') & (indeterminados['Sexos'] == 'Homens') & (indeterminados['Raças'] == 'Pretos')]
soma_homens_livres_indeterminados = soma_homens_livres_indeterminados_brancos[colunas_indeterminados].sum() + soma_homens_livres_indeterminados_pardos[colunas_indeterminados].sum() + soma_homens_livres_indeterminados_pretos[colunas_indeterminados].sum() + soma_homens_livres_indeterminados_caboclos[colunas_indeterminados].sum()
soma_homens_escravos_indeterminados = soma_homens_escravos_indeterminados_pardos[colunas_indeterminados].sum() + soma_homens_escravos_indeterminados_pretos[colunas_indeterminados].sum()

soma_homens_livres_indeterminados_brancos = soma_homens_livres_indeterminados_brancos[colunas_indeterminados].sum()
soma_homens_livres_indeterminados_pardos = soma_homens_livres_indeterminados_pardos[colunas_indeterminados].sum()
soma_homens_livres_indeterminados_pretos = soma_homens_livres_indeterminados_pretos[colunas_indeterminados].sum()
soma_homens_livres_indeterminados_caboclos = soma_homens_livres_indeterminados_caboclos[colunas_indeterminados].sum()
soma_homens_escravos_indeterminados_pardos = soma_homens_escravos_indeterminados_pardos[colunas_indeterminados].sum()
soma_homens_escravos_indeterminados_pretos = soma_homens_escravos_indeterminados_pretos[colunas_indeterminados].sum()

soma_homens_indeterminados = soma_homens_livres_indeterminados + soma_homens_escravos_indeterminados
print(soma_homens_indeterminados)
print("Total de indeterminados homens livres brancos: " + str(soma_homens_livres_indeterminados_brancos[colunas_indeterminados].sum()))
print("Total de indeterminados homens livres pardos: " + str(soma_homens_livres_indeterminados_pardos[colunas_indeterminados].sum()))
print("Total de indeterminados homens livres pretos: " + str(soma_homens_livres_indeterminados_pretos[colunas_indeterminados].sum()))
print("Total de indeterminados homens livres caboclos: " + str(soma_homens_livres_indeterminados_caboclos[colunas_indeterminados].sum()))
print("Total de indeterminados homens escravos pardos: " + str(soma_homens_escravos_indeterminados_pardos[colunas_indeterminados].sum()))
print("Total de indeterminados homens escravos pretos: " + str(soma_homens_escravos_indeterminados_pretos[colunas_indeterminados].sum()))
print("Total de homens indeterminados livres: " + str(soma_homens_livres_indeterminados[colunas_indeterminados].sum()))
print("Total de homens indeterminados escravos: " + str(soma_homens_escravos_indeterminados[colunas_indeterminados].sum()))
print("Total de homens indeterminados: " + str(soma_homens_indeterminados[colunas_indeterminados].sum()))

1
Não determinadas    0
dtype: int64
Total de indeterminados homens livres brancos: 0
Total de indeterminados homens livres pardos: 0
Total de indeterminados homens livres pretos: 0
Total de indeterminados homens livres caboclos: 0
Total de indeterminados homens escravos pardos: 0
Total de indeterminados homens escravos pretos: 0
Total de homens indeterminados livres: 0
Total de homens indeterminados escravos: 0
Total de homens indeterminados: 0

In [58]:
soma_mulheres_livres_indeterminadas_brancas = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Brancas')]
soma_mulheres_livres_indeterminadas_pardas = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Pardas')]
soma_mulheres_livres_indeterminadas_pretas = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Pretas')]
soma_mulheres_livres_indeterminadas_caboclas = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Caboclas')]
soma_mulheres_escravas_indeterminadas_pardas = indeterminados.loc[(indeterminados['Condições'] == 'Escravas') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Pardas')]
soma_mulheres_escravas_indeterminadas_pretas = indeterminados.loc[(indeterminados['Condições'] == 'Escravas') & (indeterminados['Sexos'] == 'Mulheres') & (indeterminados['Raças'] == 'Pretas')]
soma_mulheres_livres_indeterminadas = soma_mulheres_livres_indeterminadas_brancas[colunas_indeterminados].sum() + soma_mulheres_livres_indeterminadas_pardas[colunas_indeterminados].sum() + soma_mulheres_livres_indeterminadas_pretas[colunas_indeterminados].sum() + soma_mulheres_livres_indeterminadas_caboclas[colunas_indeterminados].sum()
soma_mulheres_escravas_indeterminadas = soma_mulheres_escravas_indeterminadas_pardas[colunas_indeterminados].sum() + soma_mulheres_escravas_indeterminadas_pretas[colunas_indeterminados].sum()

soma_mulheres_livres_indeterminadas_brancas = soma_mulheres_livres_indeterminadas_brancas[colunas_indeterminados].sum()
soma_mulheres_livres_indeterminadas_pardas = soma_mulheres_livres_indeterminadas_pardas[colunas_indeterminados].sum()
soma_mulheres_livres_indeterminadas_pretas = soma_mulheres_livres_indeterminadas_pretas[colunas_indeterminados].sum()
soma_mulheres_livres_indeterminadas_caboclas = soma_mulheres_livres_indeterminadas_caboclas[colunas_indeterminados].sum()
soma_mulheres_escravas_indeterminadas_pardas = soma_mulheres_escravas_indeterminadas_pardas[colunas_indeterminados].sum()
soma_mulheres_escravas_indeterminadas_pretas = soma_mulheres_escravas_indeterminadas_pretas[colunas_indeterminados].sum()

soma_mulheres_indeterminadas = soma_mulheres_livres_indeterminadas + soma_mulheres_escravas_indeterminadas
print(soma_mulheres_indeterminadas)
print("Total de indeterminadas mulheres livres brancas: " + str(soma_mulheres_livres_indeterminadas_brancas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres livres pardas: " + str(soma_mulheres_livres_indeterminadas_pardas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres livres pretas: " + str(soma_mulheres_livres_indeterminadas_pretas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres livres caboclas: " + str(soma_mulheres_livres_indeterminadas_caboclas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres escravas pardas: " + str(soma_mulheres_escravas_indeterminadas_pardas[colunas_indeterminados].sum()))
print("Total de indeterminadas mulheres escravas pretas: " + str(soma_mulheres_escravas_indeterminadas_pretas[colunas_indeterminados].sum()))
print("Total de mulheres indeterminadas livres: " + str(soma_mulheres_livres_indeterminadas[colunas_indeterminados].sum()))
print("Total de mulheres indeterminadas escravas: " + str(soma_mulheres_escravas_indeterminadas[colunas_indeterminados].sum()))
print("Total de mulheres indeterminadas: " + str(soma_mulheres_indeterminadas[colunas_indeterminados].sum()))

1
Não determinadas    0
dtype: int64
Total de indeterminadas mulheres livres brancas: 0
Total de indeterminadas mulheres livres pardas: 0
Total de indeterminadas mulheres livres pretas: 0
Total de indeterminadas mulheres livres caboclas: 0
Total de indeterminadas mulheres escravas pardas: 0
Total de indeterminadas mulheres escravas pretas: 0
Total de mulheres indeterminadas livres: 0
Total de mulheres indeterminadas escravas: 0
Total de mulheres indeterminadas: 0

In [59]:
soma_total_indeterminados = indeterminados.loc[(indeterminados['Condições'] == 'Soma geral') & (indeterminados['Raças'] == 'Total')]
soma_total_indeterminados = soma_total_indeterminados[colunas_indeterminados].sum()
soma_total_indeterminados = int(soma_total_indeterminados.sum())

soma_homens_indeterminados = int(soma_homens_indeterminados.sum())
soma_mulheres_indeterminadas = int(soma_mulheres_indeterminadas.sum())

print("Soma de homens e mulheres indeterminados: " + str(soma_homens_indeterminados + soma_mulheres_indeterminadas))
print("Total de homens e mulheres indeterminados: " + str(soma_total_indeterminados))

if soma_total_indeterminados == soma_homens_indeterminados + soma_mulheres_indeterminadas:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_indeterminados))
    print("Total da soma efetuada: " + str(soma_homens_indeterminados + soma_mulheres_indeterminadas))

Soma de homens e mulheres indeterminados: 0
Total de homens e mulheres indeterminados: 0
OK

In [60]:
# colunas_indeterminados = ['Não determinadas']
# indeterminados[colunas_indeterminados] = indeterminados[colunas_indeterminados].apply(pd.to_numeric)

# homens_livres = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Homens')]
# homens_escravos = indeterminados.loc[(indeterminados['Condições'] == 'Escravos') & (indeterminados['Sexos'] == 'Homens')]

# soma_homens = homens_livres[colunas_indeterminados].sum() + homens_escravos[colunas_indeterminados].sum()

# soma_homens

In [61]:
# mulheres_livres = indeterminados.loc[(indeterminados['Condições'] == 'Livres') & (indeterminados['Sexos'] == 'Mulheres')]
# mulheres_escravas = indeterminados.loc[(indeterminados['Condições'] == 'Escravas') & (indeterminados['Sexos'] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_indeterminados].sum() + mulheres_escravas[colunas_indeterminados].sum()

# soma_mulheres

In [62]:
# total = soma_homens + soma_mulheres
# total

# Totais das raças

In [63]:
totais_racas = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Totais', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36']]
totais_racas.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Totais,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,das Raças,NaN,NaN,NaN
1,Sexos,Condições,Raças,Brancos,Pardos,Pretos,Caboclos
2,Homens,Livres,Brancos,4922,0,0,0
3,NaN,NaN,Pardos,0,4326,0,0
4,NaN,NaN,Pretos,0,0,420,0

In [64]:
totais_racas_header = totais_racas.iloc[1]
totais_racas.columns = totais_racas_header
totais_racas = totais_racas[2:]
totais_racas.head()

1   Sexos Condições     Raças Brancos Pardos Pretos Caboclos
2  Homens    Livres   Brancos    4922      0      0        0
3     NaN       NaN    Pardos       0   4326      0        0
4     NaN       NaN    Pretos       0      0    420        0
5     NaN       NaN  Caboclos       0      0      0      613
6     NaN  Escravos    Pardos       0    326      0        0

In [65]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', '', 'Sexos'),
    ('', '', 'Condições'),
    ('', '', 'Raças'),
    ('Totais', 'das Raças', 'Brancos'),
    ('Totais', 'das Raças', 'Pardos'),
    ('Totais', 'das Raças', 'Pretos'),
    ('Totais', 'das Raças', 'Caboclos')
])

totais_racas.columns = columns_multiindex

totais_racas

                                      Totais
                                   das Raças
       Sexos   Condições     Raças   Brancos Pardos Pretos Caboclos
2     Homens      Livres   Brancos      4922      0      0        0
3        NaN         NaN    Pardos         0   4326      0        0
4        NaN         NaN    Pretos         0      0    420        0
5        NaN         NaN  Caboclos         0      0      0      613
6        NaN    Escravos    Pardos         0    326      0        0
7        NaN         NaN    Pretos         0      0    196        0
8   Mulheres      Livres   Brancas      4330      0      0        0
9        NaN         NaN    Pardas         0   4589      0        0
10       NaN         NaN    Pretas         0      0      0        0
11       NaN         NaN  Caboclas         0      0    442        0
12       NaN    Escravas    Pardas         0    365      0      430
13       NaN         NaN    Pretas         0      0    296        0
14       NaN  Soma geral       NaN      9252   9606   1354     1043

In [66]:
totais_racas[('', '', 'Sexos')] = totais_racas[('', '', 'Sexos')].ffill()

totais_racas[('', '', 'Condições')] = totais_racas[('', '', 'Condições')].ffill()

totais_racas.loc[14, ('', '', 'Raças')] = 'Total'
totais_racas

                                      Totais
                                   das Raças
       Sexos   Condições     Raças   Brancos Pardos Pretos Caboclos
2     Homens      Livres   Brancos      4922      0      0        0
3     Homens      Livres    Pardos         0   4326      0        0
4     Homens      Livres    Pretos         0      0    420        0
5     Homens      Livres  Caboclos         0      0      0      613
6     Homens    Escravos    Pardos         0    326      0        0
7     Homens    Escravos    Pretos         0      0    196        0
8   Mulheres      Livres   Brancas      4330      0      0        0
9   Mulheres      Livres    Pardas         0   4589      0        0
10  Mulheres      Livres    Pretas         0      0      0        0
11  Mulheres      Livres  Caboclas         0      0    442        0
12  Mulheres    Escravas    Pardas         0    365      0      430
13  Mulheres    Escravas    Pretas         0      0    296        0
14  Mulheres  Soma geral     Total      9252   9606   1354     1043

In [67]:
colunas_totais_racas = [('Totais', 'das Raças', 'Brancos'),
    ('Totais', 'das Raças', 'Pardos'),
    ('Totais', 'das Raças', 'Pretos'),
    ('Totais', 'das Raças', 'Caboclos')]
totais_racas[colunas_totais_racas] = totais_racas[colunas_totais_racas].apply(pd.to_numeric)

soma_homens_livres_totais_racas_brancos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Brancos')]
soma_homens_livres_totais_racas_pardos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Pardos')]
soma_homens_livres_totais_racas_pretos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_racas_caboclos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Caboclos')]
soma_homens_escravos_totais_racas_pardos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravos') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Pardos')]
soma_homens_escravos_totais_racas_pretos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravos') & (totais_racas[('', '', 'Sexos')] == 'Homens') & (totais_racas[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_racas = soma_homens_livres_totais_racas_brancos[colunas_totais_racas].sum() + soma_homens_livres_totais_racas_pardos[colunas_totais_racas].sum() + soma_homens_livres_totais_racas_pretos[colunas_totais_racas].sum() + soma_homens_livres_totais_racas_caboclos[colunas_totais_racas].sum()
soma_homens_escravos_totais_racas = soma_homens_escravos_totais_racas_pardos[colunas_totais_racas].sum() + soma_homens_escravos_totais_racas_pretos[colunas_totais_racas].sum()

soma_homens_livres_totais_racas_brancos = soma_homens_livres_totais_racas_brancos[colunas_totais_racas].sum()
soma_homens_livres_totais_racas_pardos = soma_homens_livres_totais_racas_pardos[colunas_totais_racas].sum()
soma_homens_livres_totais_racas_pretos = soma_homens_livres_totais_racas_pretos[colunas_totais_racas].sum()
soma_homens_livres_totais_racas_caboclos = soma_homens_livres_totais_racas_caboclos[colunas_totais_racas].sum()
soma_homens_escravos_totais_racas_pardos = soma_homens_escravos_totais_racas_pardos[colunas_totais_racas].sum()
soma_homens_escravos_totais_racas_pretos = soma_homens_escravos_totais_racas_pretos[colunas_totais_racas].sum()

soma_homens_totais_racas = soma_homens_livres_totais_racas + soma_homens_escravos_totais_racas
print(soma_homens_totais_racas)
print("Total homens livres brancos: " + str(soma_homens_livres_totais_racas_brancos[colunas_totais_racas].sum()))
print("Total homens livres pardos: " + str(soma_homens_livres_totais_racas_pardos[colunas_totais_racas].sum()))
print("Total homens livres pretos: " + str(soma_homens_livres_totais_racas_pretos[colunas_totais_racas].sum()))
print("Total homens livres caboclos: " + str(soma_homens_livres_totais_racas_caboclos[colunas_totais_racas].sum()))
print("Total homens escravos pardos: " + str(soma_homens_escravos_totais_racas_pardos[colunas_totais_racas].sum()))
print("Total homens escravos pretos: " + str(soma_homens_escravos_totais_racas_pretos[colunas_totais_racas].sum()))
print("Total de homens livres: " + str(soma_homens_livres_totais_racas[colunas_totais_racas].sum()))
print("Total de homens escravos: " + str(soma_homens_escravos_totais_racas[colunas_totais_racas].sum()))
print("Total de homens: " + str(soma_homens_totais_racas[colunas_totais_racas].sum()))

Totais  das Raças  Brancos     4922
                   Pardos      4652
                   Pretos       616
                   Caboclos     613
dtype: int64
Total homens livres brancos: 4922
Total homens livres pardos: 4326
Total homens livres pretos: 420
Total homens livres caboclos: 613
Total homens escravos pardos: 326
Total homens escravos pretos: 196
Total de homens livres: 10281
Total de homens escravos: 522
Total de homens: 10803

In [68]:
soma_mulheres_livres_totais_racas_brancas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Brancas')]
soma_mulheres_livres_totais_racas_pardas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_livres_totais_racas_pretas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_racas_caboclas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_totais_racas_pardas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravas') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_totais_racas_pretas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravas') & (totais_racas[('', '', 'Sexos')] == 'Mulheres') & (totais_racas[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_racas = soma_mulheres_livres_totais_racas_brancas[colunas_totais_racas].sum() + soma_mulheres_livres_totais_racas_pardas[colunas_totais_racas].sum() + soma_mulheres_livres_totais_racas_pretas[colunas_totais_racas].sum() + soma_mulheres_livres_totais_racas_caboclas[colunas_totais_racas].sum()
soma_mulheres_escravas_totais_racas = soma_mulheres_escravas_totais_racas_pardas[colunas_totais_racas].sum() + soma_mulheres_escravas_totais_racas_pretas[colunas_totais_racas].sum()

soma_mulheres_livres_totais_racas_brancas = soma_mulheres_livres_totais_racas_brancas[colunas_totais_racas].sum()
soma_mulheres_livres_totais_racas_pardas = soma_mulheres_livres_totais_racas_pardas[colunas_totais_racas].sum()
soma_mulheres_livres_totais_racas_pretas = soma_mulheres_livres_totais_racas_pretas[colunas_totais_racas].sum()
soma_mulheres_livres_totais_racas_caboclas = soma_mulheres_livres_totais_racas_caboclas[colunas_totais_racas].sum()
soma_mulheres_escravas_totais_racas_pardas = soma_mulheres_escravas_totais_racas_pardas[colunas_totais_racas].sum()
soma_mulheres_escravas_totais_racas_pretas = soma_mulheres_escravas_totais_racas_pretas[colunas_totais_racas].sum()

soma_mulheres_totais_racas = soma_mulheres_livres_totais_racas + soma_mulheres_escravas_totais_racas
print(soma_mulheres_totais_racas)
print("Total de mulheres livres brancas: " + str(soma_mulheres_livres_totais_racas_brancas[colunas_totais_racas].sum()))
print("Total de mulheres livres pardas: " + str(soma_mulheres_livres_totais_racas_pardas[colunas_totais_racas].sum()))
print("Total de mulheres livres pretas: " + str(soma_mulheres_livres_totais_racas_pretas[colunas_totais_racas].sum()))
print("Total de mulheres livres caboclas: " + str(soma_mulheres_livres_totais_racas_caboclas[colunas_totais_racas].sum()))
print("Total de mulheres escravas pardas: " + str(soma_mulheres_escravas_totais_racas_pardas[colunas_totais_racas].sum()))
print("Total de mulheres escravas pretas: " + str(soma_mulheres_escravas_totais_racas_pretas[colunas_totais_racas].sum()))
print("Total de mulheres livres: " + str(soma_mulheres_livres_totais_racas[colunas_totais_racas].sum()))
print("Total de mulheres escravas: " + str(soma_mulheres_escravas_totais_racas[colunas_totais_racas].sum()))
print("Total de mulheres: " + str(soma_mulheres_totais_racas[colunas_totais_racas].sum()))

Totais  das Raças  Brancos     4330
                   Pardos      4954
                   Pretos       738
                   Caboclos     430
dtype: int64
Total de mulheres livres brancas: 4330
Total de mulheres livres pardas: 4589
Total de mulheres livres pretas: 0
Total de mulheres livres caboclas: 442
Total de mulheres escravas pardas: 795
Total de mulheres escravas pretas: 296
Total de mulheres livres: 9361
Total de mulheres escravas: 1091
Total de mulheres: 10452

In [69]:
soma_total_totais_racas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Soma geral') & (totais_racas[('', '', 'Raças')] == 'Total')]
soma_total_totais_racas = soma_total_totais_racas[colunas_totais_racas].sum()
soma_total_totais_racas = int(soma_total_totais_racas.sum())

soma_homens_totais_racas = int(soma_homens_totais_racas.sum())
soma_mulheres_totais_racas = int(soma_mulheres_totais_racas.sum())

print("Soma de homens e mulheres: " + str(soma_homens_totais_racas + soma_mulheres_totais_racas))
print("Total de homens e mulheres: " + str(soma_total_totais_racas))

if soma_total_totais_racas == soma_homens_totais_racas + soma_mulheres_totais_racas:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_totais_racas))
    print("Total da soma efetuada: " + str(soma_homens_totais_racas + soma_mulheres_totais_racas))

Soma de homens e mulheres: 21255
Total de homens e mulheres: 21255
OK

In [70]:
# colunas_totais_racas = [('Totais', 'das Raças', 'Brancos'),
#     ('Totais', 'das Raças', 'Pardos'),
#     ('Totais', 'das Raças', 'Pretos'),
#     ('Totais', 'das Raças', 'Caboclos')]
# totais_racas[colunas_totais_racas] = totais_racas[colunas_totais_racas].apply(pd.to_numeric)

# homens_livres = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Homens')]
# homens_escravos = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravos') & (totais_racas[('', '', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_totais_racas].sum() + homens_escravos[colunas_totais_racas].sum()

# soma_homens

In [71]:
# mulheres_livres = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Livres') & (totais_racas[('', '', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = totais_racas.loc[(totais_racas[('', '', 'Condições')] == 'Escravas') & (totais_racas[('', '', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_totais_racas].sum() + mulheres_escravas[colunas_totais_racas].sum()

# soma_mulheres

In [72]:
# total = soma_homens + soma_mulheres
# total

# Totais das condições

In [73]:
totais_condicoes = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 37', 'Unnamed: 38']]
totais_condicoes.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 37 Unnamed: 38
0        NaN        NaN        NaN  das Condições         NaN
1      Sexos  Condições      Raças         Livres    Escravos
2     Homens     Livres    Brancos          10281           0
3        NaN        NaN     Pardos            NaN           0
4        NaN        NaN     Pretos            NaN           0

In [74]:
totais_condicoes_header = totais_condicoes.iloc[1]
totais_condicoes.columns = totais_condicoes_header
totais_condicoes = totais_condicoes[2:]
totais_condicoes.head()

1   Sexos Condições     Raças Livres Escravos
2  Homens    Livres   Brancos  10281        0
3     NaN       NaN    Pardos    NaN        0
4     NaN       NaN    Pretos    NaN        0
5     NaN       NaN  Caboclos    NaN        0
6     NaN  Escravos    Pardos      0      522

In [75]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', '', 'Sexos'),
    ('', '', 'Condições'),
    ('', '', 'Raças'),
    ('Totais', 'das Condições', 'Livres'),
    ('Totais', 'das Condições', 'Escravos')
])

totais_condicoes.columns = columns_multiindex

totais_condicoes

                                          Totais
                                   das Condições
       Sexos   Condições     Raças        Livres Escravos
2     Homens      Livres   Brancos         10281        0
3        NaN         NaN    Pardos           NaN        0
4        NaN         NaN    Pretos           NaN        0
5        NaN         NaN  Caboclos           NaN        0
6        NaN    Escravos    Pardos             0      522
7        NaN         NaN    Pretos             0      NaN
8   Mulheres      Livres   Brancas          9791        0
9        NaN         NaN    Pardas           NaN        0
10       NaN         NaN    Pretas           NaN        0
11       NaN         NaN  Caboclas           NaN        0
12       NaN    Escravas    Pardas             0      661
13       NaN         NaN    Pretas             0      NaN
14       NaN  Soma geral       NaN         20072     1183

In [76]:
totais_condicoes[('', '', 'Sexos')] = totais_condicoes[('', '', 'Sexos')].ffill()

totais_condicoes[('', '', 'Condições')] = totais_condicoes[('', '', 'Condições')].ffill()

totais_condicoes[('Totais', 'das Condições', 'Livres')] = totais_condicoes[('Totais', 'das Condições', 'Livres')].fillna(0)

totais_condicoes[('Totais', 'das Condições', 'Escravos')] = totais_condicoes[('Totais', 'das Condições', 'Escravos')].fillna(0)

totais_condicoes.loc[14, ('', '', 'Raças')] = 'Total'
totais_condicoes

                                          Totais
                                   das Condições
       Sexos   Condições     Raças        Livres Escravos
2     Homens      Livres   Brancos         10281        0
3     Homens      Livres    Pardos             0        0
4     Homens      Livres    Pretos             0        0
5     Homens      Livres  Caboclos             0        0
6     Homens    Escravos    Pardos             0      522
7     Homens    Escravos    Pretos             0        0
8   Mulheres      Livres   Brancas          9791        0
9   Mulheres      Livres    Pardas             0        0
10  Mulheres      Livres    Pretas             0        0
11  Mulheres      Livres  Caboclas             0        0
12  Mulheres    Escravas    Pardas             0      661
13  Mulheres    Escravas    Pretas             0        0
14  Mulheres  Soma geral     Total         20072     1183

In [77]:
colunas_totais_condicoes = [('Totais', 'das Condições', 'Livres'), ('Totais', 'das Condições', 'Escravos')]
totais_condicoes[colunas_totais_condicoes] = totais_condicoes[colunas_totais_condicoes].apply(pd.to_numeric)

soma_homens_livres_totais_condicoes_brancos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Brancos')]
soma_homens_livres_totais_condicoes_pardos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Pardos')]
soma_homens_livres_totais_condicoes_pretos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_condicoes_caboclos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Caboclos')]
soma_homens_escravos_totais_condicoes_pardos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravos') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Pardos')]
soma_homens_escravos_totais_condicoes_pretos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravos') & (totais_condicoes[('', '', 'Sexos')] == 'Homens') & (totais_condicoes[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_condicoes = soma_homens_livres_totais_condicoes_brancos[colunas_totais_condicoes].sum() + soma_homens_livres_totais_condicoes_pardos[colunas_totais_condicoes].sum() + soma_homens_livres_totais_condicoes_pretos[colunas_totais_condicoes].sum() + soma_homens_livres_totais_condicoes_caboclos[colunas_totais_condicoes].sum()
soma_homens_escravos_totais_condicoes = soma_homens_escravos_totais_condicoes_pardos[colunas_totais_condicoes].sum() + soma_homens_escravos_totais_condicoes_pretos[colunas_totais_condicoes].sum()

soma_homens_livres_totais_condicoes_brancos = soma_homens_livres_totais_condicoes_brancos[colunas_totais_condicoes].sum()
soma_homens_livres_totais_condicoes_pardos = soma_homens_livres_totais_condicoes_pardos[colunas_totais_condicoes].sum()
soma_homens_livres_totais_condicoes_pretos = soma_homens_livres_totais_condicoes_pretos[colunas_totais_condicoes].sum()
soma_homens_livres_totais_condicoes_caboclos = soma_homens_livres_totais_condicoes_caboclos[colunas_totais_condicoes].sum()
soma_homens_escravos_totais_condicoes_pardos = soma_homens_escravos_totais_condicoes_pardos[colunas_totais_condicoes].sum()
soma_homens_escravos_totais_condicoes_pretos = soma_homens_escravos_totais_condicoes_pretos[colunas_totais_condicoes].sum()

soma_homens_totais_condicoes = soma_homens_livres_totais_condicoes + soma_homens_escravos_totais_condicoes
print(soma_homens_totais_condicoes)
print("Total homens livres brancos: " + str(soma_homens_livres_totais_condicoes_brancos[colunas_totais_condicoes].sum()))
print("Total homens livres pardos: " + str(soma_homens_livres_totais_condicoes_pardos[colunas_totais_condicoes].sum()))
print("Total homens livres pretos: " + str(soma_homens_livres_totais_condicoes_pretos[colunas_totais_condicoes].sum()))
print("Total homens livres caboclos: " + str(soma_homens_livres_totais_condicoes_caboclos[colunas_totais_condicoes].sum()))
print("Total homens escravos pardos: " + str(soma_homens_escravos_totais_condicoes_pardos[colunas_totais_condicoes].sum()))
print("Total homens escravos pretos: " + str(soma_homens_escravos_totais_condicoes_pretos[colunas_totais_condicoes].sum()))
print("Total de homens livres: " + str(soma_homens_livres_totais_condicoes[colunas_totais_condicoes].sum()))
print("Total de homens escravos: " + str(soma_homens_escravos_totais_condicoes[colunas_totais_condicoes].sum()))
print("Total de homens: " + str(soma_homens_totais_condicoes[colunas_totais_condicoes].sum()))

Totais  das Condições  Livres      10281
                       Escravos      522
dtype: int64
Total homens livres brancos: 10281
Total homens livres pardos: 0
Total homens livres pretos: 0
Total homens livres caboclos: 0
Total homens escravos pardos: 522
Total homens escravos pretos: 0
Total de homens livres: 10281
Total de homens escravos: 522
Total de homens: 10803

In [78]:
soma_mulheres_livres_totais_condicoes_brancas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Brancas')]
soma_mulheres_livres_totais_condicoes_pardas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_livres_totais_condicoes_pretas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_condicoes_caboclas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_totais_condicoes_pardas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravas') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_totais_condicoes_pretas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravas') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres') & (totais_condicoes[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_condicoes = soma_mulheres_livres_totais_condicoes_brancas[colunas_totais_condicoes].sum() + soma_mulheres_livres_totais_condicoes_pardas[colunas_totais_condicoes].sum() + soma_mulheres_livres_totais_condicoes_pretas[colunas_totais_condicoes].sum() + soma_mulheres_livres_totais_condicoes_caboclas[colunas_totais_condicoes].sum()
soma_mulheres_escravas_totais_condicoes = soma_mulheres_escravas_totais_condicoes_pardas[colunas_totais_condicoes].sum() + soma_mulheres_escravas_totais_condicoes_pretas[colunas_totais_condicoes].sum()

soma_mulheres_livres_totais_condicoes_brancas = soma_mulheres_livres_totais_condicoes_brancas[colunas_totais_condicoes].sum()
soma_mulheres_livres_totais_condicoes_pardas = soma_mulheres_livres_totais_condicoes_pardas[colunas_totais_condicoes].sum()
soma_mulheres_livres_totais_condicoes_pretas = soma_mulheres_livres_totais_condicoes_pretas[colunas_totais_condicoes].sum()
soma_mulheres_livres_totais_condicoes_caboclas = soma_mulheres_livres_totais_condicoes_caboclas[colunas_totais_condicoes].sum()
soma_mulheres_escravas_totais_condicoes_pardas = soma_mulheres_escravas_totais_condicoes_pardas[colunas_totais_condicoes].sum()
soma_mulheres_escravas_totais_condicoes_pretas = soma_mulheres_escravas_totais_condicoes_pretas[colunas_totais_condicoes].sum()

soma_mulheres_totais_condicoes = soma_mulheres_livres_totais_condicoes + soma_mulheres_escravas_totais_condicoes
print(soma_mulheres_totais_condicoes)
print("Total de mulheres livres brancas: " + str(soma_mulheres_livres_totais_condicoes_brancas[colunas_totais_condicoes].sum()))
print("Total de mulheres livres pardas: " + str(soma_mulheres_livres_totais_condicoes_pardas[colunas_totais_condicoes].sum()))
print("Total de mulheres livres pretas: " + str(soma_mulheres_livres_totais_condicoes_pretas[colunas_totais_condicoes].sum()))
print("Total de mulheres livres caboclas: " + str(soma_mulheres_livres_totais_condicoes_caboclas[colunas_totais_condicoes].sum()))
print("Total de mulheres escravas pardas: " + str(soma_mulheres_escravas_totais_condicoes_pardas[colunas_totais_condicoes].sum()))
print("Total de mulheres escravas pretas: " + str(soma_mulheres_escravas_totais_condicoes_pretas[colunas_totais_condicoes].sum()))
print("Total de mulheres livres: " + str(soma_mulheres_livres_totais_condicoes[colunas_totais_condicoes].sum()))
print("Total de mulheres escravas: " + str(soma_mulheres_escravas_totais_condicoes[colunas_totais_condicoes].sum()))
print("Total de mulheres: " + str(soma_mulheres_totais_condicoes[colunas_totais_condicoes].sum()))

Totais  das Condições  Livres      9791
                       Escravos     661
dtype: int64
Total de mulheres livres brancas: 9791
Total de mulheres livres pardas: 0
Total de mulheres livres pretas: 0
Total de mulheres livres caboclas: 0
Total de mulheres escravas pardas: 661
Total de mulheres escravas pretas: 0
Total de mulheres livres: 9791
Total de mulheres escravas: 661
Total de mulheres: 10452

In [79]:
soma_total_totais_condicoes = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Soma geral') & (totais_condicoes[('', '', 'Raças')] == 'Total')]
soma_total_totais_condicoes = soma_total_totais_condicoes[colunas_totais_condicoes].sum()
soma_total_totais_condicoes = int(soma_total_totais_condicoes.sum())

soma_homens_totais_condicoes = int(soma_homens_totais_condicoes.sum())
soma_mulheres_totais_condicoes = int(soma_mulheres_totais_condicoes.sum())

print("Soma de homens e mulheres: " + str(soma_homens_totais_condicoes + soma_mulheres_totais_condicoes))
print("Total de homens e mulheres: " + str(soma_total_totais_condicoes))

if soma_total_totais_condicoes == soma_homens_totais_condicoes + soma_mulheres_totais_condicoes:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_totais_condicoes))
    print("Total da soma efetuada: " + str(soma_homens_totais_condicoes + soma_mulheres_totais_condicoes))

Soma de homens e mulheres: 21255
Total de homens e mulheres: 21255
OK

In [80]:
# colunas_totais_condicoes = [('Totais', 'das Condições', 'Livres'), ('Totais', 'das Condições', 'Escravos')]
# totais_condicoes[colunas_totais_condicoes] = totais_condicoes[colunas_totais_condicoes].apply(pd.to_numeric)

# homens_livres = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Homens')]
# homens_escravos = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravos') & (totais_condicoes[('', '', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_totais_condicoes].sum() + homens_escravos[colunas_totais_condicoes].sum()

# soma_homens

In [81]:
# mulheres_livres = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Livres') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = totais_condicoes.loc[(totais_condicoes[('', '', 'Condições')] == 'Escravas') & (totais_condicoes[('', '', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_totais_condicoes].sum() + mulheres_escravas[colunas_totais_condicoes].sum()

# soma_mulheres

In [82]:
# total = soma_homens + soma_mulheres
# total

# Totais dos sexos

In [83]:
totais_sexos = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 39', 'Unnamed: 40']]
totais_sexos.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 39 Unnamed: 40
0        NaN        NaN        NaN   dos Sexos         NaN
1      Sexos  Condições      Raças      Homens    Mulheres
2     Homens     Livres    Brancos       10803           0
3        NaN        NaN     Pardos         NaN           0
4        NaN        NaN     Pretos         NaN           0

In [84]:
totais_sexos_header = totais_sexos.iloc[1]
totais_sexos.columns = totais_sexos_header
totais_sexos = totais_sexos[2:]
totais_sexos.head()

1   Sexos Condições     Raças Homens Mulheres
2  Homens    Livres   Brancos  10803        0
3     NaN       NaN    Pardos    NaN        0
4     NaN       NaN    Pretos    NaN        0
5     NaN       NaN  Caboclos    NaN        0
6     NaN  Escravos    Pardos    NaN        0

In [85]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', '', 'Sexos'),
    ('', '', 'Condições'),
    ('', '', 'Raças'),
    ('Totais', 'dos Sexos', 'Homens'),
    ('Totais', 'dos Sexos', 'Mulheres')
])

totais_sexos.columns = columns_multiindex

totais_sexos

                                      Totais
                                   dos Sexos
       Sexos   Condições     Raças    Homens Mulheres
2     Homens      Livres   Brancos     10803        0
3        NaN         NaN    Pardos       NaN        0
4        NaN         NaN    Pretos       NaN        0
5        NaN         NaN  Caboclos       NaN        0
6        NaN    Escravos    Pardos       NaN        0
7        NaN         NaN    Pretos       NaN        0
8   Mulheres      Livres   Brancas         0    10452
9        NaN         NaN    Pardas         0      NaN
10       NaN         NaN    Pretas         0      NaN
11       NaN         NaN  Caboclas         0      NaN
12       NaN    Escravas    Pardas         0      NaN
13       NaN         NaN    Pretas         0      NaN
14       NaN  Soma geral       NaN     10803    10452

In [86]:
totais_sexos[('', '', 'Sexos')] = totais_sexos[('', '', 'Sexos')].ffill()

totais_sexos[('', '', 'Condições')] = totais_sexos[('', '', 'Condições')].ffill()

totais_sexos[('Totais', 'dos Sexos', 'Homens')] = totais_sexos[('Totais', 'dos Sexos', 'Homens')].fillna(0)

totais_sexos[('Totais', 'dos Sexos', 'Mulheres')] = totais_sexos[('Totais', 'dos Sexos', 'Mulheres')].fillna(0)

totais_sexos.loc[14, ('', '', 'Raças')] = 'Total'
totais_sexos

                                      Totais
                                   dos Sexos
       Sexos   Condições     Raças    Homens Mulheres
2     Homens      Livres   Brancos     10803        0
3     Homens      Livres    Pardos         0        0
4     Homens      Livres    Pretos         0        0
5     Homens      Livres  Caboclos         0        0
6     Homens    Escravos    Pardos         0        0
7     Homens    Escravos    Pretos         0        0
8   Mulheres      Livres   Brancas         0    10452
9   Mulheres      Livres    Pardas         0        0
10  Mulheres      Livres    Pretas         0        0
11  Mulheres      Livres  Caboclas         0        0
12  Mulheres    Escravas    Pardas         0        0
13  Mulheres    Escravas    Pretas         0        0
14  Mulheres  Soma geral     Total     10803    10452

In [87]:
colunas_totais_sexos = [('Totais', 'dos Sexos', 'Homens'), ('Totais', 'dos Sexos', 'Mulheres')]
totais_sexos[colunas_totais_sexos] = totais_sexos[colunas_totais_sexos].apply(pd.to_numeric)

soma_homens_livres_totais_sexos_brancos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Brancos')]
soma_homens_livres_totais_sexos_pardos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Pardos')]
soma_homens_livres_totais_sexos_pretos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_sexos_caboclos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Caboclos')]
soma_homens_escravos_totais_sexos_pardos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravos') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Pardos')]
soma_homens_escravos_totais_sexos_pretos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravos') & (totais_sexos[('', '', 'Sexos')] == 'Homens') & (totais_sexos[('', '', 'Raças')] == 'Pretos')]
soma_homens_livres_totais_sexos = soma_homens_livres_totais_sexos_brancos[colunas_totais_sexos].sum() + soma_homens_livres_totais_sexos_pardos[colunas_totais_sexos].sum() + soma_homens_livres_totais_sexos_pretos[colunas_totais_sexos].sum() + soma_homens_livres_totais_sexos_caboclos[colunas_totais_sexos].sum()
soma_homens_escravos_totais_sexos = soma_homens_escravos_totais_sexos_pardos[colunas_totais_sexos].sum() + soma_homens_escravos_totais_sexos_pretos[colunas_totais_sexos].sum()

soma_homens_livres_totais_sexos_brancos = soma_homens_livres_totais_sexos_brancos[colunas_totais_sexos].sum()
soma_homens_livres_totais_sexos_pardos = soma_homens_livres_totais_sexos_pardos[colunas_totais_sexos].sum()
soma_homens_livres_totais_sexos_pretos = soma_homens_livres_totais_sexos_pretos[colunas_totais_sexos].sum()
soma_homens_livres_totais_sexos_caboclos = soma_homens_livres_totais_sexos_caboclos[colunas_totais_sexos].sum()
soma_homens_escravos_totais_sexos_pardos = soma_homens_escravos_totais_sexos_pardos[colunas_totais_sexos].sum()
soma_homens_escravos_totais_sexos_pretos = soma_homens_escravos_totais_sexos_pretos[colunas_totais_sexos].sum()

soma_homens_totais_sexos = soma_homens_livres_totais_sexos + soma_homens_escravos_totais_sexos
print(soma_homens_totais_sexos)
print("Total homens livres brancos: " + str(soma_homens_livres_totais_sexos_brancos[colunas_totais_sexos].sum()))
print("Total homens livres pardos: " + str(soma_homens_livres_totais_sexos_pardos[colunas_totais_sexos].sum()))
print("Total homens livres pretos: " + str(soma_homens_livres_totais_sexos_pretos[colunas_totais_sexos].sum()))
print("Total homens livres caboclos: " + str(soma_homens_livres_totais_sexos_caboclos[colunas_totais_sexos].sum()))
print("Total homens escravos pardos: " + str(soma_homens_escravos_totais_sexos_pardos[colunas_totais_sexos].sum()))
print("Total homens escravos pretos: " + str(soma_homens_escravos_totais_sexos_pretos[colunas_totais_sexos].sum()))
print("Total de homens livres: " + str(soma_homens_livres_totais_sexos[colunas_totais_sexos].sum()))
print("Total de homens escravos: " + str(soma_homens_escravos_totais_sexos[colunas_totais_sexos].sum()))
print("Total de homens: " + str(soma_homens_totais_sexos[colunas_totais_sexos].sum()))

Totais  dos Sexos  Homens      10803
                   Mulheres        0
dtype: int64
Total homens livres brancos: 10803
Total homens livres pardos: 0
Total homens livres pretos: 0
Total homens livres caboclos: 0
Total homens escravos pardos: 0
Total homens escravos pretos: 0
Total de homens livres: 10803
Total de homens escravos: 0
Total de homens: 10803

In [88]:
soma_mulheres_livres_totais_sexos_brancas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Brancas')]
soma_mulheres_livres_totais_sexos_pardas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_livres_totais_sexos_pretas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_sexos_caboclas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_totais_sexos_pardas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravas') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_totais_sexos_pretas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravas') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres') & (totais_sexos[('', '', 'Raças')] == 'Pretas')]
soma_mulheres_livres_totais_sexos = soma_mulheres_livres_totais_sexos_brancas[colunas_totais_sexos].sum() + soma_mulheres_livres_totais_sexos_pardas[colunas_totais_sexos].sum() + soma_mulheres_livres_totais_sexos_pretas[colunas_totais_sexos].sum() + soma_mulheres_livres_totais_sexos_caboclas[colunas_totais_sexos].sum()
soma_mulheres_escravas_totais_sexos = soma_mulheres_escravas_totais_sexos_pardas[colunas_totais_sexos].sum() + soma_mulheres_escravas_totais_sexos_pretas[colunas_totais_sexos].sum()

soma_mulheres_livres_totais_sexos_brancas = soma_mulheres_livres_totais_sexos_brancas[colunas_totais_sexos].sum()
soma_mulheres_livres_totais_sexos_pardas = soma_mulheres_livres_totais_sexos_pardas[colunas_totais_sexos].sum()
soma_mulheres_livres_totais_sexos_pretas = soma_mulheres_livres_totais_sexos_pretas[colunas_totais_sexos].sum()
soma_mulheres_livres_totais_sexos_caboclas = soma_mulheres_livres_totais_sexos_caboclas[colunas_totais_sexos].sum()
soma_mulheres_escravas_totais_sexos_pardas = soma_mulheres_escravas_totais_sexos_pardas[colunas_totais_sexos].sum()
soma_mulheres_escravas_totais_sexos_pretas = soma_mulheres_escravas_totais_sexos_pretas[colunas_totais_sexos].sum()

soma_mulheres_totais_sexos = soma_mulheres_livres_totais_sexos + soma_mulheres_escravas_totais_sexos
print(soma_mulheres_totais_sexos)
print("Total de mulheres livres brancas: " + str(soma_mulheres_livres_totais_sexos_brancas[colunas_totais_sexos].sum()))
print("Total de mulheres livres pardas: " + str(soma_mulheres_livres_totais_sexos_pardas[colunas_totais_sexos].sum()))
print("Total de mulheres livres pretas: " + str(soma_mulheres_livres_totais_sexos_pretas[colunas_totais_sexos].sum()))
print("Total de mulheres livres caboclas: " + str(soma_mulheres_livres_totais_sexos_caboclas[colunas_totais_sexos].sum()))
print("Total de mulheres escravas pardas: " + str(soma_mulheres_escravas_totais_sexos_pardas[colunas_totais_sexos].sum()))
print("Total de mulheres escravas pretas: " + str(soma_mulheres_escravas_totais_sexos_pretas[colunas_totais_sexos].sum()))
print("Total de mulheres livres: " + str(soma_mulheres_livres_totais_sexos[colunas_totais_sexos].sum()))
print("Total de mulheres escravas: " + str(soma_mulheres_escravas_totais_sexos[colunas_totais_sexos].sum()))
print("Total de mulheres: " + str(soma_mulheres_totais_sexos[colunas_totais_sexos].sum()))

Totais  dos Sexos  Homens          0
                   Mulheres    10452
dtype: int64
Total de mulheres livres brancas: 10452
Total de mulheres livres pardas: 0
Total de mulheres livres pretas: 0
Total de mulheres livres caboclas: 0
Total de mulheres escravas pardas: 0
Total de mulheres escravas pretas: 0
Total de mulheres livres: 10452
Total de mulheres escravas: 0
Total de mulheres: 10452

In [89]:
soma_total_totais_sexos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Soma geral') & (totais_sexos[('', '', 'Raças')] == 'Total')]
soma_total_totais_sexos = soma_total_totais_sexos[colunas_totais_sexos].sum()
soma_total_totais_sexos = int(soma_total_totais_sexos.sum())

soma_homens_totais_sexos = int(soma_homens_totais_sexos.sum())
soma_mulheres_totais_sexos = int(soma_mulheres_totais_sexos.sum())

print("Soma de homens e mulheres: " + str(soma_homens_totais_sexos + soma_mulheres_totais_sexos))
print("Total de homens e mulheres: " + str(soma_total_totais_sexos))

if soma_total_totais_sexos == soma_homens_totais_sexos + soma_mulheres_totais_sexos:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_totais_sexos))
    print("Total da soma efetuada: " + str(soma_homens_totais_sexos + soma_mulheres_totais_sexos))

Soma de homens e mulheres: 21255
Total de homens e mulheres: 21255
OK

In [90]:
# colunas_totais_sexos = [('Totais', 'dos Sexos', 'Homens'), ('Totais', 'dos Sexos', 'Mulheres')]
# totais_sexos[colunas_totais_sexos] = totais_sexos[colunas_totais_sexos].apply(pd.to_numeric)

# homens_livres = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Homens')]
# homens_escravos = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravos') & (totais_sexos[('', '', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_totais_sexos].sum() + homens_escravos[colunas_totais_sexos].sum()

# soma_homens

In [91]:
# mulheres_livres = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Livres') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = totais_sexos.loc[(totais_sexos[('', '', 'Condições')] == 'Escravas') & (totais_sexos[('', '', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_totais_sexos].sum() + mulheres_escravas[colunas_totais_sexos].sum()

# soma_mulheres

In [92]:
# total = soma_homens + soma_mulheres
# total

# Ausentes

In [93]:
ausentes = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 41', 'Unnamed: 42']]
ausentes.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2                Unnamed: 41 Unnamed: 42
0        NaN        NaN        NaN  Ausentes (acidentalmente)         NaN
1      Sexos  Condições      Raças                  Condições       Sexos
2     Homens     Livres    Brancos                         41          41
3        NaN        NaN     Pardos                        NaN         NaN
4        NaN        NaN     Pretos                        NaN         NaN

In [94]:
ausentes_header = ausentes.iloc[1]
ausentes.columns = ausentes_header
ausentes = ausentes[2:]
ausentes.head()

1   Sexos Condições     Raças Condições Sexos
2  Homens    Livres   Brancos        41    41
3     NaN       NaN    Pardos       NaN   NaN
4     NaN       NaN    Pretos       NaN   NaN
5     NaN       NaN  Caboclos       NaN   NaN
6     NaN  Escravos    Pardos         0   NaN

In [95]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Ausentes (acidentalmente)', 'Condições'),
    ('Ausentes (acidentalmente)', 'Sexos')
])

ausentes.columns = columns_multiindex

ausentes

                                   Ausentes (acidentalmente)
       Sexos   Condições     Raças                 Condições Sexos
2     Homens      Livres   Brancos                        41    41
3        NaN         NaN    Pardos                       NaN   NaN
4        NaN         NaN    Pretos                       NaN   NaN
5        NaN         NaN  Caboclos                       NaN   NaN
6        NaN    Escravos    Pardos                         0   NaN
7        NaN         NaN    Pretos                       NaN   NaN
8   Mulheres      Livres   Brancas                        76    76
9        NaN         NaN    Pardas                       NaN   NaN
10       NaN         NaN    Pretas                       NaN   NaN
11       NaN         NaN  Caboclas                       NaN   NaN
12       NaN    Escravas    Pardas                         0   NaN
13       NaN         NaN    Pretas                       NaN   NaN
14       NaN  Soma geral       NaN                       117   117

In [96]:
ausentes[('', 'Sexos')] = ausentes[('', 'Sexos')].ffill()

ausentes[('', 'Condições')] = ausentes[('', 'Condições')].ffill()

ausentes[('Ausentes (acidentalmente)', 'Condições')] = ausentes[('Ausentes (acidentalmente)', 'Condições')].fillna(0)

ausentes[('Ausentes (acidentalmente)', 'Sexos')] = ausentes[('Ausentes (acidentalmente)', 'Sexos')].fillna(0)

ausentes.loc[14, ('', 'Raças')] = 'Total'
ausentes

                                   Ausentes (acidentalmente)
       Sexos   Condições     Raças                 Condições Sexos
2     Homens      Livres   Brancos                        41    41
3     Homens      Livres    Pardos                         0     0
4     Homens      Livres    Pretos                         0     0
5     Homens      Livres  Caboclos                         0     0
6     Homens    Escravos    Pardos                         0     0
7     Homens    Escravos    Pretos                         0     0
8   Mulheres      Livres   Brancas                        76    76
9   Mulheres      Livres    Pardas                         0     0
10  Mulheres      Livres    Pretas                         0     0
11  Mulheres      Livres  Caboclas                         0     0
12  Mulheres    Escravas    Pardas                         0     0
13  Mulheres    Escravas    Pretas                         0     0
14  Mulheres  Soma geral     Total                       117   117

In [97]:
colunas_ausentes = [('Ausentes (acidentalmente)', 'Condições'), ('Ausentes (acidentalmente)', 'Sexos')]
ausentes[colunas_ausentes] = ausentes[colunas_ausentes].apply(pd.to_numeric)


soma_homens_livres_ausentes_brancos = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Homens') & (ausentes[('', 'Raças')] == 'Brancos')]
soma_homens_livres_ausentes_pardos = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Homens') & (ausentes[('', 'Raças')] == 'Pardos')]
soma_homens_livres_ausentes_pretos = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Homens') & (ausentes[('', 'Raças')] == 'Pretos')]
soma_homens_livres_ausentes_caboclos = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Homens') & (ausentes[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_ausentes_pardos = ausentes.loc[(ausentes[('', 'Condições')] == 'Escravos') & (ausentes[('', 'Sexos')] == 'Homens') & (ausentes[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_ausentes_pretos = ausentes.loc[(ausentes[('', 'Condições')] == 'Escravos') & (ausentes[('', 'Sexos')] == 'Homens') & (ausentes[('', 'Raças')] == 'Pretos')]
soma_homens_livres_ausentes = soma_homens_livres_ausentes_brancos[colunas_ausentes].sum() + soma_homens_livres_ausentes_pardos[colunas_ausentes].sum() + soma_homens_livres_ausentes_pretos[colunas_ausentes].sum() + soma_homens_livres_ausentes_caboclos[colunas_ausentes].sum()
soma_homens_escravos_ausentes = soma_homens_escravos_ausentes_pardos[colunas_ausentes].sum() + soma_homens_escravos_ausentes_pretos[colunas_ausentes].sum()

soma_homens_livres_ausentes_brancos = soma_homens_livres_ausentes_brancos[colunas_ausentes].sum()
soma_homens_livres_ausentes_pardos = soma_homens_livres_ausentes_pardos[colunas_ausentes].sum()
soma_homens_livres_ausentes_pretos = soma_homens_livres_ausentes_pretos[colunas_ausentes].sum()
soma_homens_livres_ausentes_caboclos = soma_homens_livres_ausentes_caboclos[colunas_ausentes].sum()
soma_homens_escravos_ausentes_pardos = soma_homens_escravos_ausentes_pardos[colunas_ausentes].sum()
soma_homens_escravos_ausentes_pretos = soma_homens_escravos_ausentes_pretos[colunas_ausentes].sum()

soma_homens_ausentes = soma_homens_livres_ausentes + soma_homens_escravos_ausentes
print(soma_homens_ausentes)
print("Total de ausentes homens livres brancos: " + str(soma_homens_livres_ausentes_brancos[colunas_ausentes].sum()))
print("Total de ausentes homens livres pardos: " + str(soma_homens_livres_ausentes_pardos[colunas_ausentes].sum()))
print("Total de ausentes homens livres pretos: " + str(soma_homens_livres_ausentes_pretos[colunas_ausentes].sum()))
print("Total de ausentes homens livres caboclos: " + str(soma_homens_livres_ausentes_caboclos[colunas_ausentes].sum()))
print("Total de ausentes homens escravos pardos: " + str(soma_homens_escravos_ausentes_pardos[colunas_ausentes].sum()))
print("Total de ausentes homens escravos pretos: " + str(soma_homens_escravos_ausentes_pretos[colunas_ausentes].sum()))
print("Total de homens ausentes livres: " + str(soma_homens_livres_ausentes[colunas_ausentes].sum()))
print("Total de homens ausentes escravos: " + str(soma_homens_escravos_ausentes[colunas_ausentes].sum()))
print("Total de homens ausentes: " + str(soma_homens_ausentes[colunas_ausentes].sum()))

Ausentes (acidentalmente)  Condições    41
                           Sexos        41
dtype: int64
Total de ausentes homens livres brancos: 82
Total de ausentes homens livres pardos: 0
Total de ausentes homens livres pretos: 0
Total de ausentes homens livres caboclos: 0
Total de ausentes homens escravos pardos: 0
Total de ausentes homens escravos pretos: 0
Total de homens ausentes livres: 82
Total de homens ausentes escravos: 0
Total de homens ausentes: 82

In [98]:
soma_mulheres_livres_ausentes_brancas = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Mulheres') & (ausentes[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_ausentes_pardas = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Mulheres') & (ausentes[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_ausentes_pretas = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Mulheres') & (ausentes[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_ausentes_caboclas = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Mulheres') & (ausentes[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_ausentes_pardas = ausentes.loc[(ausentes[('', 'Condições')] == 'Escravas') & (ausentes[('', 'Sexos')] == 'Mulheres') & (ausentes[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_ausentes_pretas = ausentes.loc[(ausentes[('', 'Condições')] == 'Escravas') & (ausentes[('', 'Sexos')] == 'Mulheres') & (ausentes[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_ausentes = soma_mulheres_livres_ausentes_brancas[colunas_ausentes].sum() + soma_mulheres_livres_ausentes_pardas[colunas_ausentes].sum() + soma_mulheres_livres_ausentes_pretas[colunas_ausentes].sum() + soma_mulheres_livres_ausentes_caboclas[colunas_ausentes].sum()
soma_mulheres_escravas_ausentes = soma_mulheres_escravas_ausentes_pardas[colunas_ausentes].sum() + soma_mulheres_escravas_ausentes_pretas[colunas_ausentes].sum()

soma_mulheres_livres_ausentes_brancas = soma_mulheres_livres_ausentes_brancas[colunas_ausentes].sum()
soma_mulheres_livres_ausentes_pardas = soma_mulheres_livres_ausentes_pardas[colunas_ausentes].sum()
soma_mulheres_livres_ausentes_pretas = soma_mulheres_livres_ausentes_pretas[colunas_ausentes].sum()
soma_mulheres_livres_ausentes_caboclas = soma_mulheres_livres_ausentes_caboclas[colunas_ausentes].sum()
soma_mulheres_escravas_ausentes_pardas = soma_mulheres_escravas_ausentes_pardas[colunas_ausentes].sum()
soma_mulheres_escravas_ausentes_pretas = soma_mulheres_escravas_ausentes_pretas[colunas_ausentes].sum()

soma_mulheres_ausentes = soma_mulheres_livres_ausentes + soma_mulheres_escravas_ausentes
print(soma_mulheres_ausentes)
print("Total de ausentes mulheres livres brancas: " + str(soma_mulheres_livres_ausentes_brancas[colunas_ausentes].sum()))
print("Total de ausentes mulheres livres pardas: " + str(soma_mulheres_livres_ausentes_pardas[colunas_ausentes].sum()))
print("Total de ausentes mulheres livres pretas: " + str(soma_mulheres_livres_ausentes_pretas[colunas_ausentes].sum()))
print("Total de ausentes mulheres livres caboclas: " + str(soma_mulheres_livres_ausentes_caboclas[colunas_ausentes].sum()))
print("Total de ausentes mulheres escravas pardas: " + str(soma_mulheres_escravas_ausentes_pardas[colunas_ausentes].sum()))
print("Total de ausentes mulheres escravas pretas: " + str(soma_mulheres_escravas_ausentes_pretas[colunas_ausentes].sum()))
print("Total de mulheres ausentes livres: " + str(soma_mulheres_livres_ausentes[colunas_ausentes].sum()))
print("Total de mulheres ausentes escravas: " + str(soma_mulheres_escravas_ausentes[colunas_ausentes].sum()))
print("Total de mulheres ausentes: " + str(soma_mulheres_ausentes[colunas_ausentes].sum()))

Ausentes (acidentalmente)  Condições    76
                           Sexos        76
dtype: int64
Total de ausentes mulheres livres brancas: 152
Total de ausentes mulheres livres pardas: 0
Total de ausentes mulheres livres pretas: 0
Total de ausentes mulheres livres caboclas: 0
Total de ausentes mulheres escravas pardas: 0
Total de ausentes mulheres escravas pretas: 0
Total de mulheres ausentes livres: 152
Total de mulheres ausentes escravas: 0
Total de mulheres ausentes: 152

In [99]:
soma_total_ausentes = ausentes.loc[(ausentes[('', 'Condições')] == 'Soma geral') & (ausentes[('', 'Raças')] == 'Total')]
soma_total_ausentes = soma_total_ausentes[colunas_ausentes].sum()
soma_total_ausentes = int(soma_total_ausentes.sum())

soma_homens_ausentes = int(soma_homens_ausentes.sum())
soma_mulheres_ausentes = int(soma_mulheres_ausentes.sum())

print("Soma de homens e mulheres ausentes: " + str(soma_homens_ausentes + soma_mulheres_ausentes))
print("Total de homens e mulheres ausentes: " + str(soma_total_ausentes))

if soma_total_ausentes == soma_homens_ausentes + soma_mulheres_ausentes:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_ausentes))
    print("Total da soma efetuada: " + str(soma_homens_ausentes + soma_mulheres_ausentes))

Soma de homens e mulheres ausentes: 234
Total de homens e mulheres ausentes: 234
OK

In [100]:
# colunas_ausentes = [('Ausentes (acidentalmente)', 'Condições'), ('Ausentes (acidentalmente)', 'Sexos')]
# ausentes[colunas_ausentes] = ausentes[colunas_ausentes].apply(pd.to_numeric)

# homens_livres = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Homens')]
# homens_escravos = ausentes.loc[(ausentes[('', 'Condições')] == 'Escravos') & (ausentes[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_ausentes].sum() + homens_escravos[colunas_ausentes].sum()

# soma_homens

In [101]:
# mulheres_livres = ausentes.loc[(ausentes[('', 'Condições')] == 'Livres') & (ausentes[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = ausentes.loc[(ausentes[('', 'Condições')] == 'Escravos') & (ausentes[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_ausentes].sum() + mulheres_escravas[colunas_ausentes].sum()

# soma_mulheres

In [102]:
# total = soma_homens + soma_mulheres
# total

# Transeuntes

In [103]:
transeuntes = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 43', 'Unnamed: 44']]
transeuntes.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 43,Unnamed: 44
0,NaN,NaN,NaN,Transeuntes (população flutuante),NaN
1,Sexos,Condições,Raças,Condições,Sexos
2,Homens,Livres,Brancos,301,301
3,NaN,NaN,Pardos,NaN,NaN
4,NaN,NaN,Pretos,NaN,NaN

In [104]:
transeuntes_header = transeuntes.iloc[1]
transeuntes.columns = transeuntes_header
transeuntes = transeuntes[2:]
transeuntes.head()

1   Sexos Condições     Raças Condições Sexos
2  Homens    Livres   Brancos       301   301
3     NaN       NaN    Pardos       NaN   NaN
4     NaN       NaN    Pretos       NaN   NaN
5     NaN       NaN  Caboclos       NaN   NaN
6     NaN  Escravos    Pardos         0   NaN

In [105]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('Transeuntes (população flutuante)', 'Condições'),
    ('Transeuntes (população flutuante)', 'Sexos')
])

transeuntes.columns = columns_multiindex

transeuntes

                                   Transeuntes (população flutuante)
       Sexos   Condições     Raças                         Condições Sexos
2     Homens      Livres   Brancos                               301   301
3        NaN         NaN    Pardos                               NaN   NaN
4        NaN         NaN    Pretos                               NaN   NaN
5        NaN         NaN  Caboclos                               NaN   NaN
6        NaN    Escravos    Pardos                                 0   NaN
7        NaN         NaN    Pretos                               NaN   NaN
8   Mulheres      Livres   Brancas                               247   247
9        NaN         NaN    Pardas                               NaN   NaN
10       NaN         NaN    Pretas                               NaN   NaN
11       NaN         NaN  Caboclas                               NaN   NaN
12       NaN    Escravas    Pardas                                 0   NaN
13       NaN         NaN    Pretas                               NaN   NaN
14       NaN  Soma geral       NaN                               548   548

In [106]:
transeuntes[('', 'Sexos')] = transeuntes[('', 'Sexos')].ffill()

transeuntes[('', 'Condições')] = transeuntes[('', 'Condições')].ffill()

transeuntes[('Transeuntes (população flutuante)', 'Condições')] = transeuntes[('Transeuntes (população flutuante)', 'Condições')].fillna(0)

transeuntes[('Transeuntes (população flutuante)', 'Sexos')] = transeuntes[('Transeuntes (população flutuante)', 'Sexos')].fillna(0)

transeuntes.loc[14, ('', 'Raças')] = 'Total'
transeuntes

                                   Transeuntes (população flutuante)
       Sexos   Condições     Raças                         Condições Sexos
2     Homens      Livres   Brancos                               301   301
3     Homens      Livres    Pardos                                 0     0
4     Homens      Livres    Pretos                                 0     0
5     Homens      Livres  Caboclos                                 0     0
6     Homens    Escravos    Pardos                                 0     0
7     Homens    Escravos    Pretos                                 0     0
8   Mulheres      Livres   Brancas                               247   247
9   Mulheres      Livres    Pardas                                 0     0
10  Mulheres      Livres    Pretas                                 0     0
11  Mulheres      Livres  Caboclas                                 0     0
12  Mulheres    Escravas    Pardas                                 0     0
13  Mulheres    Escravas    Pretas                                 0     0
14  Mulheres  Soma geral     Total                               548   548

In [107]:
colunas_transeuntes = [('Transeuntes (população flutuante)', 'Condições'), ('Transeuntes (população flutuante)', 'Sexos')]
transeuntes[colunas_transeuntes] = transeuntes[colunas_transeuntes].apply(pd.to_numeric)

soma_homens_livres_transeuntes_brancos = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Homens') & (transeuntes[('', 'Raças')] == 'Brancos')]
soma_homens_livres_transeuntes_pardos = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Homens') & (transeuntes[('', 'Raças')] == 'Pardos')]
soma_homens_livres_transeuntes_pretos = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Homens') & (transeuntes[('', 'Raças')] == 'Pretos')]
soma_homens_livres_transeuntes_caboclos = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Homens') & (transeuntes[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_transeuntes_pardos = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Escravos') & (transeuntes[('', 'Sexos')] == 'Homens') & (transeuntes[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_transeuntes_pretos = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Escravos') & (transeuntes[('', 'Sexos')] == 'Homens') & (transeuntes[('', 'Raças')] == 'Pretos')]
soma_homens_livres_transeuntes = soma_homens_livres_transeuntes_brancos[colunas_transeuntes].sum() + soma_homens_livres_transeuntes_pardos[colunas_transeuntes].sum() + soma_homens_livres_transeuntes_pretos[colunas_transeuntes].sum() + soma_homens_livres_transeuntes_caboclos[colunas_transeuntes].sum()
soma_homens_escravos_transeuntes = soma_homens_escravos_transeuntes_pardos[colunas_transeuntes].sum() + soma_homens_escravos_transeuntes_pretos[colunas_transeuntes].sum()

soma_homens_livres_transeuntes_brancos = soma_homens_livres_transeuntes_brancos[colunas_transeuntes].sum()
soma_homens_livres_transeuntes_pardos = soma_homens_livres_transeuntes_pardos[colunas_transeuntes].sum()
soma_homens_livres_transeuntes_pretos = soma_homens_livres_transeuntes_pretos[colunas_transeuntes].sum()
soma_homens_livres_transeuntes_caboclos = soma_homens_livres_transeuntes_caboclos[colunas_transeuntes].sum()
soma_homens_escravos_transeuntes_pardos = soma_homens_escravos_transeuntes_pardos[colunas_transeuntes].sum()
soma_homens_escravos_transeuntes_pretos = soma_homens_escravos_transeuntes_pretos[colunas_transeuntes].sum()

soma_homens_transeuntes = soma_homens_livres_transeuntes + soma_homens_escravos_transeuntes
print(soma_homens_transeuntes)
print("Total de transeuntes homens livres brancos: " + str(soma_homens_livres_transeuntes_brancos[colunas_transeuntes].sum()))
print("Total de transeuntes homens livres pardos: " + str(soma_homens_livres_transeuntes_pardos[colunas_transeuntes].sum()))
print("Total de transeuntes homens livres pretos: " + str(soma_homens_livres_transeuntes_pretos[colunas_transeuntes].sum()))
print("Total de transeuntes homens livres caboclos: " + str(soma_homens_livres_transeuntes_caboclos[colunas_transeuntes].sum()))
print("Total de transeuntes homens escravos pardos: " + str(soma_homens_escravos_transeuntes_pardos[colunas_transeuntes].sum()))
print("Total de transeuntes homens escravos pretos: " + str(soma_homens_escravos_transeuntes_pretos[colunas_transeuntes].sum()))
print("Total de homens transeuntes livres: " + str(soma_homens_livres_transeuntes[colunas_transeuntes].sum()))
print("Total de homens transeuntes escravos: " + str(soma_homens_escravos_transeuntes[colunas_transeuntes].sum()))
print("Total de homens transeuntes: " + str(soma_homens_transeuntes[colunas_transeuntes].sum()))

Transeuntes (população flutuante)  Condições    301
                                   Sexos        301
dtype: int64
Total de transeuntes homens livres brancos: 602
Total de transeuntes homens livres pardos: 0
Total de transeuntes homens livres pretos: 0
Total de transeuntes homens livres caboclos: 0
Total de transeuntes homens escravos pardos: 0
Total de transeuntes homens escravos pretos: 0
Total de homens transeuntes livres: 602
Total de homens transeuntes escravos: 0
Total de homens transeuntes: 602

In [108]:
soma_mulheres_livres_transeuntes_brancas = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Mulheres') & (transeuntes[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_transeuntes_pardas = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Mulheres') & (transeuntes[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_transeuntes_pretas = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Mulheres') & (transeuntes[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_transeuntes_caboclas = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Mulheres') & (transeuntes[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_transeuntes_pardas = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Escravas') & (transeuntes[('', 'Sexos')] == 'Mulheres') & (transeuntes[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_transeuntes_pretas = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Escravas') & (transeuntes[('', 'Sexos')] == 'Mulheres') & (transeuntes[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_transeuntes = soma_mulheres_livres_transeuntes_brancas[colunas_transeuntes].sum() + soma_mulheres_livres_transeuntes_pardas[colunas_transeuntes].sum() + soma_mulheres_livres_transeuntes_pretas[colunas_transeuntes].sum() + soma_mulheres_livres_transeuntes_caboclas[colunas_transeuntes].sum()
soma_mulheres_escravas_transeuntes = soma_mulheres_escravas_transeuntes_pardas[colunas_transeuntes].sum() + soma_mulheres_escravas_transeuntes_pretas[colunas_transeuntes].sum()

soma_mulheres_livres_transeuntes_brancas = soma_mulheres_livres_transeuntes_brancas[colunas_transeuntes].sum()
soma_mulheres_livres_transeuntes_pardas = soma_mulheres_livres_transeuntes_pardas[colunas_transeuntes].sum()
soma_mulheres_livres_transeuntes_pretas = soma_mulheres_livres_transeuntes_pretas[colunas_transeuntes].sum()
soma_mulheres_livres_transeuntes_caboclas = soma_mulheres_livres_transeuntes_caboclas[colunas_transeuntes].sum()
soma_mulheres_escravas_transeuntes_pardas = soma_mulheres_escravas_transeuntes_pardas[colunas_transeuntes].sum()
soma_mulheres_escravas_transeuntes_pretas = soma_mulheres_escravas_transeuntes_pretas[colunas_transeuntes].sum()

soma_mulheres_transeuntes = soma_mulheres_livres_transeuntes + soma_mulheres_escravas_transeuntes
print(soma_mulheres_transeuntes)
print("Total de transeuntes mulheres livres brancas: " + str(soma_mulheres_livres_transeuntes_brancas[colunas_transeuntes].sum()))
print("Total de transeuntes mulheres livres pardas: " + str(soma_mulheres_livres_transeuntes_pardas[colunas_transeuntes].sum()))
print("Total de transeuntes mulheres livres pretas: " + str(soma_mulheres_livres_transeuntes_pretas[colunas_transeuntes].sum()))
print("Total de transeuntes mulheres livres caboclas: " + str(soma_mulheres_livres_transeuntes_caboclas[colunas_transeuntes].sum()))
print("Total de transeuntes mulheres escravas pardas: " + str(soma_mulheres_escravas_transeuntes_pardas[colunas_transeuntes].sum()))
print("Total de transeuntes mulheres escravas pretas: " + str(soma_mulheres_escravas_transeuntes_pretas[colunas_transeuntes].sum()))
print("Total de mulheres transeuntes livres: " + str(soma_mulheres_livres_transeuntes[colunas_transeuntes].sum()))
print("Total de mulheres transeuntes escravas: " + str(soma_mulheres_escravas_transeuntes[colunas_transeuntes].sum()))
print("Total de mulheres transeuntes: " + str(soma_mulheres_transeuntes[colunas_transeuntes].sum()))

Transeuntes (população flutuante)  Condições    247
                                   Sexos        247
dtype: int64
Total de transeuntes mulheres livres brancas: 494
Total de transeuntes mulheres livres pardas: 0
Total de transeuntes mulheres livres pretas: 0
Total de transeuntes mulheres livres caboclas: 0
Total de transeuntes mulheres escravas pardas: 0
Total de transeuntes mulheres escravas pretas: 0
Total de mulheres transeuntes livres: 494
Total de mulheres transeuntes escravas: 0
Total de mulheres transeuntes: 494

In [109]:
soma_total_transeuntes = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Soma geral') & (transeuntes[('', 'Raças')] == 'Total')]
soma_total_transeuntes = soma_total_transeuntes[colunas_transeuntes].sum()
soma_total_transeuntes = int(soma_total_transeuntes.sum())

soma_homens_transeuntes = int(soma_homens_transeuntes.sum())
soma_mulheres_transeuntes = int(soma_mulheres_transeuntes.sum())

print("Soma de homens e mulheres transeuntes: " + str(soma_homens_transeuntes + soma_mulheres_transeuntes))
print("Total de homens e mulheres transeuntes: " + str(soma_total_transeuntes))

if soma_total_transeuntes == soma_homens_transeuntes + soma_mulheres_transeuntes:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_transeuntes))
    print("Total da soma efetuada: " + str(soma_homens_transeuntes + soma_mulheres_transeuntes))

Soma de homens e mulheres transeuntes: 1096
Total de homens e mulheres transeuntes: 1096
OK

In [110]:
# colunas_transeuntes = [('Transeuntes (população flutuante)', 'Condições'), ('Transeuntes (população flutuante)', 'Sexos')]
# transeuntes[colunas_transeuntes] = transeuntes[colunas_transeuntes].apply(pd.to_numeric)

# homens_livres = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Homens')]
# homens_escravos = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Escravos') & (transeuntes[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_transeuntes].sum() + homens_escravos[colunas_transeuntes].sum()

# soma_homens

In [111]:
# mulheres_livres = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Livres') & (transeuntes[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = transeuntes.loc[(transeuntes[('', 'Condições')] == 'Escravos') & (transeuntes[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_transeuntes].sum() + mulheres_escravas[colunas_transeuntes].sum()

# soma_mulheres

In [112]:
# total = soma_homens + soma_mulheres
# total

# População legal

In [113]:
populacao = df[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 43', 'Unnamed: 44']]
populacao.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 43,Unnamed: 44
0,NaN,NaN,NaN,Transeuntes (população flutuante),NaN
1,Sexos,Condições,Raças,Condições,Sexos
2,Homens,Livres,Brancos,301,301
3,NaN,NaN,Pardos,NaN,NaN
4,NaN,NaN,Pretos,NaN,NaN

In [114]:
populacao_header = populacao.iloc[1]
populacao.columns = populacao_header
populacao = populacao[2:]
populacao.head()

1   Sexos Condições     Raças Condições Sexos
2  Homens    Livres   Brancos       301   301
3     NaN       NaN    Pardos       NaN   NaN
4     NaN       NaN    Pretos       NaN   NaN
5     NaN       NaN  Caboclos       NaN   NaN
6     NaN  Escravos    Pardos         0   NaN

In [115]:
columns_multiindex = pd.MultiIndex.from_tuples([
    ('', 'Sexos'),
    ('', 'Condições'),
    ('', 'Raças'),
    ('População legal', 'Condições'),
    ('População legal', 'Sexos')
])

populacao.columns = columns_multiindex

populacao

                                   População legal
       Sexos   Condições     Raças       Condições Sexos
2     Homens      Livres   Brancos             301   301
3        NaN         NaN    Pardos             NaN   NaN
4        NaN         NaN    Pretos             NaN   NaN
5        NaN         NaN  Caboclos             NaN   NaN
6        NaN    Escravos    Pardos               0   NaN
7        NaN         NaN    Pretos             NaN   NaN
8   Mulheres      Livres   Brancas             247   247
9        NaN         NaN    Pardas             NaN   NaN
10       NaN         NaN    Pretas             NaN   NaN
11       NaN         NaN  Caboclas             NaN   NaN
12       NaN    Escravas    Pardas               0   NaN
13       NaN         NaN    Pretas             NaN   NaN
14       NaN  Soma geral       NaN             548   548

In [116]:
populacao[('', 'Sexos')] = populacao[('', 'Sexos')].ffill()

populacao[('', 'Condições')] = populacao[('', 'Condições')].ffill()

populacao[('População legal', 'Condições')] = populacao[('População legal', 'Condições')].fillna(0)

populacao[('População legal', 'Sexos')] = populacao[('População legal', 'Sexos')].fillna(0)

populacao.loc[14, ('', 'Raças')] = 'Total'
populacao

                                   População legal
       Sexos   Condições     Raças       Condições Sexos
2     Homens      Livres   Brancos             301   301
3     Homens      Livres    Pardos               0     0
4     Homens      Livres    Pretos               0     0
5     Homens      Livres  Caboclos               0     0
6     Homens    Escravos    Pardos               0     0
7     Homens    Escravos    Pretos               0     0
8   Mulheres      Livres   Brancas             247   247
9   Mulheres      Livres    Pardas               0     0
10  Mulheres      Livres    Pretas               0     0
11  Mulheres      Livres  Caboclas               0     0
12  Mulheres    Escravas    Pardas               0     0
13  Mulheres    Escravas    Pretas               0     0
14  Mulheres  Soma geral     Total             548   548

In [117]:
colunas_populacao = [('População legal', 'Condições'), ('População legal', 'Sexos')]
populacao[colunas_populacao] = populacao[colunas_populacao].apply(pd.to_numeric)

soma_homens_livres_populacao_brancos = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Homens') & (populacao[('', 'Raças')] == 'Brancos')]
soma_homens_livres_populacao_pardos = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Homens') & (populacao[('', 'Raças')] == 'Pardos')]
soma_homens_livres_populacao_pretos = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Homens') & (populacao[('', 'Raças')] == 'Pretos')]
soma_homens_livres_populacao_caboclos = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Homens') & (populacao[('', 'Raças')] == 'Caboclos')]
soma_homens_escravos_populacao_pardos = populacao.loc[(populacao[('', 'Condições')] == 'Escravos') & (populacao[('', 'Sexos')] == 'Homens') & (populacao[('', 'Raças')] == 'Pardos')]
soma_homens_escravos_populacao_pretos = populacao.loc[(populacao[('', 'Condições')] == 'Escravos') & (populacao[('', 'Sexos')] == 'Homens') & (populacao[('', 'Raças')] == 'Pretos')]
soma_homens_livres_populacao = soma_homens_livres_populacao_brancos[colunas_populacao].sum() + soma_homens_livres_populacao_pardos[colunas_populacao].sum() + soma_homens_livres_populacao_pretos[colunas_populacao].sum() + soma_homens_livres_populacao_caboclos[colunas_populacao].sum()
soma_homens_escravos_populacao = soma_homens_escravos_populacao_pardos[colunas_populacao].sum() + soma_homens_escravos_populacao_pretos[colunas_populacao].sum()

soma_homens_livres_populacao_brancos = soma_homens_livres_populacao_brancos[colunas_populacao].sum()
soma_homens_livres_populacao_pardos = soma_homens_livres_populacao_pardos[colunas_populacao].sum()
soma_homens_livres_populacao_pretos = soma_homens_livres_populacao_pretos[colunas_populacao].sum()
soma_homens_livres_populacao_caboclos = soma_homens_livres_populacao_caboclos[colunas_populacao].sum()
soma_homens_escravos_populacao_pardos = soma_homens_escravos_populacao_pardos[colunas_populacao].sum()
soma_homens_escravos_populacao_pretos = soma_homens_escravos_populacao_pretos[colunas_populacao].sum()

soma_homens_populacao = soma_homens_livres_populacao + soma_homens_escravos_populacao
print(soma_homens_populacao)
print("Total de homens livres brancos: " + str(soma_homens_livres_populacao_brancos[colunas_populacao].sum()))
print("Total de homens livres pardos: " + str(soma_homens_livres_populacao_pardos[colunas_populacao].sum()))
print("Total de homens livres pretos: " + str(soma_homens_livres_populacao_pretos[colunas_populacao].sum()))
print("Total de homens livres caboclos: " + str(soma_homens_livres_populacao_caboclos[colunas_populacao].sum()))
print("Total de homens escravos pardos: " + str(soma_homens_escravos_populacao_pardos[colunas_populacao].sum()))
print("Total de homens escravos pretos: " + str(soma_homens_escravos_populacao_pretos[colunas_populacao].sum()))
print("Total de homens livres: " + str(soma_homens_livres_populacao[colunas_populacao].sum()))
print("Total de homens escravos: " + str(soma_homens_escravos_populacao[colunas_populacao].sum()))
print("Total de homens: " + str(soma_homens_populacao[colunas_populacao].sum()))

População legal  Condições    301
                 Sexos        301
dtype: int64
Total de homens livres brancos: 602
Total de homens livres pardos: 0
Total de homens livres pretos: 0
Total de homens livres caboclos: 0
Total de homens escravos pardos: 0
Total de homens escravos pretos: 0
Total de homens livres: 602
Total de homens escravos: 0
Total de homens: 602

In [118]:
soma_mulheres_livres_populacao_brancas = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Mulheres') & (populacao[('', 'Raças')] == 'Brancas')]
soma_mulheres_livres_populacao_pardas = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Mulheres') & (populacao[('', 'Raças')] == 'Pardas')]
soma_mulheres_livres_populacao_pretas = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Mulheres') & (populacao[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_populacao_caboclas = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Mulheres') & (populacao[('', 'Raças')] == 'Caboclas')]
soma_mulheres_escravas_populacao_pardas = populacao.loc[(populacao[('', 'Condições')] == 'Escravas') & (populacao[('', 'Sexos')] == 'Mulheres') & (populacao[('', 'Raças')] == 'Pardas')]
soma_mulheres_escravas_populacao_pretas = populacao.loc[(populacao[('', 'Condições')] == 'Escravas') & (populacao[('', 'Sexos')] == 'Mulheres') & (populacao[('', 'Raças')] == 'Pretas')]
soma_mulheres_livres_populacao = soma_mulheres_livres_populacao_brancas[colunas_populacao].sum() + soma_mulheres_livres_populacao_pardas[colunas_populacao].sum() + soma_mulheres_livres_populacao_pretas[colunas_populacao].sum() + soma_mulheres_livres_populacao_caboclas[colunas_populacao].sum()
soma_mulheres_escravas_populacao = soma_mulheres_escravas_populacao_pardas[colunas_populacao].sum() + soma_mulheres_escravas_populacao_pretas[colunas_populacao].sum()

soma_mulheres_livres_populacao_brancas = soma_mulheres_livres_populacao_brancas[colunas_populacao].sum()
soma_mulheres_livres_populacao_pardas = soma_mulheres_livres_populacao_pardas[colunas_populacao].sum()
soma_mulheres_livres_populacao_pretas = soma_mulheres_livres_populacao_pretas[colunas_populacao].sum()
soma_mulheres_livres_populacao_caboclas = soma_mulheres_livres_populacao_caboclas[colunas_populacao].sum()
soma_mulheres_escravas_populacao_pardas = soma_mulheres_escravas_populacao_pardas[colunas_populacao].sum()
soma_mulheres_escravas_populacao_pretas = soma_mulheres_escravas_populacao_pretas[colunas_populacao].sum()

soma_mulheres_populacao = soma_mulheres_livres_populacao + soma_mulheres_escravas_populacao
print(soma_mulheres_populacao)
print("Total de mulheres livres brancas: " + str(soma_mulheres_livres_populacao_brancas[colunas_populacao].sum()))
print("Total de mulheres livres pardas: " + str(soma_mulheres_livres_populacao_pardas[colunas_populacao].sum()))
print("Total de mulheres livres pretas: " + str(soma_mulheres_livres_populacao_pretas[colunas_populacao].sum()))
print("Total de mulheres livres caboclas: " + str(soma_mulheres_livres_populacao_caboclas[colunas_populacao].sum()))
print("Total de mulheres escravas pardas: " + str(soma_mulheres_escravas_populacao_pardas[colunas_populacao].sum()))
print("Total de mulheres escravas pretas: " + str(soma_mulheres_escravas_populacao_pretas[colunas_populacao].sum()))
print("Total de mulheres livres: " + str(soma_mulheres_livres_populacao[colunas_populacao].sum()))
print("Total de mulheres escravas: " + str(soma_mulheres_escravas_populacao[colunas_populacao].sum()))
print("Total de mulheres: " + str(soma_mulheres_populacao[colunas_populacao].sum()))

População legal  Condições    247
                 Sexos        247
dtype: int64
Total de mulheres livres brancas: 494
Total de mulheres livres pardas: 0
Total de mulheres livres pretas: 0
Total de mulheres livres caboclas: 0
Total de mulheres escravas pardas: 0
Total de mulheres escravas pretas: 0
Total de mulheres livres: 494
Total de mulheres escravas: 0
Total de mulheres: 494

In [119]:
soma_total_populacao = populacao.loc[(populacao[('', 'Condições')] == 'Soma geral') & (populacao[('', 'Raças')] == 'Total')]
soma_total_populacao = soma_total_populacao[colunas_populacao].sum()
soma_total_populacao = int(soma_total_populacao.sum())

soma_homens_populacao = int(soma_homens_populacao.sum())
soma_mulheres_populacao = int(soma_mulheres_populacao.sum())

print("Soma de homens e mulheres: " + str(soma_homens_populacao + soma_mulheres_populacao))
print("Total de homens e mulheres: " + str(soma_total_populacao))

if soma_total_populacao == soma_homens_populacao + soma_mulheres_populacao:
    print("OK")
else:
    print("***Divergência de valores na tabela***")
    print("Total do valor digitado: " + str(soma_total_populacao))
    print("Total da soma efetuada: " + str(soma_homens_populacao + soma_mulheres_populacao))

Soma de homens e mulheres: 1096
Total de homens e mulheres: 1096
OK

In [120]:
# colunas_populacao = [('População legal', 'Condições'), ('População legal', 'Sexos')]
# populacao[colunas_populacao] = populacao[colunas_populacao].apply(pd.to_numeric)

# homens_livres = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Homens')]
# homens_escravos = populacao.loc[(populacao[('', 'Condições')] == 'Escravos') & (populacao[('', 'Sexos')] == 'Homens')]

# soma_homens = homens_livres[colunas_populacao].sum() + homens_escravos[colunas_populacao].sum()

# soma_homens

In [121]:
# mulheres_livres = populacao.loc[(populacao[('', 'Condições')] == 'Livres') & (populacao[('', 'Sexos')] == 'Mulheres')]
# mulheres_escravas = populacao.loc[(populacao[('', 'Condições')] == 'Escravos') & (populacao[('', 'Sexos')] == 'Mulheres')]

# soma_mulheres = mulheres_livres[colunas_populacao].sum() + mulheres_escravas[colunas_populacao].sum()

# soma_mulheres

In [122]:
# total = soma_homens + soma_mulheres
# total