In [20]:
import pandas as pd
import numpy as np
import pathfinder as pf

In [21]:
filename = "censo_1872-003_p1.csv"
path = pf.find_file(filename)
df_1872_003_br = pd.read_csv(path)

In [22]:
prov = df_1872_003_br[['Unnamed: 0']]

In [23]:
def format_prov(df:pd.DataFrame) -> pd.DataFrame:
    prov = df[['Unnamed: 0']].copy()
    prov.rename(columns={'Unnamed: 0':"Províncias e Município Neutro"}, inplace=True)
    prov = prov[3:]
    prov.reset_index(drop=True, inplace=True)
    prov.reset_index(drop=False, inplace=True)
    return prov

def format_gen(df:pd.DataFrame) -> pd.DataFrame:
    gen = df[['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']]

    gen_header = gen.iloc[2]
    gen.columns = gen_header
    gen = gen[3:]

    columns_multiindex = pd.MultiIndex.from_tuples([
    ('Gêneros', 'Homens'),
    ('Gêneros', 'Mulheres'),
    ('Gêneros', 'Total')])

    gen.columns = columns_multiindex
    # retorna um df 22x4
    return gen

def format_e_civis(df:pd.DataFrame) -> pd.DataFrame:
    estados_civis = df[['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']]
    estados_civis_header = estados_civis.iloc[0]
    estados_civis.columns = estados_civis_header
    estados_civis = estados_civis[3:]

    columns_multiindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Solteiros'),
        ('Homens', 'Casados'),
        ('Homens', 'Viúvos'),
        ('Mulheres', 'Solteiras'),
        ('Mulheres', 'Casadas'),
        ('Mulheres', 'Viúvas')
    ])

    estados_civis.columns = columns_multiindex
    estados_civis = estados_civis.iloc[:, 1:]
    return estados_civis

def format_racas(df:pd.DataFrame) -> pd.DataFrame:
    racas = df[['Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17']]
    racas_header = racas.iloc[0]
    racas.columns = racas_header
    racas = racas[3:]

    columns_multindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Brancos'),
        ('Homens', 'Pardos'),
        ('Homens', 'Pretos'),
        ('Homens', 'Caboclos'),
        ('Mulheres', 'Brancas'),
        ('Mulheres', 'Pardas'),
        ('Mulheres', 'Pretas'),
        ('Mulheres', 'Caboclas')
    ])

    racas.columns = columns_multindex
    racas = racas.iloc[:, 1:]
    return racas

def format_relig(df:pd.DataFrame) -> pd.DataFrame:
    religiao = df[['Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21']]
    religiao_header = religiao.iloc[0]
    religiao.columns = religiao_header
    religiao = religiao[3:]
    
    columns_multindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Católicos'),
        ('Homens', 'Acatólicos'),
        ('Mulheres', 'Católicos'),
        ('Mulheres', 'Acatólicos')
    ])

    religiao.columns = columns_multindex
    religiao = religiao.iloc[:, 1:]
    return religiao

def format_nacional(df:pd.DataFrame) -> pd.DataFrame:
    nacionalidade = df[['Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']]
    nacionalidade_header = nacionalidade.iloc[0]
    nacionalidade.columns = nacionalidade_header
    nacionalidade = nacionalidade[3:]
    
    columns_multindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Brasileiros'),
        ('Homens', 'Estrangeiros'),
        ('Mulheres', 'Brasileiras'),
        ('Mulheres', 'Estrangeiras')
    ])

    nacionalidade.columns = columns_multindex
    nacionalidade = nacionalidade.iloc[:, 1:]
    return nacionalidade

def format_inst(df:pd.DataFrame) -> pd.DataFrame:
    instrucao = df[['Instrução', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35']]
    instrucao_header = instrucao.iloc[0]
    instrucao.columns = instrucao_header
    instrucao = instrucao[3:]

    columns_multindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Sabem ler e escrever'),
        ('Homens', 'Analfabetos'),
        ('Mulheres', 'Sabem ler e escrever'),
        ('Mulheres', 'Analfabetos'),
        ('Meninos', 'Frequentam escolas'),
        ('Meninos', 'Não frequentam'),
        ('Meninos', 'Total'),
        ('Meninas', 'Frequentam escolas'),
        ('Meninas', 'Não frequentam'),
        ('Meninas', 'Total')
    ])

    instrucao.columns = columns_multindex
    instrucao = instrucao.iloc[:, 1:]
    return instrucao

def format_casas(df:pd.DataFrame) -> pd.DataFrame:
    casas = df[['Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38']]
    casas_header = casas.iloc[1]
    casas.columns = casas_header
    casas = casas[3:]

    columns_multindex = pd.MultiIndex.from_tuples([
        ('Casas', 'Habitadas'),
        ('Casas', 'Desabitadas'),
        ('Casas', 'Total'),
    ])

    casas.columns = columns_multindex
    casas = casas.iloc[:, 1:]
    return casas

def format_fogos(df:pd.DataFrame) -> pd.DataFrame:
    fogos = df[[ 'Unnamed: 39']]
    fogos_header = fogos.iloc[2]
    fogos.columns = fogos_header
    fogos = fogos[3:]
    fogos = fogos.iloc[:, 1:]
    return fogos

def format_br_003(df:pd.DataFrame) -> pd.DataFrame:
    gen = format_gen(df)
    e_civis = format_e_civis(df)
    racas = format_racas(df)
    rel = format_relig(df)
    nacional = format_nacional(df)
    inst = format_inst(df)
    casas = format_casas(df)
    #fogos não tem multiindex
    # fogos = format_fogos(df)

    df_concat = pd.concat([gen, e_civis, racas, rel, nacional, inst, casas], axis=1)
    return df_concat

In [24]:
prov = format_prov(df_1872_003_br)
print(prov.shape)
prov.to_csv('br-1872-003-provincias.csv', index=False)

(22, 2)

In [25]:
prov_csv = pd.read_csv('br-1872-003-provincias.csv')
prov_csv

    index Províncias e Município Neutro
0       0                      Amazonas
1       1                          Pará
2       2                      Maranhão
3       3                         Piauí
4       4                         Ceará
5       5           Rio Grande do Norte
6       6                       Paraíba
7       7                    Pernambuco
8       8                       Alagoas
9       9                       Sergipe
10     10                         Bahia
11     11                Espírito Santo
12     12              Município Neutro
13     13                Rio de Janeiro
14     14                     São Paulo
15     15                        Paraná
16     16                Santa Catarina
17     17             Rio Grande do Sul
18     18                  Minas Gerais
19     19                         Goiás
20     20                   Mato Grosso
21     21                         Total

In [26]:
gen = format_gen(df_1872_003_br)
print(gen.shape)
gen.to_csv('br-1872-003-generos.csv', index=False)

(22, 3)

In [27]:
gen_csv = pd.read_csv('br-1872-003-generos.csv')
gen_csv

    Gêneros Gêneros.1 Gêneros.2
0    Homens  Mulheres     Total
1     30983      2564     56631
2    128589     11919    247779
3    141942     14215    284101
4     90322      8810    178427
5    350906     33886    689773
6    112721     10823    220959
7    179433     17526    354700
8    381565     37094    752511
9    155584     15667    312268
10    74739      7888    153620
11   630353     58143   1211792
12    29607     29871     59478
13   133880     92153    226033
14   255806    234281    499087
15   348304    332438    680742
16    59384     56858    116162
17    73088     71730    144818
18   191022    176000    367022
19   847592    821684   1669276
20    74968     74775    149743
21    27991     25759     53750
22  4318699   4100973   8419672

In [28]:
e_civis = format_e_civis(df_1872_003_br)
print(e_civis.shape)
e_civis

(22, 5)

     Homens          Mulheres
    Casados  Viúvos Solteiras  Casadas  Viúvas
3      5105     919     19214     4714    1720
4     28935    4806     86825    26280    6085
5     33644    5015    102302    32337    7520
6     23323    3705     59547    23371    5187
7     99915    9299    224509    99849   14509
8     26832    5086     75915    26735    5588
9     53474    6556    112332    53274    9661
10   111189   11440    240239   111465   19242
11    47865    4990     99772    46743   10169
12    24027    2699     50746    24795    3340
13   160204   29593    398473   151883   31083
14     9298     894     19251     9449    1171
15    25763    4081     64074    20174    7905
16    71842   15573    148840    68726   16715
17    98864   15054    218684    96290   17464
18    18649    2678     35006    18332    3520
19    21351    1752     47122    20412    4196
20    45104    6019    124864    41525    9611
21   231947   42917    557389   217353   46942
22    20696    2386     50125    20340    4310
23     7839    1925     17353     6953    1453
24  1165866  177387   2752582  1121000  227391

In [29]:
racas = format_racas(df_1872_003_br)
print(racas.shape)
racas

(22, 7)

     Homens                  Mulheres
     Pardos  Pretos Caboclos  Brancas   Pardas  Pretas Caboclas
3      4210     711    19151     4300     3046     625    17677
4     46899    9200    22827    42971    46828    7629    21762
5     71662   12504     5509    51246    72699   12780     5434
6     53474    7505     7135    21239    53191    7357     6318
7    172841   14424    26701   131896   166325   14510    26136
8     42213   12202     5471    49630    41877   11163     5568
9     89921   11155     4882    71246    88675   10661     4685
10   194897   30795     5943   141229   192954   30901     5862
11    98916    8220     3105    43455   101283    8687     3259
12    39524    9321     1536    25420    42059    9851     1551
13   287131  137574    27043   152874   278573  127153    22839
14     9648    3395     3009    13027    10881    3443     2520
15    22762   14198      665    55544    22083   14268      258
16    61542   29517     4152   142680    59703   28198     3700
17    76288   29512    21244   212172    75018   27027    18221
18    15358    3292     4718    33762    15278    3449     4369
19     5941    2199     1446    62440     5796    2048     1446
20    24487   17828    12613   122273    24179   16444    13104
21   302948  105507    17276   409126   295865  101647    15046
22    42482    9088     2246    20777    43907    8087     2004
23    10827    3861     4276     8210    10087    3214     4248
24  1673971  472008   200948  1815517  1650307  449142   186007

In [30]:
relig = format_relig(df_1872_003_br)
print(relig.shape)
relig

(22, 3)

       Homens  Mulheres
   Acatólicos Católicos Acatólicos
3          80     25641          7
4         193    119169         21
5          77    142100         59
6           9     88105          0
7          38    338857         10
8           4    108238          0
9           4    175266          1
10        204    370906         40
11         27    156683          1
12          0     78881          0
13        157    581384         55
14        230     29687        184
15       1328     91553        600
16        373    234066        215
17       1973    331217       1221
18        549     56594        264
19       5453     66742       4988
20       3840    173617       2383
21       1752    820290       1394
22          1     74775          0
23         16     25749         10
24      16313   4089520      11453

In [31]:
nac = format_nacional(df_1872_003_br)
print(nac.shape)
nac

(22, 3)

         Homens    Mulheres
   Estrangeiros Brasileiras Estrangeiras
3          1760       25222          426
4          5224      118437          753
5          2529      141191          968
6           300       88001          104
7          1101      338475          392
8           416      108078          160
9           493      175102          165
10         8035      368621         2325
11          978      156321          363
12          387       78723          158
13         7906      577229         4210
14         1417       29359          512
15        56008       74851        17302
16        29963      225860         8421
17        11831      327702         4736
18         2080       56049          809
19         8357       65241         6489
20        24980      164522        11478
21        14417      817692         3992
22          150       74698           77
23         1005       25455          304
24       179337     4036829        64144

In [32]:
inst = format_inst(df_1872_003_br)
print(inst.shape)
inst

(22, 9)

        Homens             Mulheres                        Meninos  \
   Analfabetos Sabem ler e escrever Analfabetos Frequentam escolas
3        24823                 1453       24195                824
4        88871                20677       98513               5768
5        97567                24196      117963               8739
6        72645                10093       78012               1777
7       292249                20903      317964              10021
8        39119                16220       92018               2643
9       150209                11988      163279               6630
10      288901                54659      316287              14069
11      129538                15814      140870               5455
12       56052                10447       68434               3402
13      468416                37135      494304              22260
14       22378                 2503       27368               1564
15       68714                33992       58101               5788
16      185809                44603      189678              12622
17      255327                48090      284348              15069
18       40299                12802       44056               2558
19       59161                 7999       63731               3100
20      134060                38341      137659               9947
21      702295                78271      743413              19968
22       59299                 6987       67788               2566
23       20877                 3808       21951                881
24     3306602               550981     3549992             155651

                                     Meninas
   Não frequentam   Total Frequentam escolas Não frequentam   Total
3            5056    5880                371           3269    3640
4           25753   31521               3441          25020   28461
5           28142   36881               4844          29567   34411
6           15960   17737               1024          16968   17992
7           83808   93829               5399          85087   90486
8           18662   21305               2058          19857   21915
9           44061   50691               3894          45830   49724
10          82133   96202               9301          80960   90261
11          34261   39716               4028          34726   38754
12          14934   18336               1832          17333   19165
13         119426  141686              81743         113313  195056
14           5323    6887                722           5101    6823
15          10449   22237               4258          15019   19277
16          32019   44641               8194          33089   41283
17          71271   86340               8544          73915   82458
18           9666   12224               1866          10762   12628
19          15676   18776               2114          15473   17587
20          36222   46169               7947          33292   41239
21          66983  125012              11940         112824  124764
22          16864   19430               1240          16982   18222
23           5401    6282                338           6187    6525
24         786131  941782             165098         795574  960672

In [33]:
casas = format_casas(df_1872_003_br)
print(casas.shape)
casas

(22, 2)

         Casas
   Desabitadas    Total
3          229     7890
4         2077    41055
5         1405    48571
6          223    29431
7         2989   102890
8          706    37416
9          522    44289
10        4381   188301
11        2030    57924
12         567    26109
13        5479   181511
14        1079    11821
15        1873    80918
16        2844    91542
17        1000    66778
18         259    19162
19         528    20136
20        1741    61940
21        3629   279240
22         487    25683
23         102     7603
24       34150  1330210

In [34]:
fogos = format_fogos(df_1872_003_br)
print(fogos.shape)
# fogos

(22, 0)

In [35]:
format_br_003(df_1872_003_br)

    Gêneros                     Homens          Mulheres                   \
     Homens Mulheres    Total  Casados  Viúvos Solteiras  Casadas  Viúvas
3     30983     2564    56631     5105     919     19214     4714    1720
4    128589    11919   247779    28935    4806     86825    26280    6085
5    141942    14215   284101    33644    5015    102302    32337    7520
6     90322     8810   178427    23323    3705     59547    23371    5187
7    350906    33886   689773    99915    9299    224509    99849   14509
8    112721    10823   220959    26832    5086     75915    26735    5588
9    179433    17526   354700    53474    6556    112332    53274    9661
10   381565    37094   752511   111189   11440    240239   111465   19242
11   155584    15667   312268    47865    4990     99772    46743   10169
12    74739     7888   153620    24027    2699     50746    24795    3340
13   630353    58143  1211792   160204   29593    398473   151883   31083
14    29607    29871    59478     9298     894     19251     9449    1171
15   133880    92153   226033    25763    4081     64074    20174    7905
16   255806   234281   499087    71842   15573    148840    68726   16715
17   348304   332438   680742    98864   15054    218684    96290   17464
18    59384    56858   116162    18649    2678     35006    18332    3520
19    73088    71730   144818    21351    1752     47122    20412    4196
20   191022   176000   367022    45104    6019    124864    41525    9611
21   847592   821684  1669276   231947   42917    557389   217353   46942
22    74968    74775   149743    20696    2386     50125    20340    4310
23    27991    25759    53750     7839    1925     17353     6953    1453
24  4318699  4100973  8419672  1165866  177387   2752582  1121000  227391

     Homens          ...             Mulheres                        Meninos  \
     Pardos  Pretos  ... Sabem ler e escrever Analfabetos Frequentam escolas
3      4210     711  ...                 1453       24195                824
4     46899    9200  ...                20677       98513               5768
5     71662   12504  ...                24196      117963               8739
6     53474    7505  ...                10093       78012               1777
7    172841   14424  ...                20903      317964              10021
8     42213   12202  ...                16220       92018               2643
9     89921   11155  ...                11988      163279               6630
10   194897   30795  ...                54659      316287              14069
11    98916    8220  ...                15814      140870               5455
12    39524    9321  ...                10447       68434               3402
13   287131  137574  ...                37135      494304              22260
14     9648    3395  ...                 2503       27368               1564
15    22762   14198  ...                33992       58101               5788
16    61542   29517  ...                44603      189678              12622
17    76288   29512  ...                48090      284348              15069
18    15358    3292  ...                12802       44056               2558
19     5941    2199  ...                 7999       63731               3100
20    24487   17828  ...                38341      137659               9947
21   302948  105507  ...                78271      743413              19968
22    42482    9088  ...                 6987       67788               2566
23    10827    3861  ...                 3808       21951                881
24  1673971  472008  ...               550981     3549992             155651

                                     Meninas                         \
   Não frequentam   Total Frequentam escolas Não frequentam   Total
3            5056    5880                371           3269    3640
4           25753   31521               3441          25020   28461
5           28142   36881               4844          29567   34411
6           15960   17737               1024          16968   17992
7           83808   93829               5399          85087   90486
8           18662   21305               2058          19857   21915
9           44061   50691               3894          45830   49724
10          82133   96202               9301          80960   90261
11          34261   39716               4028          34726   38754
12          14934   18336               1832          17333   19165
13         119426  141686              81743         113313  195056
14           5323    6887                722           5101    6823
15          10449   22237               4258          15019   19277
16          32019   44641               8194          33089   41283
17          71271   86340               8544          73915   82458
18           9666   12224               1866          10762   12628
19          15676   18776               2114          15473   17587
20          36222   46169               7947          33292   41239
21          66983  125012              11940         112824  124764
22          16864   19430               1240          16982   18222
23           5401    6282                338           6187    6525
24         786131  941782             165098         795574  960672

         Casas
   Desabitadas    Total
3          229     7890
4         2077    41055
5         1405    48571
6          223    29431
7         2989   102890
8          706    37416
9          522    44289
10        4381   188301
11        2030    57924
12         567    26109
13        5479   181511
14        1079    11821
15        1873    80918
16        2844    91542
17        1000    66778
18         259    19162
19         528    20136
20        1741    61940
21        3629   279240
22         487    25683
23         102     7603
24       34150  1330210

[22 rows x 32 columns]

In [36]:
df_save = format_br_003(df_1872_003_br)
df_save.to_csv('br-1872-003.csv', index=False)

In [37]:
filename2 = "br-1872-003.csv"
df_csv = pd.read_csv(filename2)
df_csv

,Gêneros,Gêneros.1,Gêneros.2,Homens,Homens.1,Mulheres,Mulheres.1,Mulheres.2,Homens.2,Homens.3,...,Mulheres.11,Mulheres.12,Meninos,Meninos.1,Meninos.2,Meninas,Meninas.1,Meninas.2,Casas,Casas.1
0,Homens,Mulheres,Total,Casados,Viúvos,Solteiras,Casadas,Viúvas,Pardos,Pretos,...,Sabem ler e escrever,Analfabetos,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total,Desabitadas,Total
1,30983,2564,56631,5105,919,19214,4714,1720,4210,711,...,1453,24195,824,5056,5880,371,3269,3640,229,7890
2,128589,11919,247779,28935,4806,86825,26280,6085,46899,9200,...,20677,98513,5768,25753,31521,3441,25020,28461,2077,41055
3,141942,14215,284101,33644,5015,102302,32337,7520,71662,12504,...,24196,117963,8739,28142,36881,4844,29567,34411,1405,48571
4,90322,8810,178427,23323,3705,59547,23371,5187,53474,7505,...,10093,78012,1777,15960,17737,1024,16968,17992,223,29431
5,350906,33886,689773,99915,9299,224509,99849,14509,172841,14424,...,20903,317964,10021,83808,93829,5399,85087,90486,2989,102890
6,112721,10823,220959,26832,5086,75915,26735,5588,42213,12202,...,16220,92018,2643,18662,21305,2058,19857,21915,706,37416
7,179433,17526,354700,53474,6556,112332,53274,9661,89921,11155,...,11988,163279,6630,44061,50691,3894,45830,49724,522,44289
8,381565,37094,752511,111189,11440,240239,111465,19242,194897,30795,...,54659,316287,14069,82133,96202,9301,80960,90261,4381,188301
9,155584,15667,312268,47865,4990,99772,46743,10169,98916,8220,...,15814,140870,5455,34261,39716,4028,34726,38754,2030,57924
10,74739,7888,153620,24027,2699,50746,24795,3340,39524,9321,...,10447,68434,3402,14934,18336,1832,17333,19165,567,26109
11,630353,58143,1211792,160204,29593,398473,151883,31083,287131,137574,...,37135,494304,22260,119426,141686,81743,113313,195056,5479,181511
12,29607,29871,59478,9298,894,19251,9449,1171,9648,3395,...,2503,27368,1564,5323,6887,722,5101,6823,1079,11821
13,133880,92153,226033,25763,4081,64074,20174,7905,22762,14198,...,33992,58101,5788,10449,22237,4258,15019,19277,1873,80918
14,255806,234281,499087,71842,15573,148840,68726,16715,61542,29517,...,44603,189678,12622,32019,44641,8194,33089,41283,2844,91542
15,348304,332438,680742,98864,15054,218684,96290,17464,76288,29512,...,48090,284348,15069,71271,86340,8544,73915,82458,1000,66778
16,59384,56858,116162,18649,2678,35006,18332,3520,15358,3292,...,12802,44056,2558,9666,12224,1866,10762,12628,259,19162
17,73088,71730,144818,21351,1752,47122,20412,4196,5941,2199,...,7999,63731,3100,15676,18776,2114,15473,17587,528,20136
18,191022,176000,367022,45104,6019,124864,41525,9611,24487,17828,...,38341,137659,9947,36222,46169,7947,33292,41239,1741,61940
19,847592,821684,1669276,231947,42917,557389,217353,46942,302948,105507,...,78271,743413,19968,66983,125012,11940,112824,124764,3629,279240
20,74968,74775,149743,20696,2386,50125,20340,4310,42482,9088,...,6987,67788,2566,16864,19430,1240,16982,18222,487,25683
21,27991,25759,53750,7839,1925,17353,6953,1453,10827,3861,...,3808,21951,881,5401,6282,338,6187,6525,102,7603
22,4318699,4100973,8419672,1165866,177387,2752582,1121000,227391,1673971,472008,...,550981,3549992,155651,786131,941782,165098,795574,960672,34150,1330210

In [38]:
df_csv.columns

Index(['Gêneros', 'Gêneros.1', 'Gêneros.2', 'Homens', 'Homens.1', 'Mulheres',
       'Mulheres.1', 'Mulheres.2', 'Homens.2', 'Homens.3', 'Homens.4',
       'Mulheres.3', 'Mulheres.4', 'Mulheres.5', 'Mulheres.6', 'Homens.5',
       'Mulheres.7', 'Mulheres.8', 'Homens.6', 'Mulheres.9', 'Mulheres.10',
       'Homens.7', 'Mulheres.11', 'Mulheres.12', 'Meninos', 'Meninos.1',
       'Meninos.2', 'Meninas', 'Meninas.1', 'Meninas.2', 'Casas', 'Casas.1'],
      dtype='object')