In [187]:
import pandas as pd
import numpy as np
import pathfinder as pf

In [188]:
filename = "censo_1872-003_p1.csv"
path = pf.find_file(filename)
df_1872_003_br = pd.read_csv(path)

In [189]:
prov = df_1872_003_br[['Unnamed: 0']]

In [216]:
def format_prov(df:pd.DataFrame) -> pd.DataFrame:
    prov = df[['Unnamed: 0']].copy()
    prov.rename(columns={'Unnamed: 0':"Províncias e Município Neutro"}, inplace=True)
    prov = prov[3:]
    prov.reset_index(drop=True, inplace=True)
    prov.reset_index(drop=False, inplace=True)
    return prov

def format_gen(df:pd.DataFrame) -> pd.DataFrame:
    gen = df[['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']]

    gen_header = gen.iloc[2]
    gen.columns = gen_header
    gen = gen[3:]

    columns_multiindex = pd.MultiIndex.from_tuples([
    ('Gêneros', 'Homens'),
    ('Gêneros', 'Mulheres'),
    ('Gêneros', 'Total')])

    gen.columns = columns_multiindex
    gen.reset_index(drop=True, inplace=True)
    # retorna um df 22x4
    return gen

def format_e_civis(df:pd.DataFrame) -> pd.DataFrame:
    estados_civis = df[['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']]
    estados_civis_header = estados_civis.iloc[0]
    estados_civis.columns = estados_civis_header
    estados_civis = estados_civis[3:]

    columns_multiindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Solteiros'),
        ('Homens', 'Casados'),
        ('Homens', 'Viúvos'),
        ('Mulheres', 'Solteiras'),
        ('Mulheres', 'Casadas'),
        ('Mulheres', 'Viúvas')
    ])

    estados_civis.columns = columns_multiindex
    estados_civis.reset_index(drop=True, inplace=True)
    return estados_civis

def format_racas(df:pd.DataFrame) -> pd.DataFrame:
    racas = df[['Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17']]
    racas_header = racas.iloc[0]
    racas.columns = racas_header
    racas = racas[3:]

    columns_multindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Brancos'),
        ('Homens', 'Pardos'),
        ('Homens', 'Pretos'),
        ('Homens', 'Caboclos'),
        ('Mulheres', 'Brancas'),
        ('Mulheres', 'Pardas'),
        ('Mulheres', 'Pretas'),
        ('Mulheres', 'Caboclas')
    ])

    racas.columns = columns_multindex
    racas.reset_index(drop=True, inplace=True)
    return racas

def format_relig(df:pd.DataFrame) -> pd.DataFrame:
    religiao = df[['Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21']]
    religiao_header = religiao.iloc[0]
    religiao.columns = religiao_header
    religiao = religiao[3:]
    
    columns_multindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Católicos'),
        ('Homens', 'Acatólicos'),
        ('Mulheres', 'Católicos'),
        ('Mulheres', 'Acatólicos')
    ])

    religiao.columns = columns_multindex
    religiao.reset_index(drop=True, inplace=True)
    return religiao

def format_nacional(df:pd.DataFrame) -> pd.DataFrame:
    nacionalidade = df[['Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']]
    nacionalidade_header = nacionalidade.iloc[0]
    nacionalidade.columns = nacionalidade_header
    nacionalidade = nacionalidade[3:]
    
    columns_multindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Brasileiros'),
        ('Homens', 'Estrangeiros'),
        ('Mulheres', 'Brasileiras'),
        ('Mulheres', 'Estrangeiras')
    ])

    nacionalidade.columns = columns_multindex
    nacionalidade.reset_index(drop=True, inplace=True)
    return nacionalidade

def format_inst(df:pd.DataFrame) -> pd.DataFrame:
    instrucao = df[['Instrução', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35']]
    instrucao_header = instrucao.iloc[0]
    instrucao.columns = instrucao_header
    instrucao = instrucao[3:]

    columns_multindex = pd.MultiIndex.from_tuples([
        ('Homens', 'Sabem ler e escrever'),
        ('Homens', 'Analfabetos'),
        ('Mulheres', 'Sabem ler e escrever'),
        ('Mulheres', 'Analfabetos'),
        ('Meninos', 'Frequentam escolas'),
        ('Meninos', 'Não frequentam'),
        ('Meninos', 'Total'),
        ('Meninas', 'Frequentam escolas'),
        ('Meninas', 'Não frequentam'),
        ('Meninas', 'Total')
    ])

    instrucao.columns = columns_multindex
    instrucao.reset_index(drop=True, inplace=True)
    return instrucao

def format_casas(df:pd.DataFrame) -> pd.DataFrame:
    casas = df[['Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38']]
    casas_header = casas.iloc[1]
    casas.columns = casas_header
    casas = casas[3:]

    columns_multindex = pd.MultiIndex.from_tuples([
        ('Casas', 'Habitadas'),
        ('Casas', 'Desabitadas'),
        ('Casas', 'Total'),
    ])

    casas.columns = columns_multindex
    casas.reset_index(drop=True, inplace=True)
    return casas

def format_fogos(df:pd.DataFrame) -> pd.DataFrame:
    fogos = df[[ 'Unnamed: 39']]
    fogos_header = fogos.iloc[2]
    fogos.columns = fogos_header
    fogos = fogos[3:]
    fogos = fogos.iloc[:, 1:]
    return fogos

def format_br_003(df:pd.DataFrame) -> pd.DataFrame:
    gen = format_gen(df)
    e_civis = format_e_civis(df)
    racas = format_racas(df)
    rel = format_relig(df)
    nacional = format_nacional(df)
    inst = format_inst(df)
    casas = format_casas(df)
    #fogos não tem multiindex
    # fogos = format_fogos(df)

    df_concat = pd.concat([gen, e_civis, racas, rel, nacional, inst, casas], axis=1)
    return df_concat

In [191]:
prov = format_prov(df_1872_003_br)
print(prov.shape)
prov.to_csv('./csv/br-1872-003-provincias.csv', index=False)

(22, 2)

In [192]:
prov_csv = pd.read_csv('./csv/br-1872-003-provincias.csv')
prov_csv

    index Províncias e Município Neutro
0       0                      Amazonas
1       1                          Pará
2       2                      Maranhão
3       3                         Piauí
4       4                         Ceará
5       5           Rio Grande do Norte
6       6                       Paraíba
7       7                    Pernambuco
8       8                       Alagoas
9       9                       Sergipe
10     10                         Bahia
11     11                Espírito Santo
12     12              Município Neutro
13     13                Rio de Janeiro
14     14                     São Paulo
15     15                        Paraná
16     16                Santa Catarina
17     17             Rio Grande do Sul
18     18                  Minas Gerais
19     19                         Goiás
20     20                   Mato Grosso
21     21                         Total

In [193]:
gen = format_gen(df_1872_003_br)
gen.columns = gen.columns.droplevel(0)
print(gen.shape)
gen.to_csv('./csv/br-1872-003-generos.csv', index=True)

(22, 3)

     Homens Mulheres    Total
0     30983     2564    56631
1    128589    11919   247779
2    141942    14215   284101
3     90322     8810   178427
4    350906    33886   689773
5    112721    10823   220959
6    179433    17526   354700
7    381565    37094   752511
8    155584    15667   312268
9     74739     7888   153620
10   630353    58143  1211792
11    29607    29871    59478
12   133880    92153   226033
13   255806   234281   499087
14   348304   332438   680742
15    59384    56858   116162
16    73088    71730   144818
17   191022   176000   367022
18   847592   821684  1669276
19    74968    74775   149743
20    27991    25759    53750
21  4318699  4100973  8419672

In [194]:
gen_csv = pd.read_csv('./csv/br-1872-003-generos.csv')
gen_csv

    Unnamed: 0   Homens  Mulheres    Total
0            0    30983      2564    56631
1            1   128589     11919   247779
2            2   141942     14215   284101
3            3    90322      8810   178427
4            4   350906     33886   689773
5            5   112721     10823   220959
6            6   179433     17526   354700
7            7   381565     37094   752511
8            8   155584     15667   312268
9            9    74739      7888   153620
10          10   630353     58143  1211792
11          11    29607     29871    59478
12          12   133880     92153   226033
13          13   255806    234281   499087
14          14   348304    332438   680742
15          15    59384     56858   116162
16          16    73088     71730   144818
17          17   191022    176000   367022
18          18   847592    821684  1669276
19          19    74968     74775   149743
20          20    27991     25759    53750
21          21  4318699   4100973  8419672

In [217]:
e_civis = format_e_civis(df_1872_003_br)
e_civis.columns = e_civis.columns.droplevel(0)
print(e_civis.shape)
e_civis.to_csv('./csv/br-1872-003-e_civis.csv', index=True)
e_civis

(22, 6)

   Solteiros  Casados  Viúvos Solteiras  Casadas  Viúvas
0      24959     5105     919     19214     4714    1720
1      94848    28935    4806     86825    26280    6085
2     103283    33644    5015    102302    32337    7520
3      63294    23323    3705     59547    23371    5187
4     241692    99915    9299    224509    99849   14509
5      80803    26832    5086     75915    26735    5588
6     119403    53474    6556    112332    53274    9661
7     258936   111189   11440    240239   111465   19242
8     102729    47865    4990     99772    46743   10169
9      48013    24027    2699     50746    24795    3340
10    440556   160204   29593    398473   151883   31083
11     19415     9298     894     19251     9449    1171
12    104036    25763    4081     64074    20174    7905
13    168391    71842   15573    148840    68726   16715
14    234386    98864   15054    218684    96290   17464
15     37977    18649    2678     35006    18332    3520
16     49985    21351    1752     47122    20412    4196
17    139899    45104    6019    124864    41525    9611
18    572728   231947   42917    557389   217353   46942
19     51886    20696    2386     50125    20340    4310
20     18227     7839    1925     17353     6953    1453
21   2975446  1165866  177387   2752582  1121000  227391

In [196]:
racas = format_racas(df_1872_003_br)
racas.columns = racas.columns.droplevel(0)
print(racas.shape)
racas.to_csv('./csv/br-1872-003-racas.csv', index=True)
racas

(22, 8)

In [213]:
relig = format_relig(df_1872_003_br)
relig.columns = relig.columns.droplevel(0)
print(relig.shape)
relig.to_csv('./csv/br-1872-003-relig.csv', index=True)
relig

(22, 4)

   Católicos Acatólicos Católicos Acatólicos
0      30903         80     25641          7
1     128396        193    119169         21
2     141865         77    142100         59
3      90313          9     88105          0
4     350868         38    338857         10
5     112717          4    108238          0
6     179429          4    175266          1
7     381361        204    370906         40
8     155557         27    156683          1
9      74739          0     78881          0
10    630196        157    581384         55
11     29377        230     29687        184
12    132552       1328     91553        600
13    255433        373    234066        215
14    346326       1973    331217       1221
15     58755        549     56594        264
16     67635       5453     66742       4988
17    187182       3840    173617       2383
18    845840       1752    820290       1394
19     74967          1     74775          0
20     27975         16     25749         10
21   4302386      16313   4089520      11453

In [198]:
nac = format_nacional(df_1872_003_br)
nac.columns = nac.columns.droplevel(0)
print(nac.shape)
nac.to_csv('./csv/br-1872-003-nacionalidade.csv', index=True)

(22, 4)

In [210]:
inst = format_inst(df_1872_003_br)
inst.columns = inst.columns.droplevel(0)
print(inst.shape)
inst.to_csv('./csv/br-1872-003-instrucao.csv', index=True)
inst

(22, 10)

,Sabem ler e escrever,Analfabetos,Sabem ler e escrever,Analfabetos,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total
0,6160,24823,1453,24195,824,5056,5880,371,3269,3640
1,39718,88871,20677,98513,5768,25753,31521,3441,25020,28461
2,44375,97567,24196,117963,8739,28142,36881,4844,29567,34411
3,17677,72645,10093,78012,1777,15960,17737,1024,16968,17992
4,58657,292249,20903,317964,10021,83808,93829,5399,85087,90486
5,23602,39119,16220,92018,2643,18662,21305,2058,19857,21915
6,29224,150209,11988,163279,6630,44061,50691,3894,45830,49724
7,92664,288901,54659,316287,14069,82133,96202,9301,80960,90261
8,26046,129538,15814,140870,5455,34261,39716,4028,34726,38754
9,18687,56052,10447,68434,3402,14934,18336,1832,17333,19165
10,161937,468416,37135,494304,22260,119426,141686,81743,113313,195056
11,7229,22378,2503,27368,1564,5323,6887,722,5101,6823
12,65164,68714,33992,58101,5788,10449,22237,4258,15019,19277
13,69997,185809,44603,189678,12622,32019,44641,8194,33089,41283
14,92977,255327,48090,284348,15069,71271,86340,8544,73915,82458
15,19014,40299,12802,44056,2558,9666,12224,1866,10762,12628
16,12927,59161,7999,63731,3100,15676,18776,2114,15473,17587
17,5592,134060,38341,137659,9947,36222,46169,7947,33292,41239
18,145297,702295,78271,743413,19968,66983,125012,11940,112824,124764
19,15699,59299,6987,67788,2566,16864,19430,1240,16982,18222
20,7114,20877,3808,21951,881,5401,6282,338,6187,6525
21,1012097,3306602,550981,3549992,155651,786131,941782,165098,795574,960672

In [200]:
casas = format_casas(df_1872_003_br)
casas.columns = casas.columns.droplevel(0)
print(casas.shape)
casas.to_csv('./csv/br-1872-003-casas.csv', index=True)

(22, 3)

In [201]:
fogos = format_fogos(df_1872_003_br)
print(fogos.shape)
# fogos

(22, 0)

In [202]:
format_br_003(df_1872_003_br)

    Gêneros                       Homens                    Mulheres           \
     Homens Mulheres    Total  Solteiros  Casados  Viúvos  Solteiras  Casadas
0     30983     2564    56631  Solteiros  Casados  Viúvos  Solteiras  Casadas
1    128589    11919   247779      24959     5105     919      19214     4714
2    141942    14215   284101      94848    28935    4806      86825    26280
3     90322     8810   178427     103283    33644    5015     102302    32337
4    350906    33886   689773      63294    23323    3705      59547    23371
5    112721    10823   220959     241692    99915    9299     224509    99849
6    179433    17526   354700      80803    26832    5086      75915    26735
7    381565    37094   752511     119403    53474    6556     112332    53274
8    155584    15667   312268     258936   111189   11440     240239   111465
9     74739     7888   153620     102729    47865    4990      99772    46743
10   630353    58143  1211792      48013    24027    2699      50746    24795
11    29607    29871    59478     440556   160204   29593     398473   151883
12   133880    92153   226033      19415     9298     894      19251     9449
13   255806   234281   499087     104036    25763    4081      64074    20174
14   348304   332438   680742     168391    71842   15573     148840    68726
15    59384    56858   116162     234386    98864   15054     218684    96290
16    73088    71730   144818      37977    18649    2678      35006    18332
17   191022   176000   367022      49985    21351    1752      47122    20412
18   847592   821684  1669276     139899    45104    6019     124864    41525
19    74968    74775   149743     572728   231947   42917     557389   217353
20    27991    25759    53750      51886    20696    2386      50125    20340
21  4318699  4100973  8419672      18227     7839    1925      17353     6953
22      NaN      NaN      NaN    2975446  1165866  177387    2752582  1121000

             Homens  ...    Mulheres            Meninos                 \
    Viúvas  Brancos  ... Analfabetos Frequentam escolas Não frequentam
0   Viúvas     6911  ...       24195                824           5056
1     1720    49663  ...       98513               5768          25753
2     6085    52267  ...      117963               8739          28142
3     7520    22208  ...       78012               1777          15960
4     5187   136940  ...      317964              10021          83808
5    14509    52835  ...       92018               2643          18662
6     5588    73475  ...      163279               6630          44061
7     9661   149930  ...      316287              14069          82133
8    19242    45343  ...      140870               5455          34261
9    10169    24358  ...       68434               3402          14934
10    3340   178605  ...      494304              22260         119426
11   31083    13555  ...       27368               1564           5323
12    1171    96255  ...       58101               5788          10449
13    7905   160595  ...      189678              12622          32019
14   16715   221260  ...      284348              15069          71271
15   17464    35936  ...       44056               2558           9666
16    3520    63502  ...       63731               3100          15676
17    4196   136094  ...      137659               9947          36222
18    9611   421861  ...      743413              19968          66983
19   46942    21152  ...       67788               2566          16864
20    4310     9027  ...       21951                881           5401
21    1453  1971772  ...     3549992             155651         786131
22  227391      NaN  ...         NaN                NaN            NaN

                      Meninas                            Casas              \
     Total Frequentam escolas Não frequentam   Total Habitadas Desabitadas
0     5880                371           3269    3640      7661         229
1    31521               3441          25020   28461     38978        2077
2    36881               4844          29567   34411     47166        1405
3    17737               1024          16968   17992     29208         223
4    93829               5399          85087   90486     99901        2989
5    21305               2058          19857   21915     36710         706
6    50691               3894          45830   49724     43767         522
7    96202               9301          80960   90261    133920        4381
8    39716               4028          34726   38754     55894        2030
9    18336               1832          17333   19165     25542         567
10  141686              81743         113313  195056    176032        5479
11    6887                722           5101    6823     10742        1079
12   22237               4258          15019   19277     29045        1873
13   44641               8194          33089   41283     88698        2844
14   86340               8544          73915   82458     65778        1000
15   12224               1866          10762   12628     18903         259
16   18776               2114          15473   17587     19608         528
17   46169               7947          33292   41239     60199        1741
18  125012              11940         112824  124764    275611        3629
19   19430               1240          16982   18222     25196         487
20    6282                338           6187    6525      7501         102
21  941782             165098         795574  960672   1296060       34150
22     NaN                NaN            NaN     NaN       NaN         NaN


      Total
0      7890
1     41055
2     48571
3     29431
4    102890
5     37416
6     44289
7    188301
8     57924
9     26109
10   181511
11    11821
12    80918
13    91542
14    66778
15    19162
16    20136
17    61940
18   279240
19    25683
20     7603
21  1330210
22      NaN

[23 rows x 38 columns]

In [203]:
df_save = format_br_003(df_1872_003_br)
df_save.to_csv('br-1872-003.csv', index=False)

In [204]:
filename2 = "br-1872-003.csv"
df_csv = pd.read_csv(filename2)
df_csv

,Gêneros,Gêneros.1,Gêneros.2,Homens,Homens.1,Homens.2,Mulheres,Mulheres.1,Mulheres.2,Homens.3,...,Mulheres.12,Meninos,Meninos.1,Meninos.2,Meninas,Meninas.1,Meninas.2,Casas,Casas.1,Casas.2
0,Homens,Mulheres,Total,Solteiros,Casados,Viúvos,Solteiras,Casadas,Viúvas,Brancos,...,Analfabetos,Frequentam escolas,Não frequentam,Total,Frequentam escolas,Não frequentam,Total,Habitadas,Desabitadas,Total
1,30983,2564,56631,Solteiros,Casados,Viúvos,Solteiras,Casadas,Viúvas,6911,...,24195,824,5056,5880,371,3269,3640,7661,229,7890
2,128589,11919,247779,24959,5105,919,19214,4714,1720,49663,...,98513,5768,25753,31521,3441,25020,28461,38978,2077,41055
3,141942,14215,284101,94848,28935,4806,86825,26280,6085,52267,...,117963,8739,28142,36881,4844,29567,34411,47166,1405,48571
4,90322,8810,178427,103283,33644,5015,102302,32337,7520,22208,...,78012,1777,15960,17737,1024,16968,17992,29208,223,29431
5,350906,33886,689773,63294,23323,3705,59547,23371,5187,136940,...,317964,10021,83808,93829,5399,85087,90486,99901,2989,102890
6,112721,10823,220959,241692,99915,9299,224509,99849,14509,52835,...,92018,2643,18662,21305,2058,19857,21915,36710,706,37416
7,179433,17526,354700,80803,26832,5086,75915,26735,5588,73475,...,163279,6630,44061,50691,3894,45830,49724,43767,522,44289
8,381565,37094,752511,119403,53474,6556,112332,53274,9661,149930,...,316287,14069,82133,96202,9301,80960,90261,133920,4381,188301
9,155584,15667,312268,258936,111189,11440,240239,111465,19242,45343,...,140870,5455,34261,39716,4028,34726,38754,55894,2030,57924
10,74739,7888,153620,102729,47865,4990,99772,46743,10169,24358,...,68434,3402,14934,18336,1832,17333,19165,25542,567,26109
11,630353,58143,1211792,48013,24027,2699,50746,24795,3340,178605,...,494304,22260,119426,141686,81743,113313,195056,176032,5479,181511
12,29607,29871,59478,440556,160204,29593,398473,151883,31083,13555,...,27368,1564,5323,6887,722,5101,6823,10742,1079,11821
13,133880,92153,226033,19415,9298,894,19251,9449,1171,96255,...,58101,5788,10449,22237,4258,15019,19277,29045,1873,80918
14,255806,234281,499087,104036,25763,4081,64074,20174,7905,160595,...,189678,12622,32019,44641,8194,33089,41283,88698,2844,91542
15,348304,332438,680742,168391,71842,15573,148840,68726,16715,221260,...,284348,15069,71271,86340,8544,73915,82458,65778,1000,66778
16,59384,56858,116162,234386,98864,15054,218684,96290,17464,35936,...,44056,2558,9666,12224,1866,10762,12628,18903,259,19162
17,73088,71730,144818,37977,18649,2678,35006,18332,3520,63502,...,63731,3100,15676,18776,2114,15473,17587,19608,528,20136
18,191022,176000,367022,49985,21351,1752,47122,20412,4196,136094,...,137659,9947,36222,46169,7947,33292,41239,60199,1741,61940
19,847592,821684,1669276,139899,45104,6019,124864,41525,9611,421861,...,743413,19968,66983,125012,11940,112824,124764,275611,3629,279240
20,74968,74775,149743,572728,231947,42917,557389,217353,46942,21152,...,67788,2566,16864,19430,1240,16982,18222,25196,487,25683
21,27991,25759,53750,51886,20696,2386,50125,20340,4310,9027,...,21951,881,5401,6282,338,6187,6525,7501,102,7603
22,4318699,4100973,8419672,18227,7839,1925,17353,6953,1453,1971772,...,3549992,155651,786131,941782,165098,795574,960672,1296060,34150,1330210
23,NaN,NaN,NaN,2975446,1165866,177387,2752582,1121000,227391,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
df_csv.columns

Index(['Gêneros', 'Gêneros.1', 'Gêneros.2', 'Homens', 'Homens.1', 'Homens.2',
       'Mulheres', 'Mulheres.1', 'Mulheres.2', 'Homens.3', 'Homens.4',
       'Homens.5', 'Homens.6', 'Mulheres.3', 'Mulheres.4', 'Mulheres.5',
       'Mulheres.6', 'Homens.7', 'Homens.8', 'Mulheres.7', 'Mulheres.8',
       'Homens.9', 'Homens.10', 'Mulheres.9', 'Mulheres.10', 'Homens.11',
       'Homens.12', 'Mulheres.11', 'Mulheres.12', 'Meninos', 'Meninos.1',
       'Meninos.2', 'Meninas', 'Meninas.1', 'Meninas.2', 'Casas', 'Casas.1',
       'Casas.2'],
      dtype='object')